[2021-12-17 13:55] hydai commented on #908
If you are on a limited machine, please use `make -j <your cpu core number>` to limit the building process number.

[2021-12-20 02:58] apepkuss opened #909 "What's the appropriate workflow to access the data stored in a WasmEdge Table instance"
## Environment

- Hardware Architecture: x86\_64
- Operating system: Ubuntu 20.04
- WasmEdge: 0.9.0
- API: C-API `WasmEdge_TableInstanceGetData`

## Description

I'm testing the APIs of the `Table` struct of WasmEdge Rust binding, and feel confused about the error message returned by the `get_data` method (in fact, the error is returned by the C-API `WasmEdge_TableInstanceGetData`). My steps are l

[2021-12-20 06:28] q82419 commented on #909
For the API `WasmEdge_Result WasmEdge_TableInstanceGetData(const WasmEdge_TableInstanceContext *Cxt, WasmEdge_Value *Data, const uint32_t Offset)`, the error you got will happen if the `Cxt` or the return `Data` is a `NULL` in C/C++. Please check the table instance context and the return data address you set are available.
And also, for the table instance created by the limit `[10, 20]`, the table

[2021-12-20 09:38] apepkuss opened #911 "[C-API] The same API doc comments for two different APIs"
## Description

In [wasmedge.h](https://github.com/WasmEdge/WasmEdge/blob/master/include/api/wasmedge/wasmedge.h#L1194-L1211), `WasmEdge_CompilerCreate` and `WasmEdge_CompilerCompile` have the exactly same doc comments. Could you please refactor the doc comments for the involved APIs? Thanks a lot!

[2021-12-20 10:47] #439 closed

[2021-12-21 01:51] apepkuss commented on #909
@q82419 Thanks for your quick reply. I'll try it again.

[2021-12-21 02:49] apepkuss commented on #909
Hi @q82419,

Could I perform `get_data` to access the data at a legal position in the table before calling `set_data`? If not, then error code is `0x04` and message is `"Wrong VM's workflow"`, right? If yes, the error message could be inappropriate. It could be better if it's more precise, like "access the table before setting it".

[2021-12-21 06:05] #388 closed

[2021-12-21 06:58] q82419 commented on #911
Thanks for figuring out.

[2021-12-21 07:05] q82419 commented on #909
It's legal for accessing data before `set_data`, and the `WasmEdge_ValueIsNullRef` with the returned value will be `TRUE`.
Can you help to check the input of `WasmEdge_TableInstanceGetData` or provide the detailed code you wrote?
As mentioned above, the `"Wrong VM's workflow"` will only happen when the context or the output data address is `nullptr`.

[2021-12-21 08:13] apepkuss commented on #909
Hi @q82419,

The test code below is for the scenario mentioned above. Even if the index is changed to a value in the scope of the capacity, the low-level C-API still returns the error code `0x04`.

![image](https://user-images.githubusercontent.com/4726889/146894588-ccb32f56-ae45-4697-9416-5c6a30dcb67a.png)

[2021-12-21 09:04] apepkuss opened #913 "[C-API] The default return value of WasmEdge_StatisticsGetInstrPerSecond"
## Environment

- Hardware Architecture: x86\_64
- Operating system: Ubuntu 20.04
- WasmEdge: 0.9.0
- API: C-API `WasmEdge_StatisticsGetInstrPerSecond`

## Description

When I tested Rust binding to C-API WasmEdge_StatisticsGetInstrPerSecond, the return value is `NaN`. It would be better to return `0.0`. To reproduce the issue, please follow the steps below:

1. Create a Statistics instance by cal

[2021-12-21 11:02] #911 closed

[2021-12-21 12:35] #405 closed

[2021-12-22 23:05] juntao opened #925 "Support the Anna KVS"
## Motivation

In many cloud native wasm use cases, the application need to access a stateful data store. The Anna project provides a cloud native KVS for edge nodes. We should support WasmEdge applications to read / write Anna data stores via host functions.

## Details

Create a C-based application that wraps around WasmEdge. It will

* Starts WasmEdge
* Register Anna read / write functions as h

[2021-12-23 07:45] hydai opened #930 "[Proposal] Implement multi-memory proposal"
## Motivation

We would like to pass this example. However, WasmEdge doesn't support multi-memory proposal, so it's not possible to run it currently.

https://radu-matei.com/blog/intro-wasm-components/

[2021-12-23 08:51] chenyukang commented on #913
/assign

[2021-12-23 09:40] hydai commented on #913
Instruction per second = Total executed instructions / total execution time.
If the statistics is not enabled or the total execution time is `0.0`. Then, the instruction per second should be `Nan` which represents something is divided by zero.

https://github.com/WasmEdge/WasmEdge/pull/919#discussion_r773607515

[2021-12-23 09:40] #913 closed

[2021-12-23 13:03] arcosx commented on #563
Do we have an example of using `BindgenFunc` in C or C++? I can not found in this doc https://wasmedge.org/book/en/embed/c/ref.html

[2021-12-23 18:56] hydai commented on #563
C API doesn't yet support `Bindgen`. However, we welcome any contribution to this feature :-).

[2021-12-23 23:14] #372 closed

[2021-12-24 14:09] KernelErr opened #943 "[Misc] Beautify help information"
The output text of the current help command is too compact, making it difficult for the user to read. Hopefully, the formatting can be spruced up and ASNI color codes used.

[2021-12-24 14:13] KernelErr commented on #943
I have opened a pull request for this advice: #944

[2021-12-25 13:12] KernelErr opened #946 "[Utils] Uninstall script does not remove lines in .zshrc"
After testing WasmEdge on Raspberry Pi, I ran the uninstall script. However, the following lines are found to remain and cause some warning notice.

~/.zprofile

[code]

~/.zshrc

[code]

[2021-12-25 14:22] SAtacker commented on #946
Thanks for this. On it.

[2021-12-27 07:06] #443 closed

[2021-12-27 10:14] #943 closed

[2021-12-28 06:46] hydai opened #950 "[WASI-Socket] The `sendto` function is not implemented in our component"
## Description

We have defined the `send_to` function in the [Rust SDK: wasmedge_wasi_socket](https://github.com/second-state/wasmedge_wasi_socket/blob/main/src/lib.rs#L312-L329).
However, there is no related implementation in WasmEdge.

### Current State

`sendto` is not implemented.

### Expected

Implemente `send_to`.

[2021-12-29 09:08] liudonghua123 opened #953 "execution failed: unreachable, Code: 0x89 In instruction: unreachable (0x00) , Bytecode offset: 0x0000a64d When executing function name: "_start""
## Description

I installed the wasmedge on my win 11. And then I followed the docs on https://wasmedge.org/book/en/dev/rust.html.

### Current State

[code]

### Expected

Work as expected on windows platform.

## Environment

- Hardware Architecture: x64
- Operating system: Microsoft Windows [Version 10.0.22000.376]

[code]

## Steps to Reproduce

1. rustup target add wasm32-wasi
2. cargo new he

[2021-12-29 09:23] liudonghua123 commented on #953
I also tried to use `wasmer` to execute the wasm, it worked.

[code]

[2021-12-30 04:03] hydai commented on #953
Hi @liudonghua123
Thanks for reporting this. I am going to reproduce this and try to figure out. Chat soon.

[2021-12-30 09:33] #946 closed

[2021-12-30 10:24] YHM404 opened #961 "[C-API] Not implement `WasmEdge_VMExecuteByFuncref` API."
## Description

When implementing the [`substrate`](https://github.com/paritytech/substrate/blob/master/client/executor/common/src/wasm_runtime.rs#L81) runtime API, I need to call the corresponding wasm or export ’Function‘ through `Funcref`.
If I want call a `wasm function` in `wasmtime`, I can invoke a method like this: `call(&Funcref, Store, &TableName, &InputData, &OutputData)`.
Does wasmedge

[2021-12-31 06:28] KernelErr commented on #600
Hi, it seems that it's possible to run RustPython on WasmEdge. How could I help? Should I write a document?

![image.png](https://s2.loli.net/2021/12/31/EP541duYa8WnqmG.png)

[2021-12-31 07:58] juntao commented on #600
Yes. Please add a `python.md` document in this folder:

https://github.com/WasmEdge/WasmEdge/tree/master/docs/book/en/src/dev

I would like to know how to build a Python program with `pip` dependencies and run it in WasmEdge. Note that WasmEdge has its own network socket API -- so the standard networking code in Python is probably not going to work out if the box.

[2022-01-02 09:08] juntao opened #966 "[Install] wget or curl"
It seems that many projects are using `curl`, instead of `wget`, for their one-line install script -- possibly because `curl` is available by default on more platforms.

https://daniel.haxx.se/docs/curl-vs-wget.html

What do we think? Shall we switch to `curl`?

[2022-01-02 09:15] SAtacker commented on #966
Currently the script supports both. If you mean we prefer to check first for curl and then for wget it's quite doable. If curl is more preferred then I'll make a PR.
Also including the changes in the installation documentation.
Thanks for this.

[2022-01-03 21:16] #966 closed

[2022-01-04 02:25] O3Ol opened #975 "[OHOS] Unsupported environment on LiteOS"
## Description
When I try to build WasmEdge on [OHOS LiteOS](https://www.openharmony.cn/pages/00020100/#%E7%AE%80%E4%BB%8B), it returned errors in 'defines.h'.

## Environment

- Hardware Architecture: arm32
- Operating system: OpenHarmony

## Steps to Reproduce
[code]

[2022-01-04 02:31] O3Ol commented on #975
And I compile on OpenHarmony LiteOS based on linux core too,  it returned errors:
[code]

[2022-01-04 03:19] hydai commented on #975
For the `#error Unsupported environment!` error, because we only check the `macos`, `windows` and `linux` macro. I have no idea what's the related macro defined in LiteOS.

And the next two errors, I will need some time to check it.

[2022-01-04 05:04] O3Ol commented on #975
The next two errors are solved by using the source code on `0.9.0`. I will check the related macro defined in LiteOS.

[2022-01-04 13:44] apepkuss opened #977 "[C-API] Issues related to WasmEdge_TableInstanceGetData and WasmEdge_TableInstanceSetData"
## Environment

- Hardware Architecture: aarch64
- Operating system: Ubuntu 20.04 (WasmEdge official docker image)
- C-API version: 0.9.0
- The relevant C-APIs: `WasmEdge_TableInstanceGetData`, `WasmEdge_TableInstanceSetData`

## Description

I'm testing the rust APIs of the `Table` struct and found an issue related to the `get_data` function which wraps the C API `WasmEdge_TableInstanceGetData`.

[2022-01-04 14:05] #765 closed

[2022-01-04 14:05] #766 closed

[2022-01-04 14:56] apepkuss commented on #977
Sorry, the issues mentioned above are caused by rust APIs.

[2022-01-04 14:56] #977 closed

[2022-01-04 15:05] hydai commented on #953
Hi @liudonghua123
Looks like the return value of the output related function is wrong: https://github.com/WasmEdge/WasmEdge/blob/master/lib/host/wasi/inode-win.cpp#L133

I am going to do some tests and fix this.

[2022-01-05 04:00] harytary commented on #550
@juntao
I would like to contribute to this repo, just to get my feet wet I am thinking of fixing [Code Quality] issues.
I think this is false positive as there is no actual resource acquisition when we call native system calls like open(), socket();
so if there is any failure we just collect 'errno'. Please correct if my understanding is quite wrong and suggest me whether
we should mark them as fa

[2022-01-05 04:00] harytary commented on #549
@juntao
I would like to contribute to this repo, just to get my feet wet I am thinking of fixing [Code Quality] issues.
I think this is false positive as there is no actual resource acquisition when we call native system calls like open(), socket();
so if there is any failure we just collect 'errno'. Please correct if my understanding is quite wrong and suggest me whether
we should mark them as fa

[2022-01-05 04:00] harytary commented on #534
@juntao
I would like to contribute to this repo, just to get my feet wet I am thinking of fixing [Code Quality] issues.
I think this is false positive as there is no actual resource acquisition when we call native system calls like open(), socket();
so if there is any failure we just collect 'errno'. Please correct if my understanding is quite wrong and suggest me whether
we should mark them as fa

[2022-01-05 04:00] harytary commented on #533
@juntao
I would like to contribute to this repo, just to get my feet wet I am thinking of fixing [Code Quality] issues.
I think this is false positive as there is no actual resource acquisition when we call native system calls like open(), socket();
so if there is any failure we just collect 'errno'. Please correct if my understanding is quite wrong and suggest me whether
we should mark them as fa

[2022-01-05 04:04] harytary commented on #528
@juntao
I am interested in this repo, I would like start contributing.
Could you please assign this to me, I have my dev env setup done and I am thinking of doing a null check on GlobInst pointer before accessing it.

[2022-01-05 04:07] harytary commented on #527
@hydai
Could you please assign this to me, I have my dev env setup done and I am thinking of doing a null check on GlobInst pointer before accessing it.

[2022-01-05 08:07] qqeasonchen commented on #632
hi, EventMesh just released 1.3.0 and support cloudevents, let's continue :)

[2022-01-05 08:37] #524 closed

[2022-01-05 09:39] alabulei1 opened #986 "Update Roadmap 2022"
2022 is arrived. We should update the roadmap 2022.

[2022-01-05 10:25] sonder-joker commented on #410
# This Week
Already finish most of feature.
1. Recheck return error code.
2. Refactor most of design.
3. Can add more unit test.
4. Replace `std::optional<std::shared_ptr<T>>` with `std::shared_ptr<T>` for optional
5. Replace rust-like lock design with c++ lock design. Thre previous way would get a `std::optional<std::shared_ptr<Mutex<std::unique_ptr<T>>>>` wrapper

[2022-01-05 12:58] O3Ol commented on #975
The related macro defined in LiteOS may be ' defined(__LITEOS__) '. More detailed, 'defined(__LITEOS_M__)' for LiteOS-M and 'defined(__LITEOS_A__)' for LiteOS-A.

[2022-01-05 13:58] apepkuss opened #988 "[C-API] Two potential issues found when using the different versions of libwasmedge.so"
## Environment

- Hardware Architecture: aarch64
- Docker image: appdev_aarch64:0.9.0
- Operating system: Ubuntu 20.04
- libwasmedge.so
  - Release 0.9.0
  - Master branch: commit 8c9c564b

## Steps to Reproduce

I created a test function (see below) for testing the `Table` struct and its APIs in `wasmedge-sys`. The test code runs twice against the two versions of `libwasmedge.so`: one is release

[2022-01-05 14:11] #528 closed

[2022-01-05 14:24] q82419 commented on #988
And also, I suggest to use the `WasmEdge_ValueGetExternRef` to retrieve the `externref`, or use the `WasmEdge_ValueGetFuncIdx` to retrieve the `funcref` instead of directly using the returned `WasmEdge_Value`.

[2022-01-05 14:47] apepkuss commented on #988
@q82419 Thanks for your quick reply. As you mentioned, the original design of the `get_data` is problematic, and hence the PR #980 is launched to fix the issues. In addition, I also launched another PR #982 which could also fix some issues related to WasmEdge_Value. I'll check the issues again after PR #982 is merged. Thanks again!

[2022-01-05 14:53] hydai commented on #732
This is merged: https://github.com/WasmEdge/WasmEdge/commit/1c0d0042847c493b02af42292f87b99e497bc68b

However, the GitHub doesn't mark it resolved. So I am closing this manually.

[2022-01-05 14:53] #732 closed

[2022-01-05 14:53] hydai commented on #730
This is merged: https://github.com/WasmEdge/WasmEdge/commit/1c0d0042847c493b02af42292f87b99e497bc68b

However, the GitHub doesn't mark it resolved. So I am closing this manually.

[2022-01-05 14:53] #730 closed

[2022-01-05 14:53] hydai commented on #738
This is merged: https://github.com/WasmEdge/WasmEdge/commit/1c0d0042847c493b02af42292f87b99e497bc68b

However, the GitHub doesn't mark it resolved. So I am closing this manually.

[2022-01-05 14:53] #738 closed

[2022-01-05 14:53] hydai commented on #739
This is merged: https://github.com/WasmEdge/WasmEdge/commit/1c0d0042847c493b02af42292f87b99e497bc68b

However, the GitHub doesn't mark it resolved. So I am closing this manually.

[2022-01-05 14:53] #739 closed

[2022-01-05 14:53] hydai commented on #723
This is merged: https://github.com/WasmEdge/WasmEdge/commit/1c0d0042847c493b02af42292f87b99e497bc68b

However, the GitHub doesn't mark it resolved. So I am closing this manually.

[2022-01-05 14:53] #723 closed

[2022-01-05 14:54] hydai commented on #734
This is merged: https://github.com/WasmEdge/WasmEdge/commit/1c0d0042847c493b02af42292f87b99e497bc68b

However, the GitHub doesn't mark it resolved. So I am closing this manually.

[2022-01-05 14:54] #734 closed

[2022-01-05 14:54] #728 closed

[2022-01-05 14:54] #722 closed

[2022-01-05 14:54] hydai commented on #715
This is merged: https://github.com/WasmEdge/WasmEdge/commit/1c0d0042847c493b02af42292f87b99e497bc68b

However, the GitHub doesn't mark it resolved. So I am closing this manually.

[2022-01-05 14:54] hydai commented on #714
This is merged: https://github.com/WasmEdge/WasmEdge/commit/1c0d0042847c493b02af42292f87b99e497bc68b

However, the GitHub doesn't mark it resolved. So I am closing this manually.

[2022-01-05 14:54] #714 closed

[2022-01-05 14:55] #720 closed

[2022-01-05 14:55] hydai commented on #719
This is merged: https://github.com/WasmEdge/WasmEdge/commit/1c0d0042847c493b02af42292f87b99e497bc68b

However, the GitHub doesn't mark it resolved. So I am closing this manually.

[2022-01-05 14:55] #719 closed

[2022-01-05 14:55] hydai commented on #707
This is merged: https://github.com/WasmEdge/WasmEdge/commit/1c0d0042847c493b02af42292f87b99e497bc68b

However, the GitHub doesn't mark it resolved. So I am closing this manually.

[2022-01-05 14:55] #707 closed

[2022-01-05 14:55] hydai commented on #717
This is merged: https://github.com/WasmEdge/WasmEdge/commit/1c0d0042847c493b02af42292f87b99e497bc68b

However, the GitHub doesn't mark it resolved. So I am closing this manually.

[2022-01-05 14:55] #717 closed

[2022-01-05 15:39] KernelErr commented on #448
Hi, I'm wondering if we could make an installer for WasmEdge. You know the situation of Windows is quite different. I think we could make an installer and upload it to https://github.com/microsoft/winget-pkgs repo. So users can use `winget` command to install WasmEdge in their Powershell. @juntao

[2022-01-05 16:59] juntao commented on #448
Sure! Can you do this?

[2022-01-06 00:51] KernelErr commented on #448
On it. I will try to pack an installer using Visual Studio.

[2022-01-06 02:09] apepkuss commented on #988
@q82419 I tried the test code again after merging #982. The printed results are same now:
[code]
The root reason of the first inconsistent results is that the original design uses the `Value` field of the returned WasmEdge_Value directly when dealing with `funcref`, but not uses `WasmEdge_ValueIsNullRef` first to check if the returned value is a null reference or not. The second issue also does no

[2022-01-06 02:09] #988 closed

[2022-01-06 03:31] q82419 commented on #909
Hi @apepkuss ,

I saw the #988 was closed. Is this issue cleared?
Thanks.

[2022-01-06 03:36] apepkuss commented on #909
@q82419 Yes, the issue has been fixed by PR #980. It was caused by the inappropriate implementation of `get_data`.

[2022-01-06 03:36] apepkuss commented on #909
Closed by #980.

[2022-01-06 03:36] #909 closed

[2022-01-06 04:08] KernelErr commented on #448
I packed an MSI installer and wrote a manifest for winget. How do you like to publish the installer binary? Upload it to GitHub release or create a new repository for it?

[2022-01-06 04:45] juntao commented on #448
Thanks! I think uploading to the GitHub release repo is the best approach.

[2022-01-06 04:47] hydai commented on #448
We have windows CI workers on GitHub. Maybe we can use CI to build and also upload to the nightly build / release directly.

[2022-01-06 04:56] KernelErr commented on #448
That's a good idea, and it's more convenient than manual packaging. I would figure out how to create a CI worker for it. Hope there is a way. :)

[2022-01-06 05:17] hydai commented on #961
Hi @CQUPTYHM
Do you have any code example of this feature? It's really hard to evaluate this with only one line. Please provide a full example with context.

[2022-01-06 05:43] LFsWang opened #990 "[WASI-Socket] The `recv_from` function is not implemented in our component"
## Description

### Current State

We have defined the `recv_from` function in the [Rust SDK: wasmedge_wasi_socket](https://github.com/second-state/wasmedge_wasi_socket/blob/ad123cc17ea42fa764b85db3e7c310f4630b93d1/src/lib.rs#L288).
However, there is no related implementation in WasmEdge.

### Expected

## Environment

- Hardware Architecture: (e.g. x86\_64 or aarch64)
- Operating system: (e.g. Ub

[2022-01-06 07:50] KernelErr opened #991 "[Misc] ANSI Code Support for different terminals"
I once opened a PR to beautify the help output. (#944) And it's should work fine in most terminals.
However, I found that in Windows' native PowerShell and CMD, ANSI colors could not be handled. So raw text would be printed:

![image.png](https://s2.loli.net/2022/01/06/SQCjskxPwuTe7DH.png)

Only  Windows Terminal could handle it:

![image.png](https://s2.loli.net/2022/01/06/Iq1n6mrtKFE4M7G.png)

T

[2022-01-06 07:57] hydai commented on #991
The powershell does support ASCII, however, the default value is off. We should find a way to enable it instead of using the windows only color code.

https://stackoverflow.com/questions/51680709/colored-text-output-in-powershell-console-using-ansi-vt100-codes

Adding some code to enable the setting is fine.

[2022-01-06 08:49] KernelErr commented on #448
Created PR #993 for it. :D

[2022-01-06 15:45] hydai commented on #975
Which one is the target platform? `LITEOS-M` or `LITEOS-A`?

[2022-01-07 01:41] O3Ol commented on #975
The target platform is `LITEOS-A`.

[2022-01-07 04:22] O3Ol commented on #975
I build on LIteOS with linux kernel, and it return as following.What's wrong with it?
[code]

[2022-01-07 06:17] KernelErr opened #996 "[Integration] RustPython slow to start and exit with error"
Hi, I compiled RustPython for `wasm32-wasi` target. However, I found that WasmEdge would take much more time to have a Python shell than wasmtime and wasmer.

WasmEdge version: 0.9.0

Time:

- WasmEdge: ~40s
- Wasmtime: ~1s
- Wasmer: ~5s

Module File(PR: https://github.com/RustPython/RustPython/pull/3514):

[rustpython.wasm.zip](https://github.com/WasmEdge/WasmEdge/files/7826880/rustpython.wasm.zi

[2022-01-07 06:39] KernelErr commented on #996
Update: Using `wasmedgec` to compile wasm to so file can have the same starting time. I would point it out in later document.

[2022-01-07 06:42] KernelErr commented on #996
After `exit()`, wasmedge would throw out an unexpected error. The platform is Linux and wasmedge version is 0.9.0.

![image](https://user-images.githubusercontent.com/45716019/148503019-8830b0cb-041a-4eb4-a7cc-8e9675bf34b1.png)

[2022-01-07 07:48] juntao commented on #996
Let's do a profiler report like this to identify the bottlenecks.

https://github.com/WasmEdge/WasmEdge/issues/473

[2022-01-07 09:21] KernelErr commented on #996
I compiled the latest commit(eda17462c3bafc432a1f70e5886a99ba7dae0912) and ran valgrind to check bottleneck:

[code]

There are some points I found:

- The latest code would take a much much longer time to start. (After several seconds, I still couldn't get a Python shell)
- Compile to `so` file, we can get Python shell in seconds.
- After executing `exit(0)` in Python, there is still an error. `_

[2022-01-07 10:35] hydai commented on #975
Then, please send a PR to enable the `LITEOS-A` macro checker.

[2022-01-07 12:39] CQUPTYHM commented on #961
Hi @hydai
If I got a `Table index`, I can invoke a method like:
`
WasmEdge_VMContext *VMCxt = /*return a VM context*/
/*
load, validate, instantiate module....
*/

table_index = 10
TableInstance table = /*return a table instance*/

Funcref ref = GetRefFromTable(table, table_index)

res = WasmEdge_VMExecuteByFuncref(VMcxt, ref, Params, 1, Returns, 1)
`

[2022-01-10 08:19] hydai commented on #961
Do you have any example which is used from the current substrate implementation? For example, how do the `wasmi` or `wasmtime` use this feature.

[2022-01-11 06:23] alabulei1 commented on #649
@hangedfish Hi, I noticed that you are working on Android support for WasmEdge. Great work! Would you consider pushing this feature upstream when it is ready? Thank you!

[2022-01-11 08:14] #953 closed

[2022-01-11 09:54] #695 closed

[2022-01-11 10:12] KernelErr commented on #600
@juntao Yes, you are right! RustPython in WasmEdge support pure computations, limited file system access. But for the network, RustPython directly disabled socket support for `wasi` platform. Now I'm implementing my own as a proof of concept:

https://github.com/KernelErr/RustPython/tree/wasmedge-socket

Send feature is now supported.

![image](https://user-images.githubusercontent.com/45716019/14

[2022-01-11 10:18] juntao commented on #600
Excellent. Just to make sure that I understand -- you implemented a Python networking API (send) using Rust + the WasmEdge WASI socket SDK, right?

[2022-01-11 10:33] KernelErr commented on #600
Yes, I implemented a Python API in Rust, and used `wasmedge_wasi_socket`. RustPython's standard library have two layers, the first layer is pure Python, and some lower level feature needs Rust.

[2022-01-12 02:21] CQUPTYHM commented on #961
[code]

[2022-01-12 02:27] CQUPTYHM commented on #961
fn extern_func(extern_: &Extern) -> Option<&Func> {
	match extern_ {
		Extern::Func(func) => Some(func),
		_ => None,
	}
}

[code]

[2022-01-12 06:14] KernelErr opened #1003 "[Utils] Uninstall script does not remove include dir"
After using uninstall script, empty directory `~/.wasmedge/include` were found left.

![image](https://user-images.githubusercontent.com/45716019/149073862-06afb8e5-77a9-4059-bc13-c86b86b9dcdc.png)

I think we should fix this and may add script tests to CI.

[2022-01-13 02:39] sonder-joker commented on #410
# This Week
Now the proposal implementation enters the final step.
- [ ] Some TODO in code
- [ ] Export SDK
- [ ] Add more detailed comment on code
- [ ] Create doc about how to use this module in WasmEdge.

[All necessary algorithms have been implemented except the recommended three algorithms](https://github.com/WebAssembly/wasi-crypto/blob/main/docs/wasi-crypto.md#algorithms)

[2022-01-13 05:05] KernelErr opened #1007 "[Proposal] WASM Module Linking Proposal"
Currently, WasmEdge seems does not support the module linking proposal. As a result, section id 14 could not be recognized.

![image](https://user-images.githubusercontent.com/45716019/149268723-b6c657e7-b591-469b-b9c0-15231b80ddf1.png)

[2022-01-13 05:24] hydai commented on #1007
@q82419 Could you please check this?
Is module linking a proposal that is not supported by WassmEdge? If so, why we can pass the linking test suites in the spec tests.

[2022-01-13 06:14] q82419 commented on #961
Sorry that I cannot fully understand your code.
[code]
Can you describe that what the `func` really is?
Thanks.

[2022-01-13 06:15] q82419 commented on #1007
The module linking is supported by WasmEdge but we didn't implement and export in CLI.

[2022-01-13 07:50] CQUPTYHM commented on #961
Sorry, `//let func: Func = instance.get_export(&mut self.store, "method_name").unwrap();` is redundant.

func is a instance of `[wastime::func::Func](https://docs.wasmtime.dev/api/wasmtime/struct.Func.html)` .

[2022-01-13 08:23] jedisct1 commented on #410
Congrats!

[2022-01-13 09:56] #930 closed

[2022-01-13 10:38] SAtacker commented on #1003
Thanks for this.

[2022-01-13 11:02] #1003 closed

[2022-01-14 09:39] KernelErr commented on #600
Update: I forked RustPython and made it support socket function. HTTP request feature is WIP.

Repo: https://github.com/KernelErr/RustPython
Doc: https://github.com/KernelErr/RustPython/blob/wasmedge-network/WASMEDGE.md

[2022-01-17 03:34] zhouruisong opened #1012 "run wasm file report "execution failed: out of bounds memory access, Code: 0x88" after using wasmedgec --generic-binary"
## run wasm file report "execution failed: out of bounds memory access, Code: 0x88" after using wasmedgec --generic-binary

### Current State
Open
### Expected
can run wasm file after using wasmedgec --generic-binary
## Environment

- Hardware Architecture: (linux amd64)
- Operating system: (CentOS 7)

- tinygo version 0.21.0 darwin/amd64 (using go version go1.17.3 and LLVM version 11.0.0)

## Ste

[2022-01-17 03:43] juntao commented on #1012
Thank you. Can you attach links to the source code file and the Wasm file (before wasmedgec)? We'd like to reproduce it on our end as well.

[2022-01-17 03:50] zhouruisong commented on #1012
I use **github.com/second-state/WasmEdge-go v0.9.0**
greet_memory2.go as follow:

    package main

    import (
	    "encoding/json"
	    "fmt"
	    "github.com/second-state/WasmEdge-go/wasmedge"
	    "os"
	    "strings"
    )

    const (
	    readpointer = "waterpiclib"
    )

    type WaterPic struct {
	    Sn          string `json:"sn"`
	    Inputpath   string `json:"inputpath"`
	    Fontoutp

[2022-01-17 08:00] daixiang0 opened #1013 "Feature compare with W3C roadmap"
Now WasmEdge does not show in the https://webassembly.org/roadmap, users may be confused about this, especially In-progress proposals.

[2022-01-17 08:33] hydai commented on #991
Fixed #994

[2022-01-17 08:33] #991 closed

[2022-01-17 08:50] hydai commented on #1007
Reference: https://radu-matei.com/blog/intro-wasm-components/

[2022-01-17 14:35] hangedfish commented on #649
well, I am glad to do that

[2022-01-17 15:58] redfave opened #1015 "Install script doesn't work in alpine Linux docker image"
### Current State
The install script throws an error during installation

### Expected
Install script should run successfully

## Environment
- Hardware Architecture: x86\_64
- Operating system: [alpine Linux 3.15.0 Docker image](https://hub.docker.com/_/alpine)

Dockerfile:
[code]
<details>

<summary>Output:</summary>

[code]
</details>

## Steps to Reproduce

` docker build .`

[2022-01-17 16:44] hydai commented on #1015
Hi @SAtacker
Would it be convenient if you can take a look on this issue?

[2022-01-17 16:47] #908 closed

[2022-01-17 16:49] SAtacker commented on #1015
Thanks for this. Taking a look.

[2022-01-17 16:58] SAtacker commented on #1015
There are two things I need to look for
[code]
and
[code]

[2022-01-17 17:43] SAtacker commented on #1015
It's really weird.
[code]
New branch that shows files are there https://raw.githubusercontent.com/SAtacker/WasmEdge/alpine_test/utils/install.sh

[2022-01-17 17:46] SAtacker commented on #1015
@hydai please can you check https://stackoverflow.com/questions/66963068/docker-alpine-executable-binary-not-found-even-if-in-path

[2022-01-17 17:51] SAtacker commented on #1015
On adding
<details>
<summary> Output</summary>
<br>
<blockquote>
++ /usr/local/bin/wasmedge --version
++ sed 's/^.*[^0-9]\([0-9]*\.[0-9]*\.[0-9]*\).*$/\1/'
Error loading shared library libstdc++.so.6: No such file or directory (needed by /usr/local/bin/wasmedge)
Error loading shared library ld-linux-x86-64.so.2: No such file or directory (needed by /usr/local/bin/wasmedge)
Error relocating /usr/lo

[2022-01-17 17:56] SAtacker commented on #1015
Adding `glibc` resolves the error [Reference](https://stackoverflow.com/questions/66963068/docker-alpine-executable-binary-not-found-even-if-in-path)
[code]

[2022-01-17 17:57] hydai commented on #1015
[code]

I checked it. The file existed.
The alpine is not using glibc by default. However, WasmEdge relies on glibc. To fix this on alpine, we should use the option 2 from the above link.

[2022-01-17 18:00] hydai commented on #1015
I am open for the discussions about how to fix it.
Should we check the glibc in the install script? Or should we install the glibc on alpine automatically when users run the install script? Or any other ideas?

[2022-01-17 18:19] SAtacker commented on #1015
Apparently, https://stackoverflow.com/questions/37818831/is-there-a-best-practice-on-setting-up-glibc-on-docker-alpine-linux-base-image is the best practice. But is there a way we could add compatibility across other versions of `libc` ?
For now, I can simply modify the script to install `glibc` on alpine.

[2022-01-17 19:39] SAtacker commented on #1015
Hi,
You can test it with
[code]

[2022-01-17 21:59] redfave commented on #1015
It works 😁
Thanks for fixing this so quick 💓

[2022-01-17 23:54] redfave commented on #1015
Update. The installation and also the rust toolchain for compiling wasm binaries for wasi is working but during the execution of wasmedge this message always pops up:
`
wasmedge: /usr/lib/libstdc++.so.6: no version information available (required by wasmedge)
`

It seems to be a common issue on [alpine](https://github.com/sgerrand/alpine-pkg-glibc/issues/80).
I have tried using `libstdc++` as well

[2022-01-18 02:54] alabulei1 commented on #649
Glad to hear that. Thanks for your work!

[2022-01-18 04:50] KernelErr opened #1016 "Performance bottleneck when running Ruby"
There is a pull request for adding WASI support of Ruby. Here is a compiled module(Original, not optimized):

[miniruby.zip](https://github.com/WasmEdge/WasmEdge/files/7886204/miniruby.zip)

However, while running the following script to calculate PI:

[code]

WasmEdge seems slower than other runtimes, even after AOT.

![image](https://user-images.githubusercontent.com/45716019/149872681-a290fd9f-

[2022-01-18 07:41] alabulei1 opened #1017 "[docs] Add Chinese translation for WasmEdge Book"
## Motivation

Now we have launched an all-in-one documentation book for the WasmEdge project in English. We still need more languages support for the WasmEdge Book, such as Chinese.

## Details

Translate the [WasmEdge Book](https://wasmedge.org/book/en/) to Chinese

## Appendix

Source file of WasmEdge Book: https://github.com/WasmEdge/WasmEdge/tree/master/docs/book/en

Source file of WasmEdge B

[2022-01-18 16:40] q82419 commented on #961
I recognized that your description is to get the function instance through a `funcref` in a table instance, and then invoke that function.

For the WasmEdge's architecture, we only support getting or invoking the function instances which are exported with names now -- it fits the isolation and security of WebAssembly.
In the nearly future, we will implement the `Execute` API to invoke the function

[2022-01-18 16:48] q82419 opened #1023 "Async APIs failed with passing the parameters"
## Description

### Current State

The async functions to execute WASM functions:
 - `WasmEdge_VMAsyncRunWasmFromFile`
 - `WasmEdge_VMAsyncRunWasmFromBuffer`
 - `WasmEdge_VMAsyncRunWasmFromASTModule`
 - `WasmEdge_VMAsyncExecute`
 - `WasmEdge_VMAsyncExecuteRegistered`

These functions will fail when passing parameters.
As the [code in API unit test](https://github.com/WasmEdge/WasmEdge/blob/yiying/

[2022-01-20 07:19] alabulei1 opened #1025 "WasmEdge support for android"
## Motivation

a lot of edge computing applications are running on the Android platform. We should add WasmEdge support for android.

## Details

No

## Appendix

https://android-developers.googleblog.com/2020/03/run-arm-apps-on-android-emulator.html?m=1

[2022-01-20 07:26] alabulei1 opened #1026 "WasmEdge TF lite extension support for android"
## Motivation

AI inference is one of the most common applications of edge computing. Now the WasmEdge TF lite extension could only be run on X86.

## Details

No.

## Appendix

No.

[2022-01-20 07:27] alabulei1 opened #1027 "WasmEdge images extension support for android"
## Motivation

same as #1026

## Details

No.

## Appendix

No.

[2022-01-20 12:09] #1023 closed

[2022-01-20 14:25] juntao opened #1029 "[Docs] Update JS documentation"
Cover async networking and streaming SSR

[2022-01-20 14:29] juntao opened #1030 "[Rust SDK] Support non blocking sockets in Rust"
As demonstrated in our QuickJS project, WasmEdge can now support non blocking network I/O. We need to add this feature to the wasmedge-wasi-socket Rust API too.

[2022-01-20 14:35] juntao opened #1031 "[Docs] Create a comprehensive async networking example in JS"
Ideally, it should demonstrate an I/O intensive application: it listens for http requests and then go out to make requests before responding. It will show that even a single threaded app can handle multiple concurrent requests.

[2022-01-20 14:38] juntao opened #1032 "[JS] provide performance measures for streaming SSR"
Can we use an existing benchmark or create our own benchmark? The benchmark should be I/O intensive.

We want to compare against Nextjs running in nodejs.

[2022-01-20 14:40] juntao opened #1033 "[JS] Update the JS host function example to the latest C API"
Need to fix the GitHub Actions CI in the WasmEdge QuickJS project.

[2022-01-21 02:32] bitoceango opened #1034 "unknown option: gas-limit"
## Description

### Current State

when it run the command follow by the wasmedge book
wasmedge --enable-all-statistics --gas-limit 20425 hello.wasm second state

i get an error

![image](https://user-images.githubusercontent.com/38564000/150455416-d34151bf-45db-4164-b8df-a8144dcd12fd.png)

### Expected
![image](https://user-images.githubusercontent.com/38564000/150455136-8bee82e8-9930-45da-90ff-5

[2022-01-21 03:13] q82419 commented on #1034
This option will be ready in version `0.9.1`.
The WasmEdge `0.9.0` not supports that yet.

[2022-01-21 03:13] #1034 closed

[2022-01-21 03:16] juntao opened #1035 "[Rust] Research API calls used in FVM"
The FVM project uses the wasmtime SDK to implement its on-chain VM.

https://github.com/filecoin-project/ref-fvm

We should investigate which wasmtime Rust SDK APIs it uses, and see how we can use the WasmEdge Rust SDK as a drop-in replacement in their build system.

More details about the FVM project: https://filecoin.io/blog/posts/introducing-ref-fvm-a-new-fvm-website-and-the-early-builders-prog

[2022-01-21 06:23] hydai commented on #1034
Reference: 0.9.1 changelog: https://github.com/WasmEdge/WasmEdge/blob/master/Changelog.md#091-unreleased

[2022-01-22 08:53] juntao opened #1039 "[JS] remove the CJS compiler feature flag"
We will standardize on the approach to use rollup.js to convert CJS modules to ES6, which can be directly utilized by WasmEdge.

[2022-01-22 08:56] juntao opened #1040 "[JS] Refactor the NPM example to use rollup"
It currently uses NCC and depends on the CJS feature flag. We will standardize on ES6 modules using rollup.

[2022-01-23 01:52] juntao opened #1043 "[JS] Support the fetch API in the HTTP module"
Linked to https://github.com/second-state/wasmedge-quickjs/issues/30

[2022-01-23 14:19] juntao opened #1045 "[Integration] Update the dapr example to use wasmedge-bindgen"
The image classification example in golang is currently implemented in `wasm-bindgen`. We will need to update it to `wasmedge-bindgen`. The working code branch is here:

https://github.com/second-state/dapr-wasm/tree/wasmedge-bindgen

[2022-01-24 05:07] juntao commented on #1033
Fixed and merged https://github.com/second-state/wasmedge-quickjs/pull/33

[2022-01-24 05:07] #1033 closed

[2022-01-25 09:14] LFsWang opened #1049 "[Socket] Socket Fd can not be closed"
## Description

### Current State

Socket Fd created by `SockOpen` can not be closed by `FdClose`. It will return `__WASI_ERRNO_NOTSUP` .

https://github.com/WasmEdge/WasmEdge/blob/6c945db7c63e0c6f505f02519b45f7a86e6c9f27/include/host/wasi/environ.h#L233

### Expected

return `__WASI_ERRNO_SUCCESS`

[2022-01-25 14:06] hangedfish commented on #1025
see https://github.com/WasmEdge/WasmEdge/pull/1044#issue-1111790551

[2022-01-25 23:50] juntao commented on #550
Hello, it is not an error but a warning generated by the static analyzer. We use `infer` for static analysis. You can see its results and warnings in our GitHub actions log.

https://github.com/WasmEdge/WasmEdge/runs/4939837482?check_suite_focus=true#step:5:310

[2022-01-26 07:42] KernelErr commented on #1030
I created a PR(https://github.com/second-state/wasmedge_wasi_socket/pull/35) draft to add poll support for `wasmedge-wasi-socket`. However, there is some stuff we should notice.

- Someone just create a WASI network proposal draft: https://github.com/badeend/WASI-Networking. We may keep some focus on it.
- In the WASI snapshot document, `sock_accept` takes a `fd_flag` argument for specifying non-b

[2022-01-26 08:06] #776 closed

[2022-01-26 08:06] #761 closed

[2022-01-26 08:06] #743 closed

[2022-01-26 08:07] #742 closed

[2022-01-26 08:08] #737 closed

[2022-01-26 08:08] #726 closed

[2022-01-26 08:08] #725 closed

[2022-01-26 08:09] #708 closed

[2022-01-26 08:10] #706 closed

[2022-01-26 08:10] #694 closed

[2022-01-26 08:19] hydai commented on #628
According to [the latest action](https://github.com/WasmEdge/WasmEdge/runs/4932690976?check_suite_focus=true), we still have the following C-API which are not exposed in `rust-sys`.

@apepkuss Could you please check if there are any of them that are not needed to expose? Maybe we should have a exclusive list to delist them.

- [ ] WasmEdge_AsyncCancel
- [ ] WasmEdge_AsyncDelete
- [ ] WasmEdge_Asyn

[2022-01-26 09:01] apepkuss commented on #628
Hi @hydai, according to the current design of `wasmedge-sys`, the following C APIs can be removed from the list. Thanks!

* WasmEdge_LimitIsEqual
* WasmEdge_ResultGetMessage
* WasmEdge_StringCopy
* WasmEdge_StringWrap
* WasmEdge_VMRunWasmFromASTModule
* WasmEdge_VMRunWasmFromBuffer
* WasmEdge_VMRunWasmFromFile

[2022-01-26 09:15] juntao commented on #1030
The WASI standard proposal should be supported by the Rust compiler. We do not want to wait for them -- they have been discussing this for 2+ years now.

We should focus on creating a Rust SDK our existing host functions that our users can use now. If our host functions have missing features, we could add to them first.

@L-jasmine Could you have a look?

[2022-01-26 12:44] LFsWang opened #1053 "[Socket] Format of address in some socket function is mismatched"
## Motivation

`address` in current socket api has different format.

in `bind`. address is a `__wasi_address_t`. (Port is another argument).
in `sendto`, `recvfrom` address  is a `sockaddr_in` (Port is packed with address).

It should be unified.

## Details

Add `port` for  `sendto`, `recvfrom`.

## Appendix

https://github.com/WasmEdge/WasmEdge/blob/master/docs/witx/wasi_ephemeral_sock.witx

[2022-01-26 14:24] hangedfish commented on #1025
Android Application Demo, use default Android NDK toolchains. Android Studio runs well.

https://github.com/hangedfish/WasmEdge_AndroidExample

[2022-01-27 07:55] hangedfish opened #1055 "The target "wasmedge_c_static" cannot link to executable file"
## Description

### Current State

I'm trying to use the WasmEdge static library but getting some errors.

[code]

### Expected

The target `wasmedge_c_static` should be a static library, right? Like `wasmedge_c_shared` is a shared library, but it works fine.

## Environment

- Hardware Architecture: x86_64
- Operating system: Ubuntu 20.04

The following information is optional. Please provide the

[2022-01-27 09:34] hangedfish commented on #1055
By the way, if WasmEdge is a submodule of another project, it doesn't work with Ninja in `Release` and `RelWithDebInfo` config.
[code]

[2022-01-27 10:06] q82419 commented on #1055
This is a known issue, we haven't fix it yet.
Please use this for workaround:
[code]

[2022-01-27 10:08] q82419 commented on #1055
The static library version is experimental, and may not maintain for a while.
Can you turn on the option `-DWASMEDGE_FORCE_DISABLE_LTO=On` and try again? thanks.
If you have any better solution, please feel free to create a PR :)

[2022-01-27 10:25] hangedfish commented on #1055
Thanks, it works.

[2022-01-27 10:34] hangedfish commented on #1055
Doesn't works, but the option `-DWASMEDGE_FORCE_DISABLE_LTO=ON` solved another problem I had, which was that it didn't add the link flag `-fuse-ld=gold`, my toolchain only provided `lld` and didn't include `gold`.

[2022-01-27 10:49] q82419 commented on #1055
It seems that we tested the `libwasmedge_c.a` for linking with only linker, but not tested with cmake.

[2022-01-27 13:49] q82419 opened #1056 "[Uninstall] After running the uninstall script, the `.bash_profile` is cleared."
## Description

### Current State

After [running the uninstall script](https://wasmedge.org/book/en/start/install.html#uninstall):

[code]

The bash file `.bash_profile` on MacOS is cleared.

### Expected

Not to clear the bash profile.

## Environment

- Hardware Architecture: x86_64
- Operating system: MacOS 15

## Steps to Reproduce

Run the install script:

[code]

And then run the uninstall

[2022-01-27 14:01] SAtacker commented on #1056
Hi, thanks for this @q82419  I couldn't reproduce this on my Macbook VM
![image](https://user-images.githubusercontent.com/61797109/151373484-d27ddba7-4aa2-4792-9498-8a902be19b00.png)

[2022-01-27 14:03] SAtacker commented on #1056
Sorry, you are correct, it clears out `~/.bash_profile`

[2022-01-27 15:24] q82419 opened #1058 "[Installer] Refine the environment backup and restoration"
## Description

### Current State

For the MacOS platforms, we only use the `.bash_profile` for the bash configuration.
But after the installation by the installer, the `.bashrc` and `.profile` are generated.
And then after the uninstallation, we will get `.bashrc.wasmedge_backup`, `.profile.wasmedge_backup` and the 0 size of `.bashrc` and `.profile`.

### Expected

Not to leave the trash after th

[2022-01-28 04:20] hangedfish opened #1060 "IDE friendly"
## Motivation

If the Boost Library is not installed in the Host, the CMake configuration of WasmEdge will download the Boost library through FetchContent, which is common when cross-compiling.

I used the IDE to load the WasmEdge CMake project and found that the IDE was actually indexing all the symbols in the Boost library. I hear my computer growling.

## Details

I create a subset of the Boost

[2022-01-28 06:53] SAtacker commented on #1058
For this purpose, there is https://github.com/WasmEdge/WasmEdge/blob/706a42ccaf1b6d79ac8e65bd01e6e5aa5b3ceaaf/utils/install.sh#L590 which detects the shell configuration file.
https://github.com/WasmEdge/WasmEdge/blob/706a42ccaf1b6d79ac8e65bd01e6e5aa5b3ceaaf/utils/install.sh#L610-L616

The below
https://github.com/WasmEdge/WasmEdge/blob/706a42ccaf1b6d79ac8e65bd01e6e5aa5b3ceaaf/utils/install.sh#L59

[2022-01-28 08:16] hangedfish commented on #1060
I got it.
Create a `cmake/FindBoost.cmake` file and write `set(Boost_FOUND ON)` .
Modify the content of the Project's CMakeLists.txt file.
[code]

[2022-01-28 08:16] #1060 closed

[2022-01-28 08:54] hydai opened #1061 "feat: improving the performance of running rustpython"
## Motivation

Previous discussion: #996

WasmEdge is designed for the general purpose wasm runtime. However, when running rustpython, we found the performance is worse than other runtimes such as wasmtime, even after using the ahead-of-time compilation.

## Details

In this ticket, we expect the following working items:

1. Profile the WasmEdge runtime with rustpython workload and generate profil

[2022-01-28 08:56] hydai opened #1062 "feat: improving the performance of running miniruby"
## Motivation

Previous discussion: #1016

WasmEdge is designed for the general purpose wasm runtime. However, when running miniruby, we found the performance is worse than other runtimes such as wasmtime, even after using the ahead-of-time compilation.

## Details

In this ticket, we expect the following working items:

1. Profile the WasmEdge runtime with miniruby workload and generate profiling

[2022-01-28 08:59] hydai opened #1063 "feat: Enable OpenVINO backend for WASI-NN"
## Motivation

In the previous ticket #343, we already have some `WASI-NN` implementation. However, the backend is using ONNX. In this ticket, we would like to have both ONNX and OpenVINO backend.

Machine Learning is a big topic nowadays. WasmEdge already provides [a set of TensorFlow host functions](https://github.com/second-state/wasmedge_tensorflow_interface) to enable the ML inference in WebA

[2022-01-28 14:42] alabulei1 opened #1068 "[Docs] Translate the crun.md to zh"
### The MD file link you want to translate (must be in English)

https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/kubernetes/container/crun.md

### Target language
zh: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/kubernetes/container/crun.md

[2022-01-28 15:12] MileyFu opened #1069 "[Docs] Translate Linux.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/os/linux.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/os/linux.md

[2022-01-28 15:37] hangedfish commented on #1055
My [solution](https://github.com/hangedfish/WasmEdge_AndroidExample/blob/5195b6405726b2ee42e2d42ce654fa4908b53482/app/src/main/cpp/CMakeLists.txt)

[2022-01-28 15:48] MileyFu opened #1070 "[Docs] Translate raspberrypi.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/os/raspberrypi.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/os/raspberrypi.md

[2022-01-28 16:20] alabulei1 opened #1071 "[Docs] Translate the kubernetes/cri/containerd.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/kubernetes/cri/containerd.md

### Target language
zh: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/kubernetes/cri/containerd.md

[2022-01-28 16:23] alabulei1 opened #1072 "[Docs] translate the kubernetes/cri/crio.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/kubernetes/cri/crio.md

### Target language
zh: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/kubernetes/cri/crio.md

[2022-01-28 16:24] alabulei1 opened #1073 "[Docs] Translate the demo/server.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/kubernetes/demo/server.md

### Target language
zh: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/kubernetes/demo/server.md

[2022-01-28 16:25] alabulei1 opened #1074 "[Docs] Translate the demo/wasi.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/kubernetes/demo/wasi.md

### Target language
zh: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/kubernetes/demo/wasi.md

[2022-01-28 16:27] alabulei1 opened #1075 "[Docs] Translate the kind.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/kubernetes/kubernetes/kind.md

### Target language
zh: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/kubernetes/kubernetes/kind.md

[2022-01-29 01:39] MileyFu opened #1077 "[Docs] Translate seL4.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/os/sel4.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/os/sel4.md

[2022-01-29 01:43] MileyFu opened #1078 "[Docs] Translate windows.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/os/windows.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/os/windows.md

[2022-01-29 02:04] MileyFu opened #1079 "[Docs] Translate extend/plugin/externref.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/extend/plugin/externref.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/extend/plugin/externref.md

[2022-01-29 02:17] juntao opened #1080 "[Install] Add Linux aarch64 support for extensions"
The current installer does not attempt to install TF and image extensions on Linux aarch64 since those extensions were not available on that platform.

However, we have recently released those extensions on Linux aarch64. The installer should support that.

[2022-01-29 05:28] MileyFu opened #1081 "[Docs] Translate extend/plugin/hostfunction.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/extend/plugin/hostfunction.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/extend/plugin/hostfunction.md

[2022-01-29 05:46] MileyFu opened #1082 "[Docs] Translate extend/build_on_mac.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/extend/build_on_mac.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/extend/build_on_mac.md

[2022-01-29 05:55] MileyFu opened #1083 "[Docs] Translate extend/build_on_windows.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/extend/build_on_windows.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/extend/build_on_windows.md

[2022-01-29 06:29] MileyFu opened #1085 "[Docs] Translate extend/plugin.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/extend/plugin.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/extend/plugin.md

[2022-01-29 08:23] MileyFu opened #1087 "Translate embed/c/ref.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/embed/c/ref.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/embed/c/ref.md

[2022-01-29 08:25] MileyFu opened #1088 "[Docs] Translate embed/go/app.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/embed/go/app.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/embed/go/app.md

[2022-01-29 08:31] MileyFu opened #1089 "[Docs] Translate embed/go/bindgen.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/embed/go/bindgen.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/embed/go/bindgen.md

[2022-01-29 08:33] MileyFu opened #1090 "[Docs] Translate embed/go/function.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/embed/go/function.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/embed/go/function.md

[2022-01-29 08:34] MileyFu opened #1091 "[Docs] Translate embed/go/memory.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/embed/go/memory.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/embed/go/memory.md

[2022-01-29 08:45] MileyFu opened #1092 "[Docs] Translate embed/go/ref.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/embed/go/ref.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/embed/go/ref.md

[2022-01-29 08:47] MileyFu opened #1093 "[Docs] Translate embed/go/tensorflow.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/embed/go/tensorflow.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/embed/go/tensorflow.md

[2022-01-29 08:48] MileyFu opened #1094 "[Docs] Translate embed/go.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/embed/go.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/embed/go.md

[2022-01-29 08:51] MileyFu opened #1095 "[Docs] Translate embed/node.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/embed/node.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/embed/node.md

[2022-01-29 08:54] MileyFu opened #1096 "[Docs] Translate embed/python.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/embed/python.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/embed/python.md

[2022-01-29 08:56] MileyFu opened #1097 "[Docs] Translate embed/rust to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/embed/rust.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/embed/rust.md

[2022-01-29 09:29] alabulei1 opened #1098 "[Doc] Translate kubeedge.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/kubernetes/kubernetes/kubeedge.md

### Target language
zh: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/kubernetes/kubernetes/kubeedge.md

[2022-01-29 09:30] alabulei1 opened #1099 "[Doc] Translate kubernetes-containerd.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/kubernetes/kubernetes/kubernetes-containerd.md

### Target language
zh: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/kubernetes/kubernetes/kubernetes-containerd.md

[2022-01-29 09:33] alabulei1 opened #1100 "[Doc] Translate kubernetes-crio.md to zh"
### The MD file link you want to translate (must be in English)

https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/kubernetes/kubernetes/kubernetes-crio.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/kubernetes/kubernetes/kubernetes-crio.md

[2022-01-29 09:36] MileyFu opened #1101 "[Docs] Translate dev/js/es6.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/dev/js/es6.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/dev/js/es6.md

[2022-01-29 09:38] MileyFu opened #1102 "[Docs] Translate dev/js/fetch.md to zh"
### The MD file link you want to translate (must be in English) https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/dev/js/fetch.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/dev/js/fetch.md

[2022-01-29 09:38] alabulei1 opened #1103 "[Doc] Translate kubernetes/cotainerd.md to zh"
### The MD file link you want to translate (must be in English)

https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/kubernetes/container.md

### Target language

zh: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/kubernetes/container.md

[2022-01-29 09:39] alabulei1 opened #1104 "[Doc] Translate kubernetes/cri.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/kubernetes/cri.md

### Target language
zh: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/kubernetes/cri.md

[2022-01-29 09:40] MileyFu opened #1105 "[Docs] Translate dev/js/networking.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/dev/js/networking.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/dev/js/networking.md

[2022-01-29 09:40] alabulei1 opened #1106 "[Docs] Translate kubernetes/demo.md to zh"
### The MD file link you want to translate (must be in English)

https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/kubernetes/demo.md

### Target language

zh: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/kubernetes/demo.md

[2022-01-29 09:41] MileyFu opened #1107 "[Docs] Translate dev/js/npm.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/dev/js/npm.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/dev/js/npm.md

[2022-01-29 09:41] alabulei1 opened #1108 "[Docs] Translate kubernetes/kubernets.md to zh"
### The MD file link you want to translate (must be in English)

https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/kubernetes/kubernetes.md

### Target language

zh: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/kubernetes/kubernetes.md

[2022-01-29 09:43] alabulei1 opened #1109 "[Docs] Translate kubernetes/qucikstart.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/kubernetes/quickstart.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/kubernetes/quickstart.md

[2022-01-29 09:43] MileyFu opened #1110 "[Docs] Translate dev/js/quickstart.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/dev/js/quickstart.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/dev/js/quickstart.md

[2022-01-29 09:45] MileyFu opened #1111 "[Docs] Translate dev/js/rust.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/dev/js/rust.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/dev/js/rust.md

[2022-01-29 09:46] MileyFu opened #1112 "[Docs] Translate dev/js/ssr.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/dev/js/ssr.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/dev/js/ssr.md

[2022-01-29 09:47] MileyFu opened #1113 "[Docs] Translate dev/js/tensorflow.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/dev/js/tensorflow.md

### Target language
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/dev/js/tensorflow.md

[2022-01-29 10:48] swartz-k commented on #1092
Apply for it. :-)

[2022-01-29 10:56] villanel commented on #1071
apply for this.

[2022-01-29 11:01] alabulei1 commented on #1092
Thanks! I will assign this issue to you.

[2022-01-29 11:02] alabulei1 commented on #1071
Assigned.  Thank you!

[2022-01-29 11:26] Megrax commented on #1112
@MileyFu Hey I would like to translate this page into Chinese!

[2022-01-29 13:17] treeplus commented on #1110
apply for this one, thanks

[2022-01-29 13:20] alabulei1 commented on #1112
Assigned. Thank you!

[2022-01-29 13:20] alabulei1 commented on #1110
Assigned. Thank you!

[2022-01-29 14:31] r-asou commented on #1111
Hi, I prefer to translate this, plz assign this to me

[2022-01-29 14:32] r-asou commented on #1107
Plz assign this to me

[2022-01-29 18:27] Vinson-Ben commented on #1095
apply for this one , thanks~

[2022-01-29 20:09] sakkshm26 opened #1115 "[Docs] Update documentation"
There are some typos in two files of the documentation: CONTRIBUTING.md and GOVERNANCE.md.

[2022-01-29 21:46] pasicopan commented on #1105
Plz assign this to me

[2022-01-30 01:54] alabulei1 commented on #1105
Assigned. Thank you!

[2022-01-30 01:54] alabulei1 commented on #1095
Assigned. Thank you.

[2022-01-30 02:17] javadoors commented on #1109
@alabulei1 I'd like to translate this page into Chinese!
Could you pls assign it to me?

[2022-01-30 02:39] #1115 closed

[2022-01-30 02:58] dreammyboy commented on #1113
apply for this one, thanks

[2022-01-30 03:24] jerbmarx commented on #1094
Please assign this task to me. Thanks a lot.

[2022-01-30 03:44] r-asou commented on #1102
Plz assign this to me

[2022-01-30 04:13] r-asou commented on #1108
Plz assign this to me

[2022-01-30 04:14] r-asou commented on #1106
Plz assign this to me

[2022-01-30 04:14] r-asou commented on #1103
Plz assign this to me

[2022-01-30 04:14] r-asou commented on #1101
Plz assign this to me

[2022-01-30 04:15] r-asou commented on #1100
Plz assign this to me

[2022-01-30 04:15] r-asou commented on #1097
Plz assign this to me

[2022-01-30 04:20] r-asou commented on #1091
Plz assign this to me

[2022-01-30 10:19] wangyuan249 commented on #1075
Hi, I want to translate this part, please assign to me.

[2022-01-30 10:22] wangyuan249 commented on #1073
Hi, I want to translate this part, please assign to me.

[2022-01-30 10:23] wangyuan249 commented on #1074
Hi, I want to translate this part, please assign to me.

[2022-01-30 10:26] r-asou commented on #1087
Plz assign this to me

[2022-01-30 11:34] villanel commented on #1072
hi，could assign this to me?

[2022-01-30 13:26] alabulei1 commented on #1075
Assigned. Thank you.

[2022-01-30 15:36] #1080 closed

[2022-01-30 17:05] hydai opened #1122 "feat: Implement GC proposal"
## Motivation

When trying to compile the application which are written in GC support languages into WASM. One of the biggest problems is that WASM has not support GC.

Some discussion about this in GraalVM issue: https://github.com/oracle/graal/issues/3391

To make it getting much more feasible, we would like to implement WebAssembly GC proposal.

## Details

1. To implement GC proposal, we have

[2022-01-30 17:05] hydai opened #1123 "feat: Implement typed function references proposal"
## Introduction

This is one of the requirements for GC proposal.

[Typed function references](https://github.com/WebAssembly/function-references) proposal adds function references that are typed and can be called directly. Unlike `funcref` and the existing `call_indirect` instruction, typed function references need not be stored into a table to be called (though they can). A typed function refere

[2022-01-30 17:05] hydai opened #1124 "feat: Implement type imports proposal"
## Introduction

This is one of the requirements for GC proposal.

[Type imports](https://github.com/WebAssembly/proposal-type-imports) proposal allows Wasm modules to import type definitions.

However, this proposal depends on #1123. Details: https://github.com/WebAssembly/proposal-type-imports/blob/master/proposals/type-imports/Overview.md#proposal-summary

## Motivation

TBD.

## Details

TBD.

[2022-01-30 17:26] juntao opened #1125 "[NAPI] Support WasmEdge extensions on aarch64"
WasmEdge extensions and installer now have Linux aarch64 support. We should support the `wasmedge-extension` npm package on aarch64 as well.

[2022-01-31 01:30] pkking opened #1126 "[Help wanted]Any docs to describe how to limit the syscall or file/dir the wasm code can use?"
First of all, wasmedge is a cool project and happy spring festival.
After reading the (docs)[https://wasmedge.org/book/en], i do want to find if there's a way to controll which syscall or file can be used by the wasm code embed in my c program, but it seems there's not a page about this topic.

Did i miss something, or any suggestions?

[2022-01-31 06:28] Megrax commented on #1112
@alabulei1 Translation done. Please review~ 😋👀 #1127

[2022-01-31 07:08] Fournier605 commented on #1106
apply for this one, thanks

[2022-02-01 06:53] SAtacker commented on #1058
Because the users may add or edit the config file after the WasmEdge installation. If we restore the config file, the settings added after we backup will also be restored. Therefore the users' environment is changed by the uninstaller without their acknowledgement.

While running the uninstaller, we are simply removing that particular line that contains `. <WasmEdge_Installation_Path>`. While doin

[2022-02-01 14:16] SAtacker opened #1139 "[GitHub CI] Cent OS 8 EOL"
![image](https://user-images.githubusercontent.com/61797109/151984320-78a92638-4ebb-444a-bf58-a7fc05ccc3b0.png)

[code]

Cent OS 8: https://www.centos.org/centos-linux-eol/
Workarounds: https://stackoverflow.com/questions/70926799/centos-through-vm-no-urls-in-mirrorlist

_Originally posted by @SAtacker in https://github.com/WasmEdge/WasmEdge/issues/1138#issuecomment-1026888653_

[2022-02-02 10:26] dreammyboy commented on #1113
Hi, translation got finished. Please have a review~~ :)

[2022-02-03 07:41] peterbi commented on #1090
Pls assign this to me thx

[2022-02-03 09:10] alabulei1 commented on #1090
Assigned. Thank you!

[2022-02-04 06:01] wangbyby commented on #1083
plz assign to me.

[2022-02-04 16:39] redfave opened #1147 "Wasmedge installation fails within alpine container on arm64 host"
## Description

I'm trying to build a docker image containing wasmedge. It works on x86 machine but fails on my Raspberry Pi

### Current State

[code]

### Expected

It should be possible to install wasmedge within an alpine container on an arm64 Host.

## Environment

- Raspberry Pi 3B 1GB
- Operating system: Ubuntu 20.04 x64

## Steps to Reproduce
`sudo buildah bud  -t wasm-env-demo:latest`

Do

[2022-02-04 19:33] SAtacker commented on #1147
@redfave hello :wave:
The repository https://github.com/sgerrand/alpine-pkg-glibc provides packages only for x86_64. Please have a look at https://stackoverflow.com/questions/55027422/docker-alpine-pkg-glibc-error-while-trying-to-install-it-with-armhf-arch. The reason I haven't made a pull request is that we don't have the official support for Glibc nor is the multiarch version in sync. Please let

[2022-02-05 00:39] redfave commented on #1147
Thank you for the investigation 🙏.
It seems alpine is currently not a good fit as a container environment for wasmedge.
As I don't have any deep knowledge of operating systems and systems libraries (I'm more a web/java dev), I don't think I am able to contribute a solution to this issue 😅

[2022-02-05 02:34] spacewander opened #1148 "Provide native support for musl clib via prebuild package"
## Motivation

I am going to integrate WasmEdge with APISIX via https://github.com/api7/wasm-nginx-module.

APISIX maintains Alpine Linux image so we need to support musl, both in x64 and in arm64.

At a first glance, it looks like WasmEdge doesn't support musl?

Using glibc-on-alpine is not an option to me, as:
1. it is not official support
2. it doesn't support arm64
3. I tried it before, got so

[2022-02-05 02:42] spacewander commented on #1147
(Maybe off-topic) What about trying a Debian image?

The official stable-slim: https://hub.docker.com/layers/debian/library/debian/stable-slim/images/sha256-3ecce669b6be99312305bc3acc90f91232880c68b566f257ae66647e9414174f?context=explore
minideb from bitnami: https://hub.docker.com/layers/bitnami/minideb/jessie/images/sha256-fa988ed66c3ba67bb74e58e1075636209a128365133ebe10071d390c70825431?context=

[2022-02-05 02:54] juntao commented on #1148
I think we have experimented with musl support.

I will let @hydai and @O3Ol to chime in here. Thanks.

[2022-02-05 06:58] SAtacker commented on #1147
That's nice!

[2022-02-05 08:28] meoww-bot opened #1149 "[docs] filename extension name wrong in `build_on_windows`"
`dyld` is the dynamic link editor for MacOS, not for Windows, its seems wrong in [build_on_windows](https://wasmedge.org/book/en/extend/build_on_windows.html#build-wasmedge) .

[2022-02-05 12:01] anonymousr007 commented on #1123
Hello @hydai, I am interested in this project.

[2022-02-05 15:25] Kodalien commented on #1108
Assign  it to me  @alabulei1  !

[2022-02-05 16:08] redfave commented on #1147
@spacewander

 My issue with Debian and Ubuntu based distros are their rotting old software packages. Take a look e. g. at [buildah.](https://packages.debian.org/bullseye/buildah). It's currently only on v1.19 whereas v1.24 is the recent version.
Alpine on the other side offers [up to date ](https://pkgs.alpinelinux.org/packages?name=buildah&branch=edge )software repositories, so I don't need to f

[2022-02-05 16:26] richardchien commented on #925
This issue is solved by the following two repos:

- https://github.com/second-state/wasmedge-anna: the WasmEdge wrapper runtime with Anna APIs
- https://github.com/second-state/wasmedge-anna-rs: the Rust SDK for applications

[2022-02-05 21:08] anonymousr007 commented on #1123
Can you please elaborate a little bit more? I am new in wasm-edge but experienced in c++ programming.

[2022-02-06 06:22] baiyutang commented on #1098
I will translate this. Please assign to me.

[2022-02-06 08:34] Kodalien commented on #1108
@alabulei1  need to review

[2022-02-06 08:53] zephoon commented on #1070
Plz assign this to me, thx.

[2022-02-06 12:47] #1075 closed

[2022-02-06 13:22] majinghe commented on #1093
/accept. Please assign this issue to me. Thanks

[2022-02-06 14:28] #1113 closed

[2022-02-06 14:32] #1112 closed

[2022-02-06 21:58] redfave commented on #1148
Related issues: #1015 and #1147.

[2022-02-07 01:09] zswaaa commented on #1104
I'd like to translate this page into Chinese!
Could you pls assign it to me?

[2022-02-07 01:11] zswaaa commented on #1099
assign it to me.

[2022-02-07 01:30] sunnywa commented on #1085
@alabulei1 I'd like to translate this page into Chinese!
Could you pls assign it to me?

[2022-02-07 01:32] sunnywa commented on #1078
@alabulei1 I'd like to translate this page into Chinese!
Could you pls assign it to me?

[2022-02-07 01:32] sunnywa commented on #1069
@alabulei1 I'd like to translate this page into Chinese!
Could you pls assign it to me?

[2022-02-07 03:26] sunnywa commented on #1069
您的邮件我已收到。——王琦

[2022-02-07 06:00] #1105 closed

[2022-02-07 06:07] hydai opened #1165 "A wrong implementation in WasmEdge WASI."
A wrong implementation in WasmEdge WASI.

In linux , WasmEdge WASI use `epoll` to implement `poll_oneoff`.
When FD subscribe `EVENTTYPE_FD_READ ` and `EVENTTYPE_FD_WRITE`,
[Poller::read](https://github.com/WasmEdge/WasmEdge/blob/e532fdfba2ccdc5f8fcd89075a13620476fe9861/lib/host/wasi/inode-linux.cpp#L1366) will add the `fd` into `epoll_fd` first, this is ok.
And then, [Poller::write](https://github

[2022-02-07 06:21] spacewander commented on #1148
@redfave
Thanks for your suggestion.

[2022-02-07 07:55] hydai commented on #1139
Looks like we need to add the workarounds in this section: https://github.com/WasmEdge/WasmEdge/blob/master/utils/docker/Dockerfile.manylinux2014_x86_64#L17

[2022-02-07 08:35] JieDing commented on #1081
plz assign this to me

[2022-02-07 08:49] deyuhua commented on #1089
please assign to me.
@MileyFu

[2022-02-07 10:16] #1071 closed

[2022-02-07 10:49] JieDing commented on #1081
Jobs done. Waiting for reviewing.
[docs: add zh-CN translation-hostfunction.md #1169](https://github.com/WasmEdge/WasmEdge/pull/1169)
@alabulei1

[2022-02-07 12:25] zhannicholas commented on #1103
Let me translate this one. @alabulei1

[2022-02-07 15:28] baiyutang commented on #1079
I will translate this.Please assigne to me.

[2022-02-07 15:41] baiyutang commented on #1068
please assigne to me.

[2022-02-08 01:03] FlyingOnion commented on #1100
Hi @alabulei1, I would like to translate this document.

[2022-02-08 04:53] bbcfive commented on #1077
pls assign to me~

[2022-02-08 08:08] wangyuan249 commented on #1074
#1173

[2022-02-08 09:03] JieDing commented on #1081
#1169

[2022-02-08 09:16] xzycn commented on #1017
@alabulei1 Should you exchange the place of links of "Source file"?

[2022-02-08 17:10] #1090 closed

[2022-02-09 06:21] #1093 closed

[2022-02-09 06:24] #1085 closed

[2022-02-09 06:26] #1109 closed

[2022-02-09 06:27] #1088 closed

[2022-02-09 07:28] #1073 closed

[2022-02-09 07:30] #1072 closed

[2022-02-09 07:32] #1083 closed

[2022-02-09 08:16] #1082 closed

[2022-02-09 10:47] alabulei1 commented on #1017
@xzycn  Thanks for pointing this out. If you want to translate, select one issue you are interested in. https://github.com/WasmEdge/WasmEdge/labels/translation%2Fzh

[2022-02-09 11:12] #1070 closed

[2022-02-09 11:23] hydai opened #1183 "feat: enable Include What You Use scanning in CI"
## Motivation

Currently, we use a local environment to run the Include What You Use like #1179
However, it will be better to create a workflow for the regular scanning.

Reference: https://github.com/include-what-you-use/include-what-you-use

[2022-02-09 11:36] #1149 closed

[2022-02-10 01:02] sunnywa commented on #1069
#1191

[2022-02-10 01:06] sunnywa commented on #1102
@alabulei1 I'd like to translate this page into Chinese!
Could you pls assign it to me?

[2022-02-10 01:14] sunnywa commented on #1091
@alabulei1 I'd like to translate this page into Chinese!
Could you pls assign it to me?

[2022-02-10 02:55] luckyJ-nj commented on #1068
Could you pls assign it to me?

[2022-02-10 02:57] eee4017 opened #1193 "Inconsistent tests on share memory flags"
We are working on implementing share memory flags as defined in [thread proposal](https://github.com/WebAssembly/threads/blob/main/proposals/threads/Overview.md)

Note that **shared linear memory without an explicit maximum size is not permitted**.

If a shared memory maximum is not assigned, it would be assembled into `0x02` in wasm file.

For example, This simple test case in [memory.wast](https

[2022-02-10 03:09] laingke commented on #1079
Please assigne to me.

[2022-02-10 03:33] alabulei1 commented on #1068
Thank you!

since @luckyJ-nj  is new here, I will assign this issue to him/her.

@baiyutang  Thanks for your contribution again!

[2022-02-10 03:52] Bevisy commented on #1099
Although I saw that someone was picking up this task, I found no progress for now. So thinking that no one has started working on this task for now, I made a PR in the hope that I can fix this problem. #1194

[2022-02-10 03:56] alabulei1 commented on #1099
Thanks! I will take a look soon!

[2022-02-10 06:18] q82419 commented on #1058
Fixed.

[2022-02-10 06:18] #1058 closed

[2022-02-10 06:23] q82419 opened #1196 "[Uninstaller] Sourcing wrong path when uninstalling on MacOS"
## Description

### Current State

When running the uninstaller, the final step is to source the original bash profile:

[code]

But the file path on MacOS failed.

### Expected

The file path (`.bashrc` or `.bash_profile`, etc.) should be associated with OS.

## Environment

- Hardware Architecture: x86_64
- Operating system: MacOS 15.7

## Steps to Reproduce

[code]

[2022-02-10 06:48] ruijzhan commented on #1103
Please assign this issue to me. @alabulei1

[2022-02-10 06:49] ruijzhan commented on #1100
@alabulei1 please assign it to me.

[2022-02-10 06:50] ruijzhan commented on #1079
Please assign this issue to me. @alabulei1

[2022-02-10 07:16] SAtacker commented on #1196
It is determined by the following lines:
https://github.com/WasmEdge/WasmEdge/blob/b02f1f8b0679104a434ad6865b09fdf915313a38/utils/uninstall.sh#L247-L249
I believe this is a good way to know the default shell and hence its configuration file.

[2022-02-10 07:18] SAtacker commented on #1196
Could you please let me know the output of
[code]

[2022-02-10 07:33] kgpp34 commented on #1106
Please assign to me

[2022-02-10 07:50] hydai commented on #1165
Hi @L-jasmine
We have a bugfix for this. https://github.com/WasmEdge/WasmEdge/tree/beststeve/wasi-poll_oneoff
However, we are still working on the unit test. Could you please try this branch and checkout if this bugfix does fix your problem?

[2022-02-10 08:23] alabulei1 commented on #1103
@zhannicholas Sorry for my late reply. I will assign you to this issue.

@ruijzhan Could you find another issue? I will assign you another issue.

[2022-02-10 08:26] q82419 commented on #1196
bash

Thanks.

[2022-02-10 08:28] SAtacker commented on #1196
There should be a `.bashrc` in $HOME, right?

[2022-02-10 08:28] q82419 commented on #1196
I think it's like the previous issue you fixed (the config file is `.bashrc` for Linux, `.bash_profile` for MacOS, etc.)

[2022-02-10 08:32] SAtacker commented on #1196
Right, thanks.

Ref-[1](https://apple.stackexchange.com/questions/51036/what-is-the-difference-between-bash-profile-and-bashrc)

[2022-02-10 08:32] alabulei1 commented on #1100
@ruijzhan  Sorry for this. Let me find a K8s related issue for you. Since @FlyingOnion has started the translation, I have assigned it to him/her.

[2022-02-10 08:43] FlyingOnion commented on #1100
@alabulei1 PR #1201 has been created.

[2022-02-10 08:56] alabulei1 commented on #1104
@zswaaa Since you have picked up issue #1104, I would assign this issue to a new developer.

@ruijzhan Could you comment here? So that I can assign you.

[2022-02-10 08:58] alabulei1 commented on #1100
@ruijzhan Could you comment on #1104 ? So that I assign it to you. #1104 is K8s related issue and I think it would match your needs. Sorry for the inconvenience.

[2022-02-10 09:00] alabulei1 commented on #1103
@ruijzhan Could you comment on #1104? So that I assign it to you. #1104 is K8s related issue and I think it would match your needs. Sorry for the inconvenience.

[2022-02-10 09:38] alabulei1 opened #1203 "[Doc] Translate #frameworks/app.md to zh"
The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/frameworks/app.md

Target language
zh: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/frameworks/app.md

[2022-02-10 09:40] alabulei1 opened #1204 "[Docs] Translate frameworks/mesh.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/frameworks/mesh.md

### Target language
zh: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/frameworks/mesh.md

[2022-02-10 09:44] alabulei1 opened #1205 "[Docs] Translate frameworks/serverless.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/frameworks/serverless.md

### Target language
zh: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/frameworks/serverless.md

[2022-02-10 09:45] alabulei1 opened #1206 "[Docs] Translate frameworks/app/reactr.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/frameworks/app/reactr.md

### Target language
zh: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/frameworks/app/reactr.md

[2022-02-10 09:47] alabulei1 opened #1207 "#frameworks/app/yomo.md"

[2022-02-10 09:50] alabulei1 opened #1208 "[Docs] Translate frameworks/mesh/dapr.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/frameworks/mesh/dapr.md

### Target language
zh: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/frameworks/mesh/dapr.md

[2022-02-10 09:52] alabulei1 opened #1209 "#frameworks/serverless/secondstate.md"

[2022-02-10 09:57] zhuyaguang commented on #1207
Hi, I prefer to translate this, plz assign this to me

[2022-02-10 10:03] vaniot-s commented on #1208
plz assign this to me

[2022-02-10 10:27] alabulei1 commented on #1104
I made a mistake. Please ignore my comment before. @zswaaa looking forward to your translation.

[2022-02-10 10:39] vaniot-s commented on #1203
plz assign this to me

[2022-02-10 11:39] sunnywa commented on #1102
#1212
translated.

[2022-02-10 11:41] sunnywa commented on #1205
@alabulei1 I'd like to translate this page into Chinese!
Could you pls assign it to me?

[2022-02-10 11:51] ruijzhan commented on #1206
@alabulei1 please assign it to me

[2022-02-10 11:52] ruijzhan commented on #1209
@alabulei1 please assign it to me

[2022-02-10 16:21] zswaaa commented on #1104
#1214 @alabulei1 please review.

[2022-02-11 00:36] border-1px commented on #1101
I'm very interested in this project. Please assign this task to me. Thanks

[2022-02-11 00:39] border-1px commented on #1203
I'm very interested in this project. Please assign this task to me

[2022-02-11 00:40] border-1px commented on #1209
I'm very interested in this project. Please assign this task to me

[2022-02-11 00:40] hydai commented on #1123
Hi @anonymousr007,

I am not sure how much do you know about the WebAssembly(a.k.a. wasm). In this ticket, you will need to figure out the difference between the current wasm spec and the new spec defined in this proposal. Then, you have to implement the WasmEdge internal loader, parser, define more data structure, and finish the execution engine to fit this proposal.

Also, we take the code cover

[2022-02-11 00:43] #1095 closed

[2022-02-11 02:35] alabulei1 commented on #1205
@sunnywa  Thanks for your contribution! Since @border-1px  is new here, I assigned this issue to him/her.

[2022-02-11 02:39] alabulei1 commented on #1079
Thanks all! Since @laingke  is new here, I assigned this issue to him/her.

[2022-02-11 05:36] #1196 closed

[2022-02-11 05:38] q82419 commented on #1193
It seems like the test `wast` file is updated. I'll double check later.

[2022-02-11 06:49] hydai commented on #1123
Hi @anonymousr007,

I just updated the Minimum qualifications. If you are interested in this issue, please finish the challenge. It will help you to get familiar with the WasmEdge data structure and how to interact with the WasmEdge.

[2022-02-11 06:50] hydai commented on #1063
Hi @wangyuan249,

I just updated the Minimum qualifications. If you are interested in this issue, please finish the challenge. It will help you to get familiar with the WasmEdge data structure and how to interact with the WasmEdge.

[2022-02-11 11:28] Ruchip16 commented on #1123
@hydai I am also interested in this like I am very much experienced in C++ programming but new to wasm, but with proper guidance and research I would love to go deep in it, let me know if there is any scope of me working on the issue, thanks

[2022-02-11 14:55] joepio opened #1222 "Embedding wasmedge-sys custom build fails: wasmedge header not found"
## Description

Hi there! Really cool project.

I'm trying the code from this file:

https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/embed/rust/wasmedge-sys-api.md

[code]

But when running, I get:

[code]

Is there anything I should add or change in my code? Is the example perhaps outdated?

Also, note that the [link in the docs](https://wasmedge.org/book/en/embed/rust.html) to

[2022-02-11 16:50] joepio commented on #1222
Thanks for the quick reply! I'll check out the fix in the near future

[2022-02-12 08:14] Cold-Elite commented on #1209
please assign it to me

[2022-02-13 07:33] hydai opened #1227 "feat: Implement WASI and wasmedge_process host functions on Windows platform"
## Motivation

Currently, the WASI and wasmedge_process components in WasmEdge are only implemented on macOS and Linux platforms. Most of the host functions are not supported on the Windows platform.
Since we have lots of windows users, it is necessary to finish the implementations.

## Details

To finish the remaining host functions, you may need to do the following working items:

A. WASI compon

[2022-02-13 07:45] #1094 closed

[2022-02-13 07:55] #1074 closed

[2022-02-13 10:00] CoderfishGzh commented on #1102
I'd like to translate this page into Chinese!
Could you pls assign it to me?

[2022-02-13 10:04] CoderfishGzh commented on #1091
Plz assign this to me

[2022-02-13 10:05] CoderfishGzh commented on #1106
Apply for it. :-)

[2022-02-13 10:05] CoderfishGzh commented on #1203
Apply for it. :-)

[2022-02-13 10:06] CoderfishGzh commented on #1208
Apply for it. :-)

[2022-02-13 10:08] CoderfishGzh commented on #1101
Plz assign this to me

[2022-02-13 10:08] CoderfishGzh commented on #1078
Plz assign this to me

[2022-02-13 10:09] CoderfishGzh commented on #1207
Plz assign this to me

[2022-02-13 10:09] CoderfishGzh commented on #1206
Plz assign this to me

[2022-02-13 10:13] CoderfishGzh commented on #1111
Plz assign this to me

[2022-02-13 17:06] #1103 closed

[2022-02-13 17:08] #1204 closed

[2022-02-14 07:35] KernelErr opened #1234 "Failed to correctly handle string parameter ending '\0'"
# Description

Following example code:

[code]

Failed to get the correct result, and panicked unexpectedly.

# Why

If you copy the function body of `test_dns` into a common function rather than a test function. It will work with no error.

After investigation, the memory layout of the `node` is:

[code]

In WasmEdge's code:

https://github.com/WasmEdge/WasmEdge/blob/2e9959f4a8e66f63b55dc153c8958

[2022-02-14 07:38] javadoors commented on #1026
Where is the code of wasmedge TF Lite extension? I want to learn it.
In addition, I want to know what is the relationship between wasmedge and second state?

[2022-02-14 08:57] CoderfishGzh commented on #1108
Apply for it. :-)

[2022-02-14 09:26] q82419 commented on #280
@localvar  Please check if the PR #910 implemented the function you want. Thanks.

[2022-02-14 09:30] q82419 commented on #370
Installer handled.

[2022-02-14 09:30] #370 closed

[2022-02-14 09:36] q82419 commented on #448
This is fixed in #993.

[2022-02-14 09:36] #448 closed

[2022-02-14 09:49] q82419 commented on #1027
Implemented.

[2022-02-14 09:49] #1027 closed

[2022-02-14 09:54] q82419 commented on #1026
The TF and TF-lite extension is in [WasmEdge-Tensorflow repo](https://github.com/second-state/WasmEdge-tensorflow).

It's like the relationship between Firefox and Mozilla.

[2022-02-14 09:54] #1026 closed

[2022-02-14 09:54] q82419 commented on #1026
Implemented in WasmEdge-Tensorflow.

[2022-02-14 09:56] q82419 commented on #986
Fixed in #1129 .

[2022-02-14 09:56] #986 closed

[2022-02-14 09:58] q82419 commented on #638
Fixed in #910 .

[2022-02-14 09:58] #638 closed

[2022-02-14 13:49] q82419 commented on #1234
I think it's a low level API, so that the rust side `WasiAddrinfo::get_addrinfo` should handle the termination character?
@hydai  How do you think?

[2022-02-14 14:26] alabulei1 commented on #1106
@Fournier605  Did you finish? If you don't start, I will assign this issue to other developers.

[2022-02-14 14:28] #1081 closed

[2022-02-15 02:36] KernelErr commented on #1234
https://github.com/WasmEdge/WasmEdge/blob/aecb834d620380b691f123a7bf7e982698a0e96d/lib/host/wasi/inode-linux.cpp#L836-L837

If you choose to run all tests rather than run `test_dns`(although there is only one test here), this memory copy function would cause an error: signal: 11, SIGSEGV: invalid memory reference. I'm investigating on it.

[2022-02-15 03:58] apepkuss commented on #1222
Hi @joepio,

We fixed the known issues in the build script in #1228. My recommendation is to set the `WASMEDGE_INCLUDE_DIR` and `WASMEDGE_LIB_DIR` environment variables to specify the `include` and `lib` directories. You can find the details [here](https://wasmedge.org/book/en/embed/rust.html#build-wasmedge-sys-crate). Hope that would help you!

In addition, the Rust SDK, including the `wasmedge-s

[2022-02-15 05:06] mydreamer4134 commented on #1203
Please assign to me.

[2022-02-15 07:18] KernelErr commented on #1234
Update: I think one line in `wasmedge_wasi_socket` is wrong.

https://github.com/second-state/wasmedge_wasi_socket/blob/ee7ae9f55a050820d10e7d3d11f2eef3cfe2afc4/src/lib.rs#L266

We should create a linked list for it. However, after fixing it in my local code, I found that WasmEdge could only read the first four elements of `WasiAddrinfoArray`.

![image](https://user-images.githubusercontent.com/45

[2022-02-15 09:43] joepio commented on #1222
Thanks for the help, @apepkuss!

[2022-02-15 10:22] KernelErr commented on #1234
I created a PR for fixing this problem. https://github.com/second-state/wasmedge_wasi_socket/pull/41

In the meanwhile, please ensure if we should append '\0' on the WasmEdge side or the Rust SDK side. :)

[2022-02-15 10:26] hydai commented on #1234
Hi @KernelErr,
The `\0` should be handled on the Rust SDK side. Because it's very weird if we check this on the WASI side. The WASI side will assume the given string is valid. If you are worried about the invalid input, you can also add more check on the WASI side instead of appending the `\0`.

[2022-02-15 13:41] hydai commented on #1234
Hi @KernelErr
I changed my mind.

I would like to change the signature of getaddrinfo: https://github.com/WasmEdge/WasmEdge/blob/2e9959f4a8e66f63b55dc153c8958964cf776ab4/lib/host/wasi/inode-linux.cpp#L772
Make the `ServiceStr` to `string_view` and then compose a local string as the argument for getaddrinfo. After doing this, WasmEdge WASI component will handle the `\0`. If the original string does

[2022-02-16 06:23] L-jasmine commented on #1165
@hydai  It is fixed

[2022-02-16 08:08] #1165 closed

[2022-02-16 08:08] #1049 closed

[2022-02-16 09:41] #1104 closed

[2022-02-16 13:23] #1100 closed

[2022-02-17 06:54] alabulei1 opened #1247 "Add GitHub Actions for OpenYurt"
## Motivation

Showcase that developers could use OpenYurt to manage WasmEdge.

## Details

Create a new workflow for OpenYurt and WasmEdge

1. How to guide:  https://wasmedge.org/book/en/kubernetes/kubernetes/openyurt.html

2. The new GitHub Action workflow should be put on https://github.com/second-state/wasmedge-containers-examples/actions

3. After that, add the OpenYurt GitHub Actions workflo

[2022-02-17 06:57] alabulei1 opened #1248 "Add GitHub Actions for KubeEdge"
## Motivation

Showcase that developers could use KubeEdge to manage WasmEdge.

## Details

Create a new workflow for KubeEdge and WasmEdge

1. How to guide:  https://wasmedge.org/book/en/kubernetes/kubernetes/kubeedge.html

2. The new GitHub Action workflow should be put on https://github.com/second-state/wasmedge-containers-examples/actions

3. After that, add the KubeEdge GitHub Actions workflo

[2022-02-17 07:01] alabulei1 opened #1249 "Add GitHub Actions for SuperEdge"
## Motivation

Showcase that developers could use SuperEdge to manage WasmEdge.

## Details

Create a new workflow for SuperEdge and WasmEdge

1. How to guide:  https://github.com/superedge/superedge/commit/76529ca7cb23de1377a4027fe3ce4bb368acdc8a

2. The new GitHub Action workflow should be put on https://github.com/second-state/wasmedge-containers-examples/actions

3. After that, add the KubeEdg

[2022-02-17 11:12] #1234 closed

[2022-02-18 08:32] wenchajun commented on #1106
If no one claims it, I will be happy to translate the document.

[2022-02-18 08:36] wenchajun commented on #1203
I will be happy to translate the document，please assign to me

[2022-02-18 08:38] wenchajun commented on #1101
I will be happy to translate the document，please assign to me

[2022-02-18 15:58] abhinandanudupa commented on #1183
Can you please assign it to me?

[2022-02-18 16:18] hydai commented on #1183
Sure ;-)

[2022-02-19 03:02] sunnypandas opened #1254 "Is mac os support Image Extensions and Tensorflow extensions?"
I used 'curl -sSf https://raw.githubusercontent.com/WasmEdge/WasmEdge/master/utils/install.sh | bash -s -- -e all' try to install wasmedge, but found:
Image Extensions not supported
Tensorflow extensions not supported

Could you please help us to advise that?

Thanks.

[2022-02-19 06:26] kgpp34 commented on #1106
It looks like the developer who applied first is not accomplished, can you please consider reassigning the task

[2022-02-19 07:25] Cold-Elite commented on #1203
@alabulei1  Please assign to me

[2022-02-19 07:29] alabulei1 commented on #1254
It seems that the Image Extensions and Tensorflow extensions are not supported on the macOS platform. @hydai  Could you confirm that?

@sunnypandas  If you want to use the Image Extensions and Tensorflow extensions, the Linux platform. is the best choice.

[2022-02-19 12:56] sunnypandas commented on #1254
Sure, thank you!

[2022-02-19 16:31] alabulei1 commented on #1203
Sorry for my late reply. Since @mydreamer4134  is new here, I assigned this issue to him/her.

@wenchajun  I will find another issue for you.

[2022-02-19 16:32] alabulei1 commented on #1101
Sorry for my late reply. Since @wenchajun is new here, so I assigned this issue to her/him.

[2022-02-19 16:35] alabulei1 commented on #1097
@Kodalien  It seemed that you have finished the translation. Could you reopen your PR? So that we could merge it. Thanks.

[2022-02-20 06:26] zhuyaguang commented on #1247
I have a question, OpenYurt cluster need two ndoe,one is master,one is edge,so how GitHub Actions workflows run two nodes?

[2022-02-21 08:28] #1089 closed

[2022-02-21 08:29] #1099 closed

[2022-02-21 08:31] #1208 closed

[2022-02-21 09:06] alabulei1 commented on #1106
Considering this section is very short and @Fournier605  didn't finished, so I assigned this issue to @kgpp34

[2022-02-21 09:09] kgpp34 commented on #1106
I'll do it asap

[2022-02-21 09:11] alabulei1 commented on #1078
@CoderfishGzh  May I ask did you finish the translation?

[2022-02-21 09:53] q82419 commented on #1254
The MacOS platforms are not supported yet.
We will support that in the future, but the timeline isn't determined.
Thanks.

[2022-02-21 12:10] kgpp34 commented on #1106
I have applied for pr, please check，thanks

[2022-02-21 16:14] abhinandanudupa commented on #1183
Sorry, this is taking longer than what I expected. I have exams going on so it will take some more days.

[2022-02-21 17:24] #1079 closed

[2022-02-22 02:32] kgpp34 commented on #1106
i have fixed the translation

[2022-02-22 04:01] mydreamer4134 commented on #1203
I'm sorry that I accidentally clicked the un-resign, please re-assign me, thanks!

[2022-02-22 04:33] alabulei1 commented on #1203
No worries! Assigned.

[2022-02-22 15:38] #1101 closed

[2022-02-22 15:52] #1106 closed

[2022-02-22 16:04] hydai commented on #1247
@zhuyaguang
Looks like OpenYurt can be run with KinD. It should be fine to test and run on GitHub Actions.
Ref: https://github.com/openyurtio/openyurt/blob/master/.github/workflows/ci.yaml#L134-L135

[2022-02-23 11:44] #1077 closed

[2022-02-23 12:49] #1205 closed

[2022-02-23 13:33] gusye1234 commented on #1063
Hi @hydai,
I'm curious, for those who want to apply for this LFX mentorship, is there anything else we can do besides waiting after applying on the mentorship.lfx.linuxfoundation.org website and finishing the challenge?
I would really appreciate it if your could answer😊.

[2022-02-24 01:02] liudonghua123 commented on #953
I tried update to 0.9.1 and now I got `lld-link: error: could not open 'libcmt.lib': no such file or directory`, `[error] number of types not matching:0 18` errors.

[code]

[2022-02-24 01:10] liudonghua123 commented on #953
For `could not open 'libcmt.lib': no such file or directory`, I can fix it by executing the `wasmedgec target/wasm32-wasi/debug/hello.wasm target/wasm32-wasi/debug/hello.wasm` in the vs 2019 x64 command prompt shell.

[code]

And If I did not run `wasmedge target/wasm32-wasi/debug/hello.wasm second state` before `wasmedgec target/wasm32-wasi/debug/hello.wasm target/wasm32-wasi/debug/hello.wasm`, t

[2022-02-24 07:03] q82419 commented on #1016
The 11% of execution time is stuck with the unnecessary loading for the WASM instructions in AOT mode.
This part will be fixed in #1274 .

[2022-02-24 07:44] KernelErr opened #1277 "Support socket SO_REUSEADDR"
After using `wasmedge_wasi_socket` to listen on a port, WasmEdge would not free that port when exiting. So if you execute the module again, that port isn't connectable in a while.

I think there are several ways to fix it:

- When exiting, WasmEdge free all ports.
- Give wasi module the ability to handle signals.

In the meanwhile, `wasmedge_wasi_socket` didn't handle the result of the binding por

[2022-02-24 09:59] L-jasmine opened #1279 "[bug] wasi getAddrInfo"
https://github.com/WasmEdge/WasmEdge/blob/afad5e3d295f7248c16c519d89ebffc7434336f6/lib/host/wasi/inode-linux.cpp#L831

need transform linux ai_family to __wasi_address_family_t

AF_INET(2) -> __WASI_ADDRESS_FAMILY_INET4(0)
AF_INET6(*) -> __WASI_ADDRESS_FAMILY_INET6(1)

[2022-02-24 10:14] q82419 commented on #1193
This is outdated.
The `multi-memories` proposal hasn't merged into the main spec, so the `core/binary` should fit the current spec.

[2022-02-24 10:14] #1193 closed

[2022-02-24 10:16] hydai commented on #1277
Maybe this article can help you:
https://stackoverflow.com/questions/24194961/how-do-i-use-setsockoptso-reuseaddr

[2022-02-24 10:17] hydai commented on #1277
Also, I am not sure the relationship between binding port and signal handling?

[2022-02-24 11:36] spacewander opened #1280 "WasmEdge_HostRegistration_Wasi can't be used with WasmEdge_ExecutorInstantiate"
## Description

As the title. Not sure if it is a bug or by design.

### Current State

When using `WasmEdge_ConfigureAddHostRegistration(ConfCxt, WasmEdge_HostRegistration_Wasi);` to  register Wasi and using `WasmEdge_ExecutorInstantiate` to run the Wasm code, the Wasi is not registered.

Meanwhile, using `WasmEdge_ImportObjectCreateWASI` & `WasmEdge_ExecutorRegisterImport` can solve the problem.

[2022-02-24 11:42] spacewander opened #1281 "Provide a shared library with debuginfo"
## Motivation

Currently, the installed shared library doesn't have debuginfo, which is unfriendly for debugging.

## Details

[code]

An unstriped version of the library may be bigger but it is trivial under modern network environment. And most importantly, it saves developers' life (time is life).

## Appendix

[2022-02-24 15:09] #1068 closed

[2022-02-24 16:46] #1203 closed

[2022-02-24 17:09] #598 closed

[2022-02-25 04:40] KernelErr commented on #1277
Sorry, I misunderstood it. We may need to add `WasiSockSetOpt` to `wasmedge_wasi_socket`.

[2022-02-25 04:40] #1277 closed

[2022-02-25 07:46] hydai commented on #1280
This is expected as design decision.

The `HostRegistration` in `Configure` will only apply to the VM instance. Because it will take care about the whole processes in the whole VM flow. If users want to use the loader and executor directly, then they should compose the details by themselves.

This is also described in the C API docs: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/sr

[2022-02-25 07:46] #1280 closed

[2022-02-25 07:48] hydai commented on #1281
Will consider.
However, if you do want the debug build, please build the WasmEdge with `debug` mode on the local environment. In most of the cases, the debug symbols are useless in the distribution.

[2022-02-25 10:46] spacewander opened #1286 "Segfault in WasmEdge_ExecutorInvoke when loading Wasm code compiled from proxy-wasm-go-sdk"
## Description

Get a segment fault in WasmEdge_ExecutorInvoke

### Current State

[code]

The WasmEdge_ExecutorInvoke is called in https://github.com/api7/wasm-nginx-module/blob/b906411f896b9f46ee6fb4847eb53afde07921ed/src/vm/wasmedge.c#L320

The program crashes when trying to execute function `_start` in the Wasm file. It looks like the compiled AST module has an issue.

## Environment

- Hardwa

[2022-03-01 06:06] hydai opened #1290 "bug: Windows 10 action failed"
## Description

The building CI is failed from last week. Not sure which part of the environment is changed.

[code]

### Expected

The building process should be fine.

[2022-03-01 08:16] gusye1234 opened #1291 "LFX Workspace: Enable OpenVINO backend for WASI-NN"
## Milestones

The TODOS of enabling OpenVINO backend for WASI-NN are listed below

1. Get familiar with WASI-NN proposal: *1~2 weeks*
   1. Follow up the existing wasi-nn progress(lib/host/wasi_nn).
   2. Dive into the OpenVino lib.
2. Take OpenVINO as another WASI-NN backend. 5~6 weeks
   1. Create if-def branch for multiple ML backends for building options, with the unified `load` and `init_exe

[2022-03-01 08:47] q82419 commented on #1291
Hi @gusye1234 ,

We've already had some work on the `proposal/wasi_nn` branch.
You can take an overview on that first.
Please remember that we should work on that branch and create PR to that, not the `master`.
I'll keep update and rebase that branch onto the `master` when we have breaking changes or new releases.
Thanks.

[2022-03-01 09:16] gusye1234 commented on #1291
Got it! Thanks for the reminder.

[2022-03-02 00:06] q82419 commented on #1286
Hi @spacewander ,

Thanks for your information.
It seems like the imports are deleted in runtime here.

https://github.com/api7/wasm-nginx-module/blob/b906411f896b9f46ee6fb4847eb53afde07921ed/src/vm/wasmedge.c#L185-L186

The life cycle of `WasmEdge_ImportObjectContext` should be guaranteed after registering into the store.
Can you adjust the deallocation and try it again?

By the way, due to using

[2022-03-02 01:12] eat4toast opened #1292 "LFX Workspace: Improving the performance of running miniruby"
## Motivation

Miniruby is a porting ruby to wasm file.
With this container hope to find the bottleneck both in **interpreter** mode and **AOT** mode.
Handle the bottleneck in miniruby and achieve a whole improvement(not specific for miniruby).

## Details

* Run various test cases in miniruby to find the hot path.
* Compare and record the test case result both in interpreter and AOT mode.
## Appe

[2022-03-02 03:58] #1286 closed

[2022-03-02 10:49] LFsWang commented on #1290
I am not sure why there is a hardcode path. replace it with local version will fix the build.

https://github.com/WasmEdge/llvm-windows release
```LLVM-13.0.0-win64\lib\cmake\llvm\LLVMExports.cmake``` L385

It is fixed for me.
 ```C:/Program Files/Microsoft Visual Studio/2022/Community/DIA SDK/lib/amd64/diaguids.lib```

[2022-03-02 14:34] wenym1 opened #1293 "LFX Workspace: Improving the performance of running rustpython"
## Motivation

RustPython will be a practical use case on WasmEdge. Current RustPython has some known issues (such as #996 ) about soundness, robustness and performance when running on WasmEdge. This mentorship program will try to fix some issues about RustPython on WasmEdge and try to improve the performance under both AOT and non-AOT scenario for >7%.

## Milestone

- [x] Compile and build RustP

[2022-03-04 02:52] JSCZhongJian commented on #1108
Assigned to me @alabulei1

[2022-03-04 03:12] xiangyu-zhang-95 opened #1297 "LFX Workspace: Implement typed function references"
## Motivation

## Details

## Appendix

[2022-03-04 11:18] alabulei1 commented on #1206
Hi, @ruijzhan May I ask have you finished the translation?

[2022-03-04 11:20] alabulei1 commented on #1078
Hi, @CoderfishGzh May I ask did you finish the translation?

[2022-03-04 13:01] alabulei1 opened #1303 "[Docs] Translate embed/rust/sys_run_host_func.md to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/embed/rust/sys_run_host_func.md

### Target language

https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/zh/src/embed/rust/sys_run_host_func.md

[2022-03-04 13:06] JSCZhongJian commented on #1303
Etam

[2022-03-04 13:07] alabulei1 commented on #1108
@JSCZhongJian I will find a new issue for you. It seems that @Kodalien accidentally closed the PR.

[2022-03-04 16:16] abhinandanudupa commented on #1183
Should we run `include-what-you-need` on all Operating Systems - Ubuntu, Fedora, MacOS, Windows?

[2022-03-05 06:02] JSCZhongJian opened #1305 "embed/rust/sys_run_host_func.md to zh"
# 使用WasmEdge低版本Rust API运行WebAssembly函数

本节演示如何使用 `wasmedge sys` 板条的Rust API来运行主机功能。

您可能知道，一些主流编程语言，如C/C++、Rust、Go和Python，都支持将程序编译成WebAssembly二进制文件。在本演示中，我们将介绍如何使用WasmEdge Rust API调用WebAssembly函数，该函数可以用上述任何编程语言编写。

我们使用 `fibonacci.wasm` 和WebAssembly文件的内容如下所示。语句 `(export“fib”（func$fib))` 声明了一个名为 `fib` 的导出函数。此函数使用指定的 `i32` 数作为输入计算斐波那契数。我们稍后将使用函数名来实现计算斐波那契数的目标。

[code]
## 步骤 1: 创建WasmEdge AST模块

在这一步

[2022-03-05 06:06] #1305 closed

[2022-03-06 03:11] sunnywa commented on #1069
@alabulei1 切换了一个pr地址， #1316 https://github.com/WasmEdge/WasmEdge/pull/1316

[2022-03-06 13:38] spacewander opened #1325 "Import WASI doesn't import "wasi_unstable""
## Motivation

Some Wasm files are using `wasi_unstable`, but the Wasi module only contains `wasi_snapshot_preview1`.

## Details

Got an error `When linking module: "wasi_unstable", function name: "proc_exit"` when I tried to load a specific Wasm file.

[2022-03-07 01:38] spacewander opened #1327 "segfault when checkAccessBound"
## Description

I am trying to integrate WasmEdge into wasm-nginx-module.
When I tried to use WasmEdge as the Wasm VM, I got a segfault:

[code]

The code can be found in https://github.com/api7/wasm-nginx-module/pull/93/files#diff-29a3e0c7bd2fd8b0d13dd0490a28522f81448eecc538703e39429410ee424ea8R260

I could send you the `.wasm` file if needed.

## Environment

- Hardware Architecture: (e.g. x86\_

[2022-03-07 04:15] q82419 commented on #1297
Hi @xiangyu-zhang-95 ,

Please reminder that you should create PR to the branch `proposal/func-ref`, not the `master`. Thanks.

[2022-03-07 09:00] hydai commented on #1290
Fixed in #1330

[2022-03-07 09:00] #1290 closed

[2022-03-07 09:01] hydai commented on #1183
We can have one linux distribution only (Both Ubuntu or Fedora work for me), MacOS, and Windows.

[2022-03-07 09:09] hydai commented on #1325
The `wasi_unstable` is called `old/snapshot_0` now, which is deprecated and replaced with `wasi_snapshot_preview1`.

Unfortunately, we don't have plan to implement it in the near future.

[2022-03-07 09:09] #1325 closed

[2022-03-07 15:57] q82419 opened #1332 "Release process for WasmEdge 0.10.0"
### Features

- [x] Thread-safe in store manager
   * #1014
- [x] Refactor the enumerations
   * #1250
- [x] Refactor the file manager
   * #1274
- [x] Refactor the addressing mechanism
   * #1337
   * #1357
- [x] Refactor the store manager
   * #1365
- [x] Refactor the labels in the stack manager
   * #1302
- [x] Plug-in supports
   * #159
- [x] WASM tail-call proposal
   * #247
   * #907
- [x] W

[2022-03-08 03:50] hangedfish commented on #345
I think IoT devices need a `mbedtls` backend because `OpenSSL` is not lightweight

[2022-03-08 06:11] hydai commented on #345
I am not familiar with `mbedtls`. Does it have the functionality equivalent to `OpenSSL`?

[2022-03-08 06:23] #1091 closed

[2022-03-08 07:18] #1069 closed

[2022-03-08 14:55] #1108 closed

[2022-03-09 03:29] #1303 closed

[2022-03-09 04:05] q82419 commented on #1327
Hi @spacewander ,

It seems like the memory instance is `nullptr`. Let me check for a while. Thanks.

[2022-03-09 04:33] q82419 opened #1335 "Enumeration mapping lost of the last index"
## Description

### Current State

For the error logging, the enumeration string mapping of the last index will iterate failed.

For example, the first line should be `execution failed`, but the `execution` of the enumeration not found.
[code]

### Expected

Fix the all enumerations in the `enum.inc`.

[2022-03-09 05:22] hydai commented on #1335
@q82419 Do we have unittest for this?

[2022-03-09 05:28] q82419 commented on #1335
The de-ref failed will not occur errors. Only the mapping string will be `""`.
For the simply test, you can check the output of the `wasmedgeErrinfoTests`.

[2022-03-09 07:01] #1335 closed

[2022-03-09 08:53] 0xE282B0 opened #1338 "[Docs] Add crun "-smart" annotation"
Crun has just merged a workaround to run containers with different runtimes in the same pod: https://github.com/containers/crun/pull/886
Thanks to @flouthoc

With this change a pod can be annotated with `module.wasm.image/variant: compat-smart` and crun decides on the ending of the entrypoint if the container is WASM payload or an oci container. **That makes it possible to run WASM containers with

[2022-03-09 08:59] 0xE282B0 commented on #1338
We could add a chapter to the crun section https://wasmedge.org/book/en/kubernetes/container/crun.html or add a new section "Working with sidecars" under Kubernetes?

Open for feedback 😊

[2022-03-09 09:07] juntao commented on #1338
This is excellent. We would really appreciate an example and a chapter in the docs book. :) Maybe you could create an example here?

https://github.com/second-state/wasmedge-containers-examples

Thanks!

[2022-03-09 09:58] q82419 commented on #1016
The 35% of execution time is stuck with the unnecessary checking when getting the instances on calling frames.
This part will be fixed in #1337 .

[2022-03-09 15:55] juntao opened #1339 "Support yew SSR in WasmEdge"
The [yew framework](https://yew.rs) allows developers to create web UI in Rust. It could compile Rust code into WebAssembly bytecode that runs inside the browser to render the DOM objects for the UI.

Alternatively, it could compile Rust to native machine code, and run it on a Rust-based web server (actix-web) to generate the HTML elements for the UI ([SSR](https://yew.rs/docs/next/advanced-topics

[2022-03-09 17:31] agracey commented on #639
Seconding this request. This would be useful to allow existing platforms to add wasmedge into their stack.

[2022-03-10 06:41] abhinandanudupa commented on #1183
I am a bit confused. I tried scanning with `include-what-you-use` on **Fedora** and found no issues at all. But when I try the same on an **Arch based distro (Endeavour OS)** (updated to the latest version) the results are different - I get these warnings:
[code]

I am using the same options (`cmake -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_INCLUDE_

[2022-03-10 17:46] moksh-pathak commented on #1227
Hey! I am Moksh Pathak, and I would like to contribute to this issue. For starters, I am thinking on work on writing [Signal functions for Windows](https://github.com/WasmEdge/WasmEdge/blob/master/lib/host/wasi/environ-win.cpp).

[2022-03-10 17:48] juntao commented on #1227
Look forward to your contributions!

[2022-03-10 23:08] q82419 opened #1341 "[Test] Interpreter functions, AOT compiled functions, and host functions mixing invocation"
## Motivation

For the currently use cases, users usually run WASM functions in both interpreter or AOT mode.
But for the multi-module case, the instantiated module may import host functions and the functions in other WASM modules.
Therefore, it may cause the mixing invocation of interpreter WASM or AOT compiled WASM codes.
That is, the function in interpreter mode may call the functions in AOT mo

[2022-03-11 02:47] eat4toast commented on #1292
## Week 1
* Understanding the basic ruby env:   **ruby file over miniruby over WasmEdge**. Time cost come from: initialize + actually running
* Take a glance in WasmEdge codebase (from perf report call-chain):
[code]

## next week
* Take some experiments to increase the actual running time cost, since there exists a mid-level in the ruby env.
* Focus on the specific opcode run in the `execute` fun

[2022-03-11 07:05] q82419 opened #1343 "Add the validation passing flag in AST module"
## Description

### Current State

After the refactoring, some pre-processed meta data insert into the AST module.
If the developers instantiate the module without validation, wired errors will occur when executing functions.

### Expected

Return fail if a non-validated AST module is passing into the executor for instantiation.

[2022-03-11 07:09] #950 closed

[2022-03-11 07:16] hydai commented on #1183
Could you provide the detailed information about the OS version and IWYU version?
I am also confused that it should not have different results on unix system.

[2022-03-12 10:59] hangedfish commented on #345
`mbedtls` provides a minimum viable implementation of the TLS 1.2/1.3 protocol. In other respects some `openssl` features are not supported, such as `pkcs#7`.

[2022-03-14 04:28] #1341 closed

[2022-03-14 08:09] q82419 opened #1345 "Value stack not 0 after invocation in interpreter mode"
## Description

### Current State

For some cases, the value stack size will be 1 after calling end.
https://github.com/second-state/WasmEdge-unittest/blob/master/core/func/func.wast#L337
The WAT:
https://github.com/second-state/WasmEdge-unittest/blob/master/core/func/func.wast#L168-L170

### Expected

The value stack should be 0 after invocation.

[2022-03-14 08:23] q82419 opened #1346 "WASI test result value checking"
## Description

### Current State

The WASI test results seems not been checked. Therefore, when the WASI tests will pass even if the results are wrong.

### Expected

Check the WASI test results.

[2022-03-14 19:19] juntao opened #1350 "Support epoll in WasmEdge socket extension"
Add a host function to support the Linux epoll API in WasmEdge socket  extension. It accepts a set of connections and returns the ones that are ready.

The epoll functions should be exposed to developers through the Rust and JS APIs.

[2022-03-15 02:30] alabulei1 commented on #1078
@CoderfishGzh It seems that you didn't start the translation, so I reassigned the issue to @meoww-bot

[2022-03-15 03:58] q82419 opened #1351 "Refactor the values in the stack manager"

[2022-03-15 07:06] DarumaDocker opened #1352 "Add wasmedge_quickjs.wasm to the release attachments."
When running js file via [wasmedge-quickjs](https://github.com/second-state/wasmedge-quickjs), it always needs to build the `wasmedge_quickjs.wasm` firstly.

I think it's better to put the prebuilt `wasmedge_quickjs.wasm` to the Github release attachments that can be downloaded directly.

[2022-03-15 14:46] q82419 commented on #1327
Hi @spacewander ,

I cannot find any issue in the code.
Can you provide the WasmEdge version or commit you used and the function routine executed before the `ngx_wasm_wasmedge_call` ? (ex, is the `ngx_http_wasm_load_plugin` executed?)
Further more, is it available if you execute the WASM file from the CLI or C API directly?

Thanks.

[2022-03-16 02:32] spacewander commented on #1327
the WasmEdge version is 0.9.1

Yes, the wasm plugin is loaded. Here is the log before segv:
[code]

The Wasm file is not pure, it requires some imported host API.

BTW, not all Wasm files trigger this segfault. It is caused by some path in the code. Maybe you can try to build & run the code with wasm-nginx-module?

[2022-03-16 11:16] spacewander commented on #1327
I can provide Wasm file and the Nginx conf so you can reproduce it with wasm-nginx-module compiled. It is very tough to make a standalone reproducible case as proxy-wasm SDK needs to call some imported host API.

[2022-03-17 07:50] #1343 closed

[2022-03-17 15:54] q82419 commented on #1327
I think it takes time to setup and build. Would you attach the WASM and config file? Thanks.

[2022-03-18 02:08] spacewander commented on #1327
[wasm-nginx-module-crash.zip](https://github.com/WasmEdge/WasmEdge/files/8298886/wasm-nginx-module-crash.zip)
I have created a crash environment in the attached zip file. Here is the structure:
[code]

Run ` nginx -p $(pwd)` to start, and run ` curl http://127.0.0.1:1984/t -i` to crash.

You can refer to the CI for building wasm-nginx-module: https://github.com/api7/wasm-nginx-module/blob/4ea1ff83

[2022-03-18 17:04] moksh-pathak commented on #1227
I opened a [Github Discussion](https://github.com/WasmEdge/WasmEdge/discussions/1360) to report my progress as well as seek advice and guidance to make the WASI host functions work on Windows.

[2022-03-20 05:00] abhinandanudupa commented on #1183
I am almost done with the work. Only the windows part is left

But I have one question - should I upload the IWYU reports to a place where its easy to read and fix?

[2022-03-20 08:34] juntao commented on #1183
I think it would be great to upload the report to the CI artifacts folder. Thank you!

[2022-03-20 10:21] abhinandanudupa commented on #1183
Alright

: )

[2022-03-20 10:41] #1345 closed

[2022-03-20 23:10] eat4toast commented on #1292
## Week 2
* Write 5 ruby  programs: fib, gemm, data dependency scan array, unlimited-recursive, long time print console IO
* With the perf flame graph, find the Valvarity function call chain deep(the parameter pack needs to expand to int_128) , modify the order in Valvarity ( [include/common/types.h: 81L ](https://github.com/WasmEdge/WasmEdge/blob/f2d14277a91f3365225d80a4f26f5adc83f24c13/include/c

[2022-03-21 08:30] q82419 commented on #1327
@spacewander ,

Thanks for the information. I'll try to reproduce it in this week. Thanks.

[2022-03-21 09:21] csmoe commented on #1281
Or maintain a symbol server like mozilla-symbol-server might be helpful, cc https://github.com/mozilla-services/tecken

[2022-03-21 13:59] #247 closed

[2022-03-21 17:02] abhinandanudupa opened #1362 "Merge commands are not listed"
In the `CONTRIBUTING.md` doc, the commands that would be used if the PR does not merge are not listed below as mentioned ( check [here](https://github.com/WasmEdge/WasmEdge/blob/cbb7f10fb788a83df9ad4293a0d8c2a0b6e64ad8/docs/CONTRIBUTING.md#branch) )

I just thought that I should mention it here.

[2022-03-22 09:17] abhinandanudupa commented on #1183
Why is this [redirection](https://github.com/abhinandanudupa/WasmEdge/blob/master/.github/workflows/iwyu_scan.yml#L107) not [working](https://github.com/abhinandanudupa/WasmEdge/runs/5640745998?check_suite_focus=true#step:3:1126)?

I am trying to redirect the `stderr` to the `log file` [IWYU always reports in the [`stderr`](https://github.com/include-what-you-use/include-what-you-use#applying-fixe

[2022-03-23 03:35] alabulei1 commented on #1362
Thanks for pointing out this issue! I will check out with it.

[2022-03-23 05:47] hydai commented on #1183
Looks like the redirection is working? The remaining logs don't contain any stderr things.

[2022-03-23 14:40] situ2001 commented on #1111
Hi, I have just done this translation. #1364

[2022-03-23 15:14] wenym1 commented on #1293
Till now we have compiled and built RustPython to rustpython.wasm, built wasmedge and wasmedgec locally and run rustpython with both AOT-optimized and raw wasm file.

The error on exit problem for AOT-optimized wasm file is reproduced locally. Currently we are working on this problem and try to comprehend how WasmEdge works by the way.

We have figured out that the runtime fails when trying to cal

[2022-03-23 17:32] abhinandanudupa commented on #1183
Found out that cmake does not output in the `stderr` in this case.

[2022-03-24 04:07] alabulei1 opened #1367 "Support yield and resume in WasmEdge"
## Motivation

WasmEdge supports async I/O now. But we also need to support generalized async.

## Details

We could discuss how to achieve this goal under this issue.

## Appendix

https://github.com/bytecodealliance/wasmtime/tree/main/examples/tokio

[2022-03-24 05:10] Galaxy0106 opened #1368 "A module linking example"
How to implement calls between multiple modules in WasmEdge？Could you give some examples, like WasmEdge-go-example？

[2022-03-24 13:34] q82419 commented on #1367
This issue may duplicate with #609, #610 , and #611 .

[2022-03-24 17:12] #1367 closed

[2022-03-25 12:46] abhinandanudupa commented on #1183
Can you please accept this [PR](https://github.com/WasmEdge/llvm-windows/pull/3) in the [llvm-windows](https://github.com/WasmEdge/llvm-windows) repo?

To compile `IWYU` on windows we need `LLVM` to be compiled with `clang` and `clang-tools-extra` projects enabled. Else we cannot find the `ClangConfig.cmake` [or a similarly named] file for the configuration. This file is not present in the install

[2022-03-27 15:56] juntao commented on #1279
Hi @hydai

Can you look into this? Thanks.

[2022-03-28 03:14] eat4toast commented on #1292
## Week 3
* Run more ruby test file
* Do some slight modifications, but the improvement is very small😟
   1. in lib/executor/engine/engine.cpp： 1617L
    move the `OpCode Code = PC->getOpCode();` into `if (Stat)`
   2. in lib/executor/engine/controlInstr.cpp: 62L and 67L
   add `value = min(value, LabelTableSize)` and remove the  67L if block
   3. in lib/executor/engine/controlInstr.cpp: 48L
   i

[2022-03-28 04:32] q82419 commented on #1327
Hi @spacewander ,

I've tried to setup the environment last week but I'm not familiar with the nginx.
Would you provide the environment setup command steps on the clean ubuntu docker image to save time?
Thanks.

[2022-03-28 06:54] spacewander commented on #1327
You can follow the GitHub Action CI setup there: https://github.com/spacewander/wasm-nginx-module/blob/wasmedge/.github/workflows/test.yml

The setup is also based on the Ubuntu image. You can only focus on Rust and run the `WASM_VM=wasmedge prove -I. -Itest-nginx/lib -r t/rust.t`.

[2022-03-29 09:37] L-jasmine opened #1372 "[bug] sock_getaddrinfo has a bug in IPv6"
https://github.com/WasmEdge/WasmEdge/blob/b1679143d51508ddb49555a90882b1223ed6adce/include/host/wasi/environ.h#L34

if sockaddr is IPv6, sockaddr.sa_data is 28-2, not 14

[2022-03-29 13:48] juntao commented on #1372
@hydai we should fix that during refactoring.

[2022-03-30 04:48] juntao commented on #1368
We do not support module linking (call a function from another Wasm file) yet. It is on our roadmap.

Right now, if you need to call a function from another Wasm file, you can implement a host function to drop into the host where you can start another Wasm process. Thanks.

[2022-03-30 07:14] Galaxy0106 commented on #1368
Thanks very much. If I adopt the embedded programming style of Go SDK, can I make the result of module A be used directly by module B in shared memory or otherwise？And if so, can the amount of data shared in this part be large?

[2022-03-30 07:22] juntao commented on #1368
My guess is that you can share memory between two WASM instances using the golang host as the go-between. The limit should just be the memory size you can allocate.

We do not have a ready made example for this though. Can you try and contribute an example? 🙏

[2022-03-30 15:51] LFsWang opened #1374 "Check socket behavior on different platform"
## Motivation

The project have many different detail in socket implementation, but the test currently can not figure out the different on runtime behavior.

ex.
[code]

## Details

In fact, it is seems more different on win2sock. We should document the different on implement those features.

## Appendix

[2022-03-30 16:09] LFsWang opened #1375 "Add additional layer on win socket"
## Motivation

If we want to keep POSIX socket, we should add a layer to emulate file descriptor with WINSOCKET.

## Details

WINSOCKET is incompatible with HANDLE even including error handling etc. Add a additional help the compatibility with current design.

## Appendix

[2022-03-31 02:01] q82419 commented on #1368
I think the author means the multiple module case in WasmEdge C API but not the `module-linking` proposal?
If that so, you should check your WASM file, for example:

* a.wasm:
   * export function `func_a`
* b.wasm:
   * import function `module1` `func_a`
   * export function `func_b`, which calls `module1::func_a` in the function body

Then you should instantiate the `a.wasm` with the module name

[2022-03-31 02:05] q82419 commented on #1368
For your case, we can continue with the example above:

* a.wasm
   * export memory `memory`
* b.wasm
  * import memory `module1` `memory`

Then it will be the same: you should instantiate the a.wasm with the module name module1, and then instantiate the b.wasm. Therefore the memory instance will be shared between 2 module instances according to the WebAssembly specification.

[2022-03-31 02:24] alabulei1 opened #1376 "translate embed/rust/concurrent_fib to zh"
### The MD file link you want to translate (must be in English)
https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/embed/rust/concurrent_fib.md

### Target language
zh

[2022-03-31 02:45] Galaxy0106 commented on #1368
Thanks very much. If I need to compile a WASM module from a high-level language, how can I export memory from the module and how can I use this memory in another module that needs to be compiled in the same way?

[2022-03-31 03:03] q82419 commented on #1368
Sorry that I cannot answer this question because it depends on your language and compiling tools.
In my experience, the memory definition is generated by the tools, and usually be the independent one in every generated WASM module (usually exported as name `memory`). So you may need to find another way to share the data (maybe by the host functions) between modules.

[2022-03-31 04:06] wenym1 opened #1378 "RustPython cannot exit cleanly on `exit`"
## Description

### Current State

The problem is the same as what reported in #996. The following log is produced:
[code]

The problem only happens when we execute RustPython under AOT mode. I added log in the source code, rebuilt and reran to trace the execution flow, and found out that the problem happened when the wasm attempts to call `WasiProcExit` HostFunc.

I wrote a very simple program in

[2022-03-31 04:08] wenym1 commented on #1293
Just analyze the reason why under AOT mode RustPython cannot exit cleanly in #1378

[2022-03-31 12:18] alenandry opened #1379 "is this a bug?"
## Description

### Current State

### Expected

## Environment

- Hardware Architecture: (e.g. x86\_64 or aarch64)
- Operating system: (e.g. Ubuntu 20.04 or CentOS 7.6)

The following information is optional. Please provide them only if you have built from source.
- C++ Compiler version:
- CMake version:
- CMake flags: (e.g. `-DCMAKE_BUILD_TYPE=Release -DWASMEDGE_BUILD_AOT_RUNTIME=ON`)
- Boost ve

[2022-03-31 14:37] juntao commented on #1379
What is the bug? 😅

[2022-03-31 15:32] jmrua opened #1380 "Interruption of a process in rust"
It is possible to interrupt a process that is running in Wasmedge using **wasmedge-sys**?  Similarly to what is proposed in #910 for the C SDK.

[2022-04-01 03:43] apepkuss commented on #1380
Hi @jmrua，

Thanks for your question. In the latest release (v0.5.0), `wasmedge-sys` does not support the asynchronous APIs defined in WasmEdge C-APIs. Therefore, it's infeasible to do that with `wasmedge-sys` for now. In fact, we're working on the design of the async APIs and will release them in future versions asap. Thanks again!

[2022-04-01 10:41] jmrua commented on #1380
Ok, thanks for your reply!

[2022-04-01 10:41] #1380 closed

[2022-04-01 10:51] eat4toast opened #1381 "[bug] Stat initialize incorrectly which cost extra check."
## Description

### Current State

Default `Stat` is not nullptr which will call `atomic_bool::load` to check `isInstructionCounting` in opcode executor
[( lib/executor/engine/engine.cpp:1619L )](https://github.com/WasmEdge/WasmEdge/blob/master/lib/executor/engine/engine.cpp#L1618-L1621).

### Expected
Set `Stat` default with nullptr, turn to non_nullptr if choose to collect Statistics information

[2022-04-02 14:56] k33g opened #1383 "Unable to fetch the 0.9.0-rc5 version of Wasmedge"
## Description

I'm trying to build the [Sat project](https://github.com/suborbital/sat) from Suborbital on RaspberryPi. I was able to do it like this:

[code]

Today, I cannot install the `0.9.0-rc5` version anymore.

### Current State

I ran this command: `curl -sSf https://raw.githubusercontent.com/WasmEdge/WasmEdge/master/utils/install.sh | bash -s -- -e all -v 0.9.0-rc5 -V`

I got:

[code]

#

[2022-04-04 23:59] chinzhiweiblank commented on #444
Hi @juntao , I have created a host function under this [PR](https://github.com/chinzhiweiblank/WasmEdge/pull/1). It is very similar to the current example of `Add` because I don't know how to process strings in WasmEdge C's SDK. It is currently working but I would like to ask for help to improve the function.

[code]

Is there a way to get a string out of `In` and then return a string in `Out`?

[2022-04-05 05:40] juntao commented on #1383
@hydai Can you look into this? Thanks.

[2022-04-05 14:56] eat4toast commented on #1292
## Week 3
* Run more ruby test files (unfortunately, some ruby standard lib is compiled to the shared library. But **WASM is not supporting load shared lib**(also not portable if code run browser), so miss some chance. (sad)
* Solve the weir `isInstructionCounting` cost last week🎉#1382
## Next week
* Figure out why cost more time to load section
* (expected)Porting the test case result into a visu

[2022-04-06 16:48] #1381 closed

[2022-04-06 17:47] q82419 commented on #1383
Hi @k33g ,

You should use `0.9.0-rc.5`, not `0.9.0-rc5`. Thanks.

[2022-04-07 01:51] q82419 commented on #961
This API will be added in #1365 .

[2022-04-07 07:49] q82419 commented on #1327
Hi @spacewander ,

I still stock at the environment settings.
Please help to complete the commands, or I cannot compile and reproduce the issue.
For convenience, I used the `wasmedge/wasmedge:latest` docker image.

[code]

Thanks.

[2022-04-07 12:44] expploitt commented on #1380
Hello @apepkuss,

What do you think using the WasmEdge C-API in a Rust program, could be a temporal approach while the Rust wasmedge-sys crate is not updated?

Thanks!!

[2022-04-07 13:04] apepkuss commented on #1380
@expploitt

It should work to use the C-APIs in a Rust program, but it has to get lots of `unsafe` code involved too. I'm not very sure that I understand your motivation, so I just suppose that you wanna use the FFI directly but not the `safe` Rust APIs in your app. Please correct me if I was wrong. Thanks!

[2022-04-07 13:08] apepkuss commented on #1380
@expploitt BTW, we're working on a new version of `wasmedge-sys` actively, and it couples with the new C-APIs. Once it's ready, we'll release it asap. Thanks a lot!

[2022-04-07 13:15] expploitt commented on #1380
Yes, it's exactly what I want to do! I need some control over the wasm VM. However, if you are going to release the new version of wasmedge-sys soon, I'll wait for that instead of using all those unsafe API calls.

[2022-04-07 13:27] expploitt commented on #1380
Perfect!! Thank you for your this super fast support @apepkuss !

[2022-04-07 16:55] k33g commented on #1383
🤔 😱 thank you, I works 🙏

[2022-04-07 18:10] #1383 closed

[2022-04-08 02:12] spacewander commented on #1327
Let's add
[code]
after
[code]

---

What is the error message?

[2022-04-11 09:36] Galaxy0106 opened #1388 "How to use host functions with Tinygo?"
I want to import some host functions in my go source code that will be compiled to wasm with Tinygo. But I don't know if it is supported. Could you give an example if supported? Thanks very much.

[2022-04-11 12:19] alabulei1 commented on #1388
@Galaxy0106  Hi,
Thanks for reaching out. Theoretically, we could do this. Unfortunately, we don't have an example in Tinygo. We do have a similar example in Rust. See examples here. https://wasmedge.org/book/en/embed/go/ref.html#host-functions

[2022-04-13 08:56] 0yi0 opened #1390 "Errors in libsodium benchmarks"
## Description
Please refer to [this article](https://00f.net/2021/02/22/webassembly-runtimes-benchmarks/) for more details.
Long story short, running [sodium_core.wasm](https://github.com/jedisct1/webassembly-benchmarks/blob/master/2021-Q1/wasm/sodium_core.wasm), [sodium_utils2.wasm](https://github.com/jedisct1/webassembly-benchmarks/blob/master/2021-Q1/wasm/sodium_utils2.wasm), and [sodium_utils

[2022-04-14 15:12] #1379 closed

[2022-04-15 06:53] eat4toast commented on #1292
## Week 5
* Run test case in AOT mode find the bottleneck in:
1. WasmEdge::Loader::Loader::loadSection[ (/include/loader/loader.h)](https://github.com/WasmEdge/WasmEdge/blob/master/include/loader/loader.h) -> load section
2. Executor::ProxyHelper[ (lib/executor/engine/proxy.cc: 49L)](https://github.com/WasmEdge/WasmEdge/blob/master/lib/executor/engine/proxy.cpp#L48-L69) -> jump instruction table
#

[2022-04-18 03:29] q82419 commented on #1327
Hi @spacewander ,

I've installed the dependencies and built the targets.
But when I run the command `WASM_VM=wasmedge prove -I. -Itest-nginx/lib -r t/rust.t`, it output:

[code]

Again, I have no experience on nginx. Can you help to provide the commands to setup the environment? Or it may waste time to reproduce. Thanks.

[2022-04-18 07:08] spacewander commented on #1327
The directive "lua_package_path" comes from OpenResty, which is expected to be installed by running the https://raw.githubusercontent.com/spacewander/build-tools/t/build-apisix-base.sh (in https://github.com/spacewander/build-tools/blob/8742fa324f77279378b5fac3ea2924cf7474db78/build-apisix-base.sh#L29).

Maybe you have another Nginx installed in the environment?

The instruction you gave in https:

[2022-04-18 07:24] spacewander commented on #1327
Another solution is that you can run the workflow (https://github.com/spacewander/wasm-nginx-module/blob/wasmedge/.github/workflows/test.yml) locally via https://github.com/nektos/act.
It will give you something like a docker image, so you can use `docker cp` to cp `/usr/local/openresty/` directory to the host or even debug it directly in the Docker.

[2022-04-20 08:06] hydai commented on #444
@chinzhiweiblank Maybe you can try externref to pass the complex data structure: https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/extend/plugin/externref.md#passing-a-class

[2022-04-21 05:40] abhinandanudupa commented on #1339
Can you please assign this to me?

[2022-04-21 06:21] alabulei1 commented on #1339
No Problem!

[2022-04-22 15:53] abhinandanudupa commented on #1339
I have a few questions to ask:

Should I use React for the front-end or would plain HTML rendering be fine?

Can you please point out the changes that were made? If you have a repo/branch having these changes then it would be very helpful.

[2022-04-23 12:25] eat4toast commented on #1292
## Week 6
* Run test case in interpreter mode, the major opcode table(time equal to count)
<details>
  <summary>opcode-table</summary>
  <pre><code>
opcode = runAndOp time = 1
opcode = runNeOp time = 1
opcode = runLtOp time = 1
opcode = runEqOp time = 1
opcode = runAddOp time = 2
opcode = runBrOp time = 3
opcode = runBrTableOp time = 3
opcode = runEqzOp time = 3
opcode = runLocalSetOp time = 3
opc

[2022-04-24 07:31] richardchien opened #1397 "Consider exposing C++ APIs as public interface?"
## Motivation

Now after installation, there exists only the pure C APIs in the installed `include` directory, which is not very convenient to use in C++.

## Details

While it's actually possible to use the C++ APIs by adding WasmEdge as CMake subdirectory and link against the `wasmedgeVM` library target, it seems impossible if I want to build & install WasmEdge separately. It will be convenient

[2022-04-27 04:18] juntao commented on #1339
Hi @abhinandanudupa

Ideally, we should support components.

For a Percy example, check out this:

https://github.com/second-state/percy-ssr-example

https://wasmedge.org/book/en/dev/rust/ssr.html

SSR requires the developer to start a server. It is actix by default. We just changed that to a WasmEdge server.

[2022-04-27 10:52] abhinandanudupa commented on #1339
Ok

[2022-04-27 13:09] LFsWang opened #1400 "[Socket] Getsockopt Setsockopt involve native definition"
## Example

[code]

[2022-04-29 04:31] alabulei1 opened #1402 "[OSPP Issue]A MySQL database driver for WebAssembly"
## Motivation

As WebAssembly is increasingly adopted as a server-side application runtime, WebAssembly applications, such as serverless functions and embedded functions, require access to relational databases. This can be done through socket connections to the database server. However, WebAssembly does not yet support the POSIX socket API. That means standard Rust (or JavaScript) connectors for M

[2022-04-29 05:45] TieWay59 commented on #1402
Hi, I'm a student applicant from ECNU.

I assume you're talking about Crate [mysql](https://docs.rs/mysql/latest/mysql/#), which is quite large. Are we only concentrating on Struct mysql::[Conn](https://docs.rs/mysql/latest/mysql/struct.Conn.html#)?

[2022-04-29 06:17] TieWay59 commented on #1402
I'm attempting to divide this project into sub-tasks.

According to my understanding, the database driver turns SQL queries in your application into a protocol language for communication with the database server, and then converts the protocol language back to language spec results to return query results to your application. There might be some overlap with DB ORMs like sqlx.rs, diesel.rs, etc.
S

[2022-04-29 06:42] juntao commented on #1402
Hi @TieWay59

Thank you for the quick response! I think most of the code in the Rust MySQL crate is to parse and manage SQL statements and the wire protocol. We can leave all those untouched. We only need to abstract and replace the networking code with WasmEdge sockets so that when it is compiled to WASM, it will run on WasmEdge.

In fact, you can try to compile the MYSQL crate to wasm32-wasi now

[2022-04-30 15:32] eat4toast commented on #1292
## Week 7
* Run test case focus on branch_miss and cache_miss

interpreter mode:

**interpreter_mode_branchmiss**:

1. **runCallOp**  lib/executor/engine/controlInstr.cpp: 83L

2. **AST::Instruction::getNum** include/ast/instruction.h: 181L

3. Executor::instantiateModule  ->  instantiate  -> **Instance::ModuleInstance::addFunc**

   lib/executor/instantiate/function.cpp: 22L

---

**interpreter_m

[2022-05-02 03:37] q82419 commented on #1327
If I didn't `apt install nginx`, I will get:

[code]

[2022-05-03 01:46] MediosZ commented on #1402
Hi, I am looking forward to participating in OSPP 2022 as well!
I read the documentation of WasmEdge and translated the rust part of it to Chinese.
Now I am trying to replace the networking code of existed crates.

[2022-05-03 03:13] MediosZ commented on #1402
I think I make it.
Here's the output of my demo.
[code]

I hack into [mysql](https://github.com/blackbeam/rust-mysql-simple) and replace the networking code with [wasmedge_wasi_socket](https://github.com/second-state/wasmedge_wasi_socket).
It is a little bit tricky but I am glad it works.

[2022-05-03 09:43] juntao commented on #1402
Hi @MediosZ

This sounds great! Do you have an example you can show us? :) Thank you!

Cheers
Michael

[2022-05-03 11:45] MediosZ commented on #1402
Hi @juntao

Sure! The demo is available in this [repository](https://github.com/MediosZ/rust-mysql-simple/tree/wasi).

[2022-05-03 12:18] alabulei1 opened #1415 "[OSPP] Support async execution mode for WebAssembly in the WasmEdge Java SDK"
## Motivation

Asynchronous execution is a common feature for modern application runtimes. The WasmEdge Runtime allows WebAssembly programs to be executed asynchronously by its host application in a manner that is thread-safe. In this project, you will incorporate Java’s standard asynchronous constructs into the WasmEdge Java SDK. Java host applications will be able to execute embedded WasmEdge pr

[2022-05-03 16:23] MediosZ commented on #1402
I'll start from refactoring the WasmEdge socket API.
Is WasmEdge socket API blocking I/O for now?

[2022-05-03 16:39] juntao commented on #1402
The WasmEdge socket api is non-blocking.

https://wasmedge.org/book/en/dev/rust/networking-nonblocking.html

We are still actively refactoring the API. Perhaps you can create an issue in that repo and outline the changes you want to make to the API so that we can discuss? Thanks!

[2022-05-03 16:53] abhinandanudupa commented on #1339
I have gone through the example for SSR in the [`yew` repository](https://github.com/yewstack/yew/tree/master/examples/simple_ssr) and learnt that -

The [`App` component](https://github.com/yewstack/yew/blob/31594245ef9a4e56768d820956229cfd3d7d2e49/examples/simple_ssr/src/lib.rs#L83) in `lib.rs` returns a html component which is used in the [`render` function](https://github.com/yewstack/yew/blob

[2022-05-04 12:17] spacewander commented on #1327
Let's add the built Nginx binary to the $PATH, like https://github.com/api7/wasm-nginx-module/blob/08f1424826004ffd000afddbff91c1181960293d/.github/workflows/test.yml#L70

[2022-05-04 13:32] q82419 commented on #1327
Thanks.
Another issue is that the lua file not found:

[code]

And sorry that I may not use `act` to run the github action, because I should build and install WasmEdge to find the issue.
Please keep helping to build the environment, thanks.
Maybe you can try the commands with docker?

[2022-05-04 13:49] chenyukang opened #1416 "wasmedge run a image grayscale is much slower than native app"
## Description

### Current State

![image](https://user-images.githubusercontent.com/230646/166694801-e698653b-f032-4529-997b-f3224ad6544f.png)

### Expected

Performance is almost same

## Environment
wasmedge version 0.9.0

Linux pearl 5.13.0-1021-azure #24~20.04.1-Ubuntu SMP Tue Mar 29 15:34:22 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

## Steps to Reproduce

[code]

[2022-05-04 13:58] chenyukang commented on #1416
oh,
add AOT is much quicker:
![image](https://user-images.githubusercontent.com/230646/166696925-1ffd1403-3d6a-49be-8f9a-464c290f3d2f.png)

[2022-05-05 06:09] spacewander commented on #1327
As already pointed out in https://github.com/WasmEdge/WasmEdge/issues/1327#issuecomment-1091221739, we need to install lua-resty-http

[2022-05-05 08:06] q82419 commented on #1327
The lua-resty-http is installed.

I tried again and got another error:

[code]

Here's the openresty after doing the steps:

[code]

[2022-05-06 04:07] spacewander commented on #1327
Yes, the `got: ''` means the Nginx crashed in the middle, so it doesn't reply to any expected response.

Congratulation, now we should be able to reproduce it.
We can check the error log in ` t/servroot/logs/error.log`.

By running `nginx -p $dir_of_wasm_nginx_module/t/servroot/ -c $dir_of_wasm_nginx_module/t/servroot/conf/nginx.conf`, we can start the Nginx, and then we can run `curl http://127.0

[2022-05-06 04:49] q82419 commented on #1327
Thanks a lot. I'll try to add some log in WasmEdge to find out the reason.
The WasmEdge 0.10.0 has breaking changes in C API. You can try to update if you want with the [Guideline](https://github.com/WasmEdge/WasmEdge/blob/master/docs/book/en/src/embed/c/0.9.1/upgrade_to_0.10.0.md).
Thanks.

[2022-05-06 11:53] MediosZ opened #1426 "Build from source on macOS Monterey"
## Description

I build WasmEdge from source on macOS Monterey. I can finish compiling, but can not execute it.
When I try to run `wasmedge`, a segment fault occurs.
Can I help to solve this?

### Current State

Compilation finished, but executing it leads to a segment fault.
Here's the log of LLDB:
[code]

### Expected

I can build `wasmedge` from source and execute it.

## Environment

- Hardwar

[2022-05-06 14:24] q82419 opened #1427 "[Installer] Support darwin x86_64 platform for the extensions."
## Motivation

We supports the `darwin x86_64` after the 0.10.0-alpha.1 pre-release.
Therefore, we should support the installation of `image` and `tensorflow` extensions on the `darwin x86_64` platform.

## Details

Due to the different naming style on `darwin`, we should follow the symbolic link rules.

On `manylinux`:

[code]

On `darwin`:

[code]

[2022-05-06 18:05] juntao commented on #1426
Can you try the 0.10.0 alpha pre-release? Thank you.

https://github.com/WasmEdge/WasmEdge/releases/tag/0.10.0-alpha.1

[2022-05-07 02:48] MediosZ commented on #1426
Yes, I build it from the master branch, and v0.9.1 release package work for me.
Here are more results:
1. v0.9.1 build from source works
2. v0.9.1 release package works
3. v0.10.0 build from source doesn't work
4. v0.10.0 release package doesn't work

[2022-05-07 03:45] juntao commented on #1426
@hydai Can you look into this? Thanks.

[2022-05-07 07:28] hydai commented on #1426
I will try to reproduce this. Maybe we need to have a workflow for all available macos version + AppleClang version.

[2022-05-07 12:44] juntao opened #1429 "Create a Tokio-like async runtime in WasmEdge"
## Motivation

One of the most important features of WasmEdge is its support for [non-blocking network sockets](https://wasmedge.org/book/en/dev/rust/networking-nonblocking.html). However, the current WasmEdge API for async networking is still cumbersome. Rust developers would prefer to use a Tokio-like async / await API for such tasks.

But Tokio is multi-threaded and cannot run correctly in stan

[2022-05-07 13:12] juntao commented on #1339
Hi @abhinandanudupa

My apologies for the delay. I am not very familiar with YEW SSR, but your understanding sounds correct. Do you have a working example of YEW running SSR on a native Rust web server? We can then replace the Rust web server (actix-web?) with an alternative implementation using WasmEdge networking socket API.

cheers
Michael

[2022-05-07 14:00] abhinandanudupa commented on #1339
No need to apologise! I am guilty too.

Using the official `yew` [example of SSR](https://github.com/yewstack/yew/tree/master/examples/simple_ssr), I have tried to use the [`HTTP server example`](https://github.com/second-state/wasmedge_wasi_socket/tree/main/examples/http_server) from the `wasmedge_wasi_socket` repository to build an example.
As both are **official examples**, those interested in

[2022-05-07 14:04] abhinandanudupa commented on #1339
Perhaps, we can use this example to demonstrate `tokio` multi-threading in `WasmEdge` as alluded to [here](https://github.com/WasmEdge/WasmEdge/issues/1429#issue-1228619466)?

[2022-05-07 14:05] juntao opened #1430 "Provide a wasm-compatible Rust TLS implementation"
## Motivation

The WasmEdge networking socket API provides support for TCP and HTTP connections. But many web services today require HTTPS connections. That means we need to support TLS in WasmEdge. The [Rustls](https://github.com/rustls/rustls) crate is the most popular TLS implementation in Rust. However, Rustls is based on the Ring library, which cannot be compiled into WebAssembly.

In WasmEdg

[2022-05-07 14:31] MediosZ commented on #1429
Hi, @juntao
I test tokio single-thread executor in wasi and it works.
The next step would be refactoring the wasmedge_wasi_socket to asyncify it.
Maybe we can just use tokio or implement a new one with Tokio compatible API.

[2022-05-07 15:47] juntao commented on #1429
Cool. Can you share an example of your test?

[2022-05-07 16:09] MediosZ commented on #1429
Sure. Here's a minimal example.
[code]
I also tried `tokio::fs`, but it didn't work. tokio spawns a new thread when it opens a file, which is not permitted in wasm.

[2022-05-07 16:09] sonder-joker commented on #1430
Some additional relative information.

[2022-05-07 17:14] juntao commented on #264
The `wasmedge-bindgen` crate provides a solution for this.

Create a Wasm function in Rust: https://wasmedge.org/book/en/dev/rust/bindgen.html

Golang host: https://wasmedge.org/book/en/embed/go/function.html

[2022-05-07 17:14] #264 closed

[2022-05-07 18:58] juntao opened #1431 "Support Durable Objects (DO) in WasmEdge"
## Motivation

Durable Objects (DO) are persistent data objects available to applications at runtime. They can be stored in a persistent KV store or a data cache. [DOs are important for stateful serverless functions](https://blog.cloudflare.com/introducing-workers-durable-objects/).

The [Anna KVS](https://github.com/hydro-project/anna) project developed by UC Berkeley is an autoscaling KVS ideall

[2022-05-07 19:24] juntao commented on #1429
Thanks! I think we can fork the Tokio MIO library and use `wasmedge_wasi_socket` instead of the standard I/O sockets when the build target is `wasm32-wasi`.

For Tokio itself, we use the same approach -- generate code for the single-threaded runtime when the build target is `wasm32-wasi`.

[2022-05-07 19:30] juntao commented on #1339
Wasm is single-threaded (well, at least until the Wasm Threads proposal is fully supported). The issue above is to create a single thread scheduler to execute async functions (i.e., to stop a running function, go check for something else, and then remember to come back and resume the function again -- all in a single thread).

[2022-05-07 19:32] juntao commented on #1339
For your example, I think we could try to run a plain server using just the wasmedge-wasi-socket API.

https://wasmedge.org/book/en/dev/rust/networking-nonblocking.html#a-non-blocking-http-server-example

The idea is that we will by pass the standard Rust `future` and `async` APIs altogether in our web server. Is that possible?

[2022-05-07 19:49] juntao opened #1432 "A PostgreSQL database driver for WebAssembly"
## Problem

As WebAssembly is increasingly adopted as a server-side application runtime, WebAssembly applications, such as serverless functions and embedded functions, require access to relational databases. This can be done through socket connections to the database server. However, WebAssembly does not yet support the POSIX socket API. That means standard Rust (or JavaScript) connectors for Post

[2022-05-08 01:20] MediosZ commented on #1429
`mio` adds limited tcp support as discussed here https://github.com/tokio-rs/mio/pull/1549.
So yes, the first step would be making `wasmedge_wasi_socket` work for `mio`.
And `tokio` also uses `socket2`, I think we need to patch these codes so `tokio` may work as well.

[2022-05-08 02:27] juntao commented on #1045
Done!

[2022-05-08 02:27] #1045 closed

[2022-05-08 03:08] juntao commented on #1429
Yes, I think we fork `tokio` first and see if we can make it work. We should not change or fork `socket2` however. Just use `wasmedge-wasi-socket` for the `wasm32-wasi` target, and `socket2` for other build targets.

[2022-05-08 11:01] hydai opened #1433 "Implement component-model proposal in WasmEdge"
## Motivation

The [component-model](https://github.com/WebAssembly/component-model) proposal merges and supersedes the [Module Linking](https://github.com/WebAssembly/module-linking/) and [Interface Types](https://github.com/WebAssembly/interface-types) proposals.

With this feature, WasmEdge can execute multiple modules wasm with Module Linking and and more flexible types with Interface Type.

#

[2022-05-08 13:29] hangedfish opened #1434 "Fail to build in macOS Monterey aarch64"
## Description

### Current State
 Fail to build WasmEdge project

## Environment

- Hardware Architecture: aarch64
- Operating system: MacOS 12.2.1

- C++ Compiler version: Apple clang version 13.0.0 (clang-1300.0.29.30); Target: arm64-apple-darwin21.3.0
- CMake version: 3.22.2
- CMake flags: -DCMAKE_BUILD_TYPE=Release -DWASMEDGE_BUILD_AOT_RUNTIME=OFF
- Boost version: 1.76.0

## Steps to Reproduc

[2022-05-08 13:32] hydai opened #1435 "Fix MacOS workflow to the latest OS version and AppleClang version"
## Description

Currently, WasmEdge cannot be built on the latest MacOS with the latest AppleClang. Even on x86_64 or aarch64 platforms.

### Expected

WasmEdge should be compiled successfully.

### Related Issue
* #1434
* #1426

[2022-05-08 14:16] hydai commented on #1397
Thanks for your advice.
We are working on this, hope we can have it in the near future.

[2022-05-08 14:45] MediosZ commented on #1434
AppleClang adds the flag `-Wno-reserved-identifier` after version 13. But I didn't find exactly which version it is.
After upgrading the AppleClang to latest version, the source code can compile successfully.

[2022-05-08 14:55] hangedfish commented on #1434
Thanks a lot.
Solved with update clang to Apple clang version 13.1.6 (clang-1316.0.21.2.3).

[2022-05-08 14:55] #1434 closed

[2022-05-08 21:56] TieWay59 commented on #1430
Hello, I feel the third stage, Implementing the TLS Spec, is a huge milestone, and I'd like to begin by reviewing the rustls APIs. To take on this topic, one should get to know both rust-crypto and the TLS spec well.
I'm a SE student who hasn't previously concentrated on the TLS protocol. Any advise on how to become more familiar with this task quickly would be greatly appreciated.😀

[2022-05-09 01:25] eat4toast commented on #1292
## Week 8
Do few things due to May Day (holiday evenly 5days in  my local)
## This week
* Try to take a glance at the Loader code base (focus on the whole structure, since native lib is hard to modify)
* Find the context with **Instance::ModuleInstance::addFunc** （insert code in branch to measure which be called frequent)

[2022-05-09 03:05] juntao commented on #1430
@TieWay59 I think one way to do is to fork the Rustls library, find out how Ring is used and swap Ring API calls for Rust Crypto. 😃

[2022-05-09 04:55] sonder-joker commented on #1430
Here are some of my insights
## Adapt rustls rather than reimplement tls.
TLS protocol is very huge. Reimplementation not only means a lot of work, but also may lack of security. Reuse rustls consider more better.

## What is problem in rustls
Rustls highly coupled with Ring. However, many users of rustls want to replace Ring, which mean provide a crypto layer. https://github.com/rustls/rustls/iss

[2022-05-09 06:28] liborui commented on #395
Hi guys! I am wondering if this support of WASI-NN proposal is undergoing, finished or abandoned?

[2022-05-09 06:32] q82419 commented on #395
Hi @liborui ,

We are now working on the WASI-NN proposal with the OpenVINO backend now.
You can refer to:
#973
#1340
#1414
And we will keep updating the `proposal/wasi_nn` branch. Thanks.

[2022-05-10 03:27] TieWay59 commented on #1430
Thank you @juntao & @sonder-joker, after simply going through the rustls code base, I agree that TLS protocol is too huge to reimplementation. I‘ll keep investigate into the code base of [RustCrypto](https://github.com/RustCrypto/traits) , [rust-crypto](https://crates.io/crates/crypto) and [wasi-crypto spec](https://github.com/WebAssembly/wasi-crypto) to find more inspiration.

[2022-05-11 01:48] MediosZ commented on #1402
`mysql` crate requires `native-tls`, I disable it for now.
[code]
However, I guess we need to support TLS if we want our changes being merged.
And rust does not support target-specific features yet.

[2022-05-11 07:35] #1427 closed

[2022-05-11 08:19] dm4 opened #1439 "A demo for proxy-wasm"
## Motivation

Since WasmEdge is merge into [proxy-wasm-cpp-host](https://github.com/proxy-wasm/proxy-wasm-cpp-host) (https://github.com/proxy-wasm/proxy-wasm-cpp-host/pull/193), we need a simple demo to show our support on proxy-wasm.

## Details

TBD

[2022-05-11 12:27] MediosZ commented on #1402
I just find that `mysql` has support for `rustls`.
But there some limitations when using `rustls`.

But yes, we can use `rustls` for simpilicity and that's the best option for now.

[2022-05-11 12:37] sonder-joker commented on #1430
For those who want to start working here, you can start by abstract traits that coupled with ring and webpki (for ring/webpki relative use `feature = "ring" ` and `#[config(ring)]` or other, any idea you like). You can also compare your design with [rust-crypto](https://github.com/RustCrypto/traits).

[2022-05-11 19:00] q82419 commented on #1327
Hi @spacewander ,

I think this may work:

[code]

Can you try this with the `0.10.0-alpha.1` version?
Thanks.

[2022-05-12 01:13] MediosZ commented on #1429
Currently, I make a working single-thread wasi runtime. However, since we can not block the thread in wasm, the runtime has to poll the futures continously in a loop. It is naive but seems necessary.
Can we pause the wasm program when it's waiting for response and resume it once we get the response?
btw, where should we put the code of the runtime? Maybe in a separate repository?

[2022-05-12 02:45] juntao commented on #1429
Do you mean to pause and resume Wasm execution from outside of the VM (ie in the host program that embeds the VM)?

Checkout what Wasm-opt has done for JS hosts: https://web.dev/asyncify/

We can build similar functionalities into our Go or Rust SDKs. @apepkuss @L-jasmine

[2022-05-12 06:54] spacewander commented on #1327
Thank you very much!
Now the test can pass. Thanks!

[2022-05-12 06:54] #1327 closed

[2022-05-12 07:37] MediosZ commented on #1429
Yes, it would nice if a wasm program can **pause itself** when there's nothing to do, and be resumed **by the host program** when some condition is met.
Let's say the wasm program is waiting for a network packet, there's nothing to do until the packet arrives. Then the wasm program can **block itself** instead of checking if the packet arrives endlessly. And the host program can resume it later.
I

[2022-05-12 16:57] juntao commented on #1429
I think perhaps we can do the "easy" thing first? That is to implement a single threaded scheduler for async operations. It is completely self-contained inside WasmEdge without any interaction from the host -- the Wasm app can run several async tasks concurrently on the single thread -- very much like how WasmEdge socket's non-blocking I/O works.

[2022-05-13 01:21] MediosZ commented on #1429
@juntao
I've finished that already.
The problem is that the runtime has to poll the futures continously in a loop. But it's not a big problem for now I guess.
So maybe next step would be adding async support for `wasmedge_wasi_socket`, so that we can make use of the async scheduler.

[2022-05-13 03:13] juntao commented on #1429
What is the disadvantage of "constantly polling"? Is it performance? Is it how the non-blocking I/O in WasmEdge socket api currently works?

I think perhaps a long term solution is to leverage the Wasm Threads proposal. https://github.com/WasmEdge/WasmEdge/issues/248

[2022-05-13 04:26] MediosZ commented on #1429
The runtime is doing something unnecessay. It could just sleep and be waken later. And the performance could be slightly affected.
The non-blocking I/O in WasmEdge socket api has to be used [in a loop.](https://github.com/second-state/wasmedge_wasi_socket/blob/73f1b0b1db7fffb9bf619165dafabf7bd1678fef/examples/nonblock_tcp_stream.rs#L14)

[2022-05-13 04:42] juntao commented on #1429
Yeah. We prefer to keep everything inside the Wasm VM (without help from the host). That is a simpler model for app developers to understand (less magic and generated code).

I think we can live with the polling for now, and look into supporting multi-thread inside Wasm as a longer term solution.

[2022-05-13 07:30] sascha1337 commented on #1429
socket2 always annoyed me compiling to wasm/wasi, u will be heroes if you will get this stuff forked patched and working !

[2022-05-13 10:03] KernelErr opened #1447 "wasmedge_process module not founded"
![image](https://user-images.githubusercontent.com/45716019/168261069-b7e6224b-cfc5-483d-8144-9838bf597de1.png)

For the latest code [bddef83](https://github.com/WasmEdge/WasmEdge/commit/bddef835c98ea9143c68f991735b79567fb2f0e2), there is an error message when running the wasm module. Seems that `wasmedge_process` has been moved.

[2022-05-13 10:07] hydai commented on #1447
If you are using the latest master, you may need to expose the env variable `WASMEDGE_PLUGIN_PATH` to get your plugins in the build folder load.

Otherwise, the default loaded plugin should be put in the `~/.wasmedge/plugin`.

[2022-05-13 10:08] hydai commented on #1447
@ibmibmibm
Maybe we should remove this error message if the wasmedge process is not loaded. Because all of the plugins can be removed if users don't need them.

[2022-05-13 10:12] hydai opened #1448 "The installer should copy plugins into the installed folder"
## Motivation

The file structure of the latest pre-release 0.10.0-alpha.1:

[code]

We have moved the WasmEdge process host functions into an external shared library. The default installed path should be `~/.wasmedge/plugin`.

It's better that the installer and uninstaller to support copy and remove these files.

[2022-05-13 10:12] hydai commented on #1448
Hi @SAtacker,

Could you please help with this issue?

[2022-05-13 22:58] beef331 commented on #618
Seems this is also an issue for building on some distros, trying to build from source outside of docker(think it's causing an issue with my system). Using debian sid, seems it doesnt respect `LLVM_LIBRARY_DIR` or properly search inside of it.

[2022-05-14 07:18] hangedfish opened #1450 "Is `INode::sockConnect` IPv6 implmented right?"
## Description

### Current State

`INode::sockConnect` is implemented by `::bind` under the conditions of the IPv6 protocol family

### Expected

`::connect` should be used.

## Steps to Reproduce

[lib/host/wasi/inode-win.cpp:442](https://github.com/WasmEdge/WasmEdge/blob/f77e67dfb298576b41eb7874df4f399a0de0e808/lib/host/wasi/inode-win.cpp#L442-L444)
[lib/host/wasi/inode-linux.ccp:975](https://g

[2022-05-14 07:42] hydai commented on #1450
@LFsWang Could you please take a look on this?

[2022-05-14 07:47] TieWay59 commented on #1430
Hi @sonder-joker, here is my progress:

Since rustls have lots of dependence on the ring crate, I investigate all related lines to evaluate the scale of re-implementation and listed them in a table. It's a very verbose result so I keep it in my blog post. (see https://www.yuque.com/tieway59/xopdgg/zmkx5g)

As per my investigation, there are more structs than traits that need to be replaced. May I

[2022-05-14 11:42] LFsWang commented on #1450
#1451

[2022-05-14 13:15] SAtacker commented on #1448
Yes, thanks for notifying me.

[2022-05-14 14:23] SAtacker commented on #1448
Can you please point me to the resource where the details of these are mentioned?
Details like why was it done? How the user achieves it?
Also, I need to make the default directory to `~/.wasmedge/plugin` for this version and beyond. Is that it?

[2022-05-14 21:43] daxsis commented on #1433
Hello, could I ask the deadline for LFX application and test project? I could not find anywhere information about it, not on LFX or github. Thank you.

[2022-05-15 03:12] alabulei1 commented on #1433
Hi, The LFX application deadline is on May 24rh. The mentorship challenge is on May 27th. To find more details, please check out [this blog](https://www.secondstate.io/articles/lfx-mentorship-wasmedge-summer-2022/).

[2022-05-15 09:50] hydai commented on #1448
Yes, after 0.10.0, the default directory will have a new folder called `plugin` which contains all the default installed plugins from the tarball. You may need to check the tarball on every distros to make sure the resource path.

[2022-05-15 11:47] SAtacker commented on #1448
Thanks. Another thing is, with the new plugins, shouldn't the directory tree you have mentioned be something like
[code]

[2022-05-15 11:51] SAtacker commented on #1448
It'll be best if I could get access to a temporary tarball to avoid any implicit thoughts.

[2022-05-15 16:08] hangedfish commented on #1372
It is not known how the `getaddrinfo` function of the IPv6 protocol family should be used.
[src/lib.rs](https://github.com/second-state/wasmedge_wasi_socket/blob/73f1b0b1db7fffb9bf619165dafabf7bd1678fef/src/lib.rs#L240)

[2022-05-15 16:11] juntao commented on #1430
Hi @TieWay59

I think the idea was to create new layer of abstract API interface (traits) between Ring and Rustls. This way, we can use Ring and Rust Crypto to implement the same API.

However, I also think this is perhaps more work than we can do. I think it is probably a good idea to provide WASI-crypto implementations of the same Rust API Ring provides to Rustls. That requires us to fork Rustls

[2022-05-16 08:26] ibmibmibm commented on #1448
Currently the tarball is for system-wide installation, so it follows the system-wide plugin installation path, which is `PREFIX/LIB/wasmedge`, but the per-user plugin installation path is at `$HOME/.wasmedge/plugin`.

[2022-05-16 08:43] q82419 opened #1456 "Extension name of AOT compiled on MacOS not works"
## Description

### Current State

When using the `.dylib` as the output name on MacOS, the output format should be shared library.
But the WasmEdge AOT compiler outputs the universal WASM format.

### Expected

Output the shared library format when using the `.dylib` on MacOS, and the `.dll` on Windows.

[2022-05-16 16:09] eat4toast opened #1457 "[need improve] Branch miss in interpreter mode"
## Description
refer to code lib/executor/instantiate/function.cpp  https://github.com/WasmEdge/WasmEdge/blob/70ed44a14664f030e6c63ba20ec12e1ce16bc74b/lib/executor/instantiate/function.cpp#L25-L30 add atomic var to count branch, and found interpreter mode always run in **else** branch, AOT mode always run in **if** branch. Which seems to cause a huge branch miss with interpreter mode.(I am not sur

[2022-05-17 00:31] q82419 commented on #1457
Hint:

In the header `include/loader/loader.h`, the input format (WASM, universal WASM, or shared library format) information can be found in these flags:

[code]

Maybe the `WasmEdge::AST::Module` class can save the loaded format information for improve this when instantiation.

[2022-05-17 01:57] hangedfish opened #1459 "`fd_write`/`fd_read` does not work on socket fd"
## Description

### Current State

The fd returned by `sock_open` does not work with `fd_write`/`fd_read` etc, it will return the error "Bad file descriptor".

## Steps to Reproduce

https://github.com/WebAssembly/wasi-io/pull/4

[2022-05-17 02:12] hangedfish commented on #1459
There are many TLS libraries, like OpenSSL, that use `write`/`read` instead of `send`/`recv` for socket fds. I think it is necessary to solve this issue.

[2022-05-17 03:17] hydai commented on #1459
Hi @hangedfish

This is not a bug.

The `wasi-io` you mentioned is a phase 2 proposal, which is not implemented and not on our current schedule. So it is not supported by the default WASI environment.

If this proposal is necessary, then we will have a new issue called `feat: implement WASI-IO in WasmEdge`

[2022-05-17 04:36] juntao commented on #1459
Let's create an issue to track wasi-io. Thank you.

[2022-05-17 13:04] Xunzhuo commented on #1439
Happy to help, it can be assigned to me:)

[2022-05-17 17:50] juntao commented on #1439
Thank you! Let us know how it goes!

[2022-05-18 03:13] L-jasmine commented on #1447
[code]

[2022-05-18 03:55] hydai commented on #1447
The `wasmedge_process not found` error message is removed from the latest master, which will be `0.10.0-alpha.2` soon.

Not sure the remaining error is related to the wasmedge_process. Will take a look. Could you provide the reproduce steps?

[2022-05-18 04:01] hydai opened #1462 "feat: Implement WASI-IO proposal in WasmEdge"
## Motivation

In #1459, we would like to have the socket handled by `fd_write` and `fd_read`. That's why we need to implement the WASI-IO proposal.

## Details

The WASI-IO proposal is a phase 2 proposal, so the spec of this proposal may change. Please follow the latest master to finish the implementation.

## Appendix

* WASI-IO: https://github.com/WebAssembly/wasi-io
* WASI-IO related to `fd_wr

[2022-05-18 05:57] hydai commented on #1400
Hi @LFsWang
Could you please explain more details about this issue?

[2022-05-18 06:00] hydai commented on #1053
Is this handled in our current implementation?

[2022-05-18 06:01] hydai commented on #990
Hi @LFsWang
I just updated the wasmedge_wasi_socket with our current master: https://github.com/second-state/wasmedge_wasi_socket/pull/54

Does the PR resolve this issue?

[2022-05-18 06:19] KernelErr commented on #1447
I just compiled from source and ran a hello world wasm module. If the lastest code has removed the error message, please close this issue.

[2022-05-18 06:19] hydai opened #1464 "CI: Clean up the build environments"
## Motivation

WasmEdge is built and tested on several platforms and distros. It's better to list the supported environment information including hardware architectures, operating systems, and different versions of the same operating systems.

## Details

We should have a table to handle this information, and also clean up the build.yml CI with this table.

[2022-05-18 06:20] LFsWang commented on #990
I think it is fine, and the bug in `recv_from ` mention in #1053 will be resolved in #1451

[2022-05-18 06:22] hydai commented on #1447
Fixed: https://github.com/WasmEdge/WasmEdge/commit/70ed44a14664f030e6c63ba20ec12e1ce16bc74b

@L-jasmine If you have another issue related to wasi-socket, please create a new issue for tracking it. Thanks.

[2022-05-18 06:22] #1447 closed

[2022-05-18 08:18] #1456 closed

[2022-05-18 09:38] MediosZ commented on #1462
I am willing to work on this!

[2022-05-18 10:15] hydai opened #1465 "bug: support LLVM 14 on Fedora"
## Description

The Fedora package management system has updated the llvm from `13.x` to `14.x`. So our workflows related to the fedora OS are all failed. We would like to support llvm 14 to fix these issues.

### Current State

All of the workflows related to fedora OS are failed.

### Expected

They should pass.

## Steps to Reproduce

https://github.com/WasmEdge/WasmEdge/runs/6485509505?check_s

[2022-05-18 13:33] TieWay59 commented on #1430
Thank you @juntao

Sorry for my late reply, and yes that's what I tend to build for this task. I wonder if it's reasonable to maintain a fork of Rustls in which we would replace all the Ring API with WASI-crypto implementations?

IMHO, When the upstream Rustls updates, it will be difficult to merge incoming updates. Is it acceptable? What do you think of the practice?

Thanks.

[2022-05-19 03:17] java-Xs opened #1466 "CMake Error: The source directory "" does not exist"
## Description
When i run this script,"./utils/android/standalone/build_for_android.sh",return some errors.
the error discripts:

Use Android NDK path: /home/ubuntu/Android/Sdk/ndk/23.1.7779620
=====================
=====================
.
/home/ubuntu/Desktop/project/wasm/android-wasmedge/WasmEdge
CMake Error: The source directory "" does not exist.
Specify --help for usage, or press the help but

[2022-05-19 04:40] hydai commented on #1466
Hi @java-Xs
One possible issue is that your os and cmake version is too old.
In our CI, we use Ubuntu 20.04 and cmake 3.22.

ref: https://github.com/WasmEdge/WasmEdge/commit/4498d443037f3cffa418be851f523dd40ac6a6e5#diff-5c3fa597431eda03ac3339ae6bf7f05e1a50d6fc7333679ec38e21b337cb6721R338-R372

[2022-05-19 05:43] java-Xs commented on #1466
Hi @hydai ,thank you, you are right.    I find my mistake.sorry.Now cmake tool is upgraded ,the version is 3.23

[2022-05-19 05:43] #1466 closed

[2022-05-19 06:30] eee4017 opened #1467 "WASM Thread support in WasmEdge"
The initial version of wasm focussed on single-threaded computation, so most design related to wasm threading allows only one thread in a wasm instance. However, there is also some design proposed for introducing multiple threads in a wasm instance which creates a thread with WASI in Wasm runtime.

## Single Thread per Wasm Instance

We discuss Web Worker-style threading in different ecosystems. T

[2022-05-19 15:54] hangedfish opened #1469 "How to allocate memory and return pointer from host function"
Hi, Host Function is a useful feature that I am trying to use.

I need to return the pointer from the Host function, but I didn't find the function to allocate memory space from the `Runtime::Instance::MemoryInstance` class.

Am I missing something?

[2022-05-19 17:10] hydai commented on #1469
Hi, do you have a detailed example? E.g. some pseudo-codes for using this mechanism?

[2022-05-19 19:52] juntao commented on #1467
I think we should go with the "multiple threads per VM instance"  approach. It is the easiest for developers.

The other approaches require a lot of generated code in the host, and specialized toolchains to generate them.

[2022-05-20 06:49] hangedfish commented on #1469
I am trying to wrap OpenSSL as a plugin.

Here are some functions that need to return a pointer from the host function.
[code]

It's easy to implement in WAMR, but I don't know how to implement it in WasmEdge.

[code]

[2022-05-20 07:09] hydai commented on #1469
Hi @q82419
Could you please help with this?

[2022-05-20 07:11] #1465 closed

[2022-05-20 07:48] hydai opened #1470 "uninstall script will report error when the env file is not found"
## Description

https://github.com/second-state/wasmedge-core/runs/6520513228?check_suite_focus=true

In this case, we would like to run uninstall script first to make sure all of the previous wasmedge version is removed.
However, it will report an error with `exit 1`, which will cause the npm to return the error code and halt.

### Expected

Show a warning. Not exit directly.

### Reference
https

[2022-05-20 13:14] q82419 commented on #1469
It seems like the WAMR maintains a heap in their memory instance implementation, so that they can provide an API to do this.
For working around, you can cast the pointer address to `uint64_t` and as the return value of your allocation host function:

[code]

And cast it back in the deallocation host function:

[code]

Thanks.

[2022-05-20 14:29] SAtacker commented on #1470
Finally, written exams are done today. Let me get home. Sorry for the delay.

[2022-05-20 14:30] hydai commented on #1470
Never mind. That's fine :-)

[2022-05-21 09:45] cyw3 opened #1475 "[AOT] generate the standalone native binary executor without wasmedge"
## Motivation

After `wasmedgec hello.wasm hello`, I want to run `./hello` without wasmedge.
[code]
This will have the following advantages:
- easy to distributing binaries;
- we can use `hello` binary directly, and don't need to install wasmedge additionally;
- Similar to packing reinforcement, program protection can be achieved.

Does the project currently support this feature?

Thanks!

[2022-05-21 09:46] hydai commented on #1475
Nope. WasmEdge doesn't support this feature.

[2022-05-21 09:47] cyw3 commented on #1475
Is there any plan to support this feature in the future?

[2022-05-21 09:53] hydai commented on #1475
I will say this is not on our current roadmap. However, this could be a community-driven feature.

[2022-05-21 09:54] #1470 closed

[2022-05-21 10:46] cyw3 commented on #1475
I think this feature is very necessary.

[2022-05-21 12:24] cyw3 opened #1476 "Difference with wasmer"
## Motivation

I am doing research on related WASI technologies.

WasmEdge is a great project, but I want to know the difference and advantages between WasmEdge and Wasmer, Wasmtime?

Thanks!

[2022-05-22 02:27] alabulei1 commented on #1476
Hi @cyw3,

There are many differences — performance, features, compatibilities, etc. But we do not discuss our competitors. If you are interested in learning more for your research, you can get in touch with me via email vivian AT secondstate DOT io. Thanks.

[2022-05-22 05:09] abhinandanudupa opened #1477 "GSoC Workspace: Implement `WASI` and `wasmedge_process` host functions on the Windows platform"
# Motivation

Currently, the `WASI` and `wasmedge_process` components in WasmEdge are only implemented on *nix platforms (mac OS and Linux) and most of the host functions are not yet supported on the Windows platform. Since there are a lot of windows users would like to use `WasmEdge`, it will be important to implement these host functions and satisfy their requirements.

# Milestones

### Communi

[2022-05-22 07:11] SAtacker opened #1478 "[utils] Installer: Support for Different uninstaller tag"
## Motivation

* With `-u` or `--uninstall-script-tag` we should be able to pass the tag for the uninstaller script in case we change something in the future.
* Brings compatibility for future versions.

[2022-05-22 17:36] abhinandanudupa commented on #1290
I think this needs to be reopened as I am getting the same error on the latest build (and the solution by @LFsWang works).

[2022-05-23 02:07] cyw3 commented on #1476
Ok, thank you for your reply.

[2022-05-23 02:08] #1476 closed

[2022-05-23 15:47] eat4toast commented on #1292
## Week 10

Stuck with [issue#1457](https://github.com/WasmEdge/WasmEdge/issues/1457), I try different ways to solve and run various test cases, but the time cost in the interpreter is not improved much(the branch misses certainly decrease, but it depends on the branch miss take percent)
## This week
Try to improve/ fix this issuehttps://github.com/WasmEdge/WasmEdge/issues/1457

[2022-05-23 16:07] wenym1 opened #1485 "Failed to build on Mac OS with M1 chip"
## Description

I was following the [Mac OS build guild](https://wasmedge.org/book/en/extend/build_on_mac.html) to build on my Macbook Pro with M1 chip, and the compilation failed.

### Current State

Compilation failed with the following messages logged out.
[code]

In the ninja build file generated by cmake, the build command corresponding to the failed file `macos.mm` is
[code]

After I manuall

[2022-05-23 16:08] wenym1 commented on #1293
Submitted an issue about build failure on MacOS with M1 chip. #1485

[2022-05-23 17:20] wenym1 commented on #1293
Ran a simple rustpython benchmark with interpreter mode.  Following are some benchmark setting.
- Environment and steps to build the project is described in #1485.
- The wasm file of rustpython can be built according to the guild in [Github/RustPython](https://github.com/RustPython/RustPython).
- A generated wasm file of rustpython used in the benchmark is [rustpython.wasm](https://github.com/weny

[2022-05-23 17:24] juntao commented on #1293
Thank you. Did you run the AOT compiler `wasmedgec` on the `rustpython.wasm` file? Thanks.

[2022-05-23 17:27] wenym1 commented on #1293
Besides, I use a hashmap to collect the count of each op code while running the benchmark.
The count result is in [op_code_count.txt](https://github.com/wenym1/WasmEdge/blob/master/rust-python-benchmark/result/op_code_count.txt).

The following op code are some most frequently used op code. The op code are sorted in ascending order. On the right of the op code are their portion to all op.
[code]

[2022-05-23 17:49] wenym1 commented on #1293
From the flamegraph and the op count statistics, I suppose that loading and storing memory and calling host function can possibly become a bottleneck.

For loading and storing memory, from the flamegraph, we can see that some execution time is spent on `std::memcpy`. I looked into the call stack and figured out that it is called in `loadValue` and `storeValue` in [memory.h](https://github.com/Wasm

[2022-05-24 06:30] chairwa commented on #1025
No wasmedgec included in WasmEdge release for Android. I wonder why.

[2022-05-24 06:33] hydai commented on #1025
To use ahead-of-time compilation mode, it must have LLVM dependency on the related platform. Currently, we don't port the LLVM framework and aot mechanism on the android platform. That's why we don't support it.

[2022-05-24 09:26] L-jasmine commented on #1469
I am trying SSL to plugin too. And I found a problem. How I get a real `fd` ?

[2022-05-24 10:18] hydai commented on #1469
The `fd` should be stored in `RoFDPtr`:
https://github.com/WasmEdge/WasmEdge/blob/master/include/host/wasi/wasifunc.h#L365-L372

[2022-05-24 12:48] L-jasmine commented on #1469
https://github.com/WasmEdge/WasmEdge/blob/11ee9b39e24461e214f7dd1d33e31172127d6b7d/include/host/wasi/environ.h#L1096

I don't kown how plugin get `FdMap`? I think plugin can't get a real `fd`

[2022-05-24 12:51] hydai commented on #1469
To get a socket fd, you should use `wasi::sockOpen` not using its internal functions or data structures.

The SSL doesn't belong to WASI socket, which means that if you want anything provided by WASI socket, you have to use the WASI socket functions not this `generateRandomFdToNode`.

[2022-05-24 13:07] hydai commented on #1469
Something like this?

[code]

Or do I misunderstand what you want?

[2022-05-24 13:18] L-jasmine commented on #1469
yes. The socket fd from wasi, but I need use it in ssl plugin.

[code]

[code]

[2022-05-24 16:51] L-jasmine opened #1489 "[WASI] RecvFrom return sender address length"
https://github.com/WasmEdge/WasmEdge/blob/f77e67dfb298576b41eb7874df4f399a0de0e808/lib/host/wasi/wasifunc.cpp#L1823-L1825
In RecvFrom, InnerAddress should write by wasmedge_wasi, not wasm. this address is the sender's address, so wasm don't kown it is ipv4 or ipv6.

[2022-05-24 17:42] L-jasmine commented on #1489
another question.

I call `sock_recv_from(fd,recv_buf,sender_addr,flags,recv_len,oflags)`.
and then, I send a udp message from `127.0.0.1:3000` to this socket.

the sender_addr recv data is a bytes `[2, 0, 11, 184, 127, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]` .

sender_addr[0:2] is `__wasi_sockaddr_in_t.sin_family`
sender_addr[2:4] is `__wasi_sockaddr_in_t.sin_port`
sender_addr[4:8] is `__wasi_sockaddr_

[2022-05-24 18:21] L-jasmine opened #1490 "[WASI] Close socket, but fd is leak"
I loop accept new socket and close it,
`ls /proc/{wasmedge_pid}/fd` will keep increasing.

[2022-05-25 05:05] hydai commented on #1469
Maybe a helper function for converting random fd to real fd can help.
Let me think if there is a better way to do this

[2022-05-25 05:07] hydai commented on #1489
What's the expected output of `recv_from` in libc?
If the return value of libc's version doesn't contain this information, we can handle it on the host function side.
If not, we should handle it on the Rust Crates side

[2022-05-25 05:08] hydai commented on #1490
Hi @L-jasmine
Please provide the reproduced steps for us to test and verify. Thanks.

[2022-05-25 05:22] hydai commented on #1485
Looks like this is a common issue when upgrading to MacOSX 12.x SDK: https://stackoverflow.com/questions/70287733/sdl2-doesnt-compile-on-macos-big-sur

Currently, I don't have a best practice to fix this. Do you have any workaround for this?

[2022-05-25 05:26] hangedfish commented on #1489
wasmedge-socket is not compatible with wasi-libc and needs to implement a compatibility layer by yourself.

My code at [wasi_socket_ext.c](https://github.com/hangedfish/httpclient_wasmedge_socket/blob/main/wasmedge_wasi_socket_c/wasi_socket_ext.c)

[2022-05-25 05:47] wenym1 commented on #1485
Seems the problem is truly caused by the MacOS SDK version.

Just tried adding a new option `-DCMAKE_OSX_SYSROOT=/Library/Developer/CommandLineTools/SDKs/MacOSX11.3.sdk/` in cmake, and then the build worked without failure.

[2022-05-25 08:57] Alanthur opened #1493 "exec /http_server.wasm: exec format error"
I follow the https://wasmedge.org/book/en/kubernetes/kubernetes/kubernetes-containerd.html But got error “exec /http_server.wasm: exec format error”

My kubernetes version is v1.21.5
My contained version is v1.6.4
My contained config：
`disabled_plugins = []
imports = ["/etc/containerd/config.toml"]
oom_score = 0
plugin_dir = ""
required_plugins = []
root = "/var/lib/containerd"
state = "/run/conta

[2022-05-25 09:36] L-jasmine commented on #1490
https://github.com/second-state/wasmedge_wasi_socket/runs/6589449432?check_suite_focus=true

`HTTP server example` show this bug

[2022-05-25 09:41] hydai commented on #1490
Looks like the TCPStream only shutdown the socket not closing the fd. So the fd is still alive but the socket is closed already.
Ref: https://stackoverflow.com/questions/35441815/are-close-and-closesocket-interchangable

[2022-05-25 16:41] juntao commented on #1493
The GitHub Actions shows it works ...

https://github.com/second-state/wasmedge-containers-examples/actions/runs/2385798735
https://github.com/second-state/wasmedge-containers-examples/actions/runs/2385799753
https://github.com/second-state/wasmedge-containers-examples/actions/runs/2385801291
https://github.com/second-state/wasmedge-containers-examples/actions/runs/2383317382

[2022-05-26 02:04] Alanthur commented on #1493
I run
`sudo ctr run --rm --net-host --runc-binary crun --label module.wasm.image/variant=compat docker.io/avengermojo/http_server:with-wasm-annotation http-server-example /http_server.wasm
`
It works well.
But I run `docker run -d --label module.wasm.image/variant=compat --runtime crun --name wasm-test docker.io/avengermojo/http_server:with-wasm-annotation /http_server.wasm`
It shows errors
`{"msg

[2022-05-26 02:47] juntao commented on #1493
Docker CLI may not support image annotations.

[2022-05-26 03:29] L-jasmine commented on #1490
I try call `close()` after `shutdown()`, and it is fixed.
thinks.

[2022-05-26 03:29] #1490 closed

[2022-05-26 05:39] q82419 opened #1497 "[Installer] Cannot install the latest version"
## Description

### Current State

WasmEdge 0.10.0 released, but the installer will install 0.9.1 if the `-v` option not specified.
And for the MacOS, the extensions cannot be installed with the 0.10.0 version if the `-e all` specified. (The 0.10.0-rc.1 works.)

### Expected

Install the latest version (0.10.0 now) if no version specified.
Install the extensions (image and tensorflow) for 0.10.0 o

[2022-05-26 05:40] #1332 closed

[2022-05-26 05:44] q82419 commented on #1497
This can be reproduced on Linux, too.
If users install WasmEdge from the installer, the 0.9.1 will be installed.

[2022-05-26 06:04] hydai opened #1498 "feat: WASI-Socket: Handle IPv4, IPv6, and more protocols"
## Motivation

In the current design of the WASI socket, we use `sockaddr_in` and `sockaddr_in6` to handle the IPv4 and IPv6. However, it's a big problem to deal with the structure size in WASM memory. The `sockaddr_in` uses 16 bytes whereas `sockaddr_in6` uses 28 bytes.

To simply the situation and increase the compatibility, using `sockaddr_storage` as the new interface type is a better way.

##

[2022-05-26 08:10] eee4017 commented on #1467
I made an example to demonstrate how to use WasmEdge C API and Wasm Thread Proposal to render the Mandelbrot set with multiple workers. Please refer to PR #1499. With the current thread proposal implementation in WasmEdge, we could create multiple workers with the `Single Thread per Wasm Instance` approach mentioned above and accelerate the rendering process. Further, the evaluation shows that sin

[2022-05-26 14:48] faroukianoxide opened #1500 "failed to run custom build command for `wasmedge-sys v0.5.0`"
## Description

I am trying to embed the WasmEdge runtime in a Rust project that uses `actix-web`.

When running `cargo build` with `wasmedge-sys v0.5.0` as dependency, the build terminates on building `wasmedge-sys` and throws the following error:

[code]

## Environment

- Hardware Architecture: x86/64
- Operating system: Windows 11

I have this in the dependencies in my `Cargo.toml` file:

[cod

[2022-05-27 02:22] Alanthur commented on #1493
I see

[2022-05-27 02:22] #1493 closed

[2022-05-27 05:58] chairwa commented on #1025
Thanks for your reply. Do you have plan to support AOT on Android, e.g. v1.0 version.

[2022-05-27 06:17] hangedfish commented on #1025
If you are using Termux terminal in Android, you can install wasmedge via `pkg` command. This wasmedge release included wasmedgec and supports AOT.

https://github.com/termux/termux-packages/pull/9053

[2022-05-27 06:19] hydai commented on #1025
@hangedfish
Do we already have AOT support on Android platform?
https://github.com/WasmEdge/WasmEdge/blob/master/.github/workflows/build.yml#L358-L389
Looks like this is not enabled in the build workflow or release workflow?

[2022-05-27 06:45] chairwa opened #1501 "WasmEdge 0.9.1 states "Image Extensions not supported""
## Description

I use WasmEdge 0.9.1 and WasmEdge-go 0.9.2 to run
https://github.com/yomorun/yomo-wasmedge-tensorflow

### Current State

curl -sSf https://raw.githubusercontent.com/WasmEdge/WasmEdge/master/utils/install.sh | bash -s -- -e all -v 0.9.1

Detected Linux-aarch64
No root permissions.
Installation path found at /home/firefly/.wasmedge
No path provided
Installing in /home/firefly/.wasme

[2022-05-27 07:59] faroukianoxide commented on #1500
Thank you so much @apepkuss for your reply.

So I tried the first option (the second didn't work) and now it's demanding that I set the path to find `clang.dll` and `libclang.dll`.
[code]
I guess I have to grab and build `clang` then. I will let you know how it goes.
But I am just curious, is this a normal/expected behavior because none of these was mentioned in the `WasmEdge`  Rust doc?

Thanks a

[2022-05-27 08:33] apepkuss commented on #1500
Hi @faroukianoxide

Thanks for your feedback, and sorry for the inconvenience. We also noticed the issue you mentioned. Our [WasmEdge Book](https://wasmedge.org/book/en/index.html) will add a specific section for solving the issue ASAP.

@hydai Could you please help with the `dll` issues? It seems the issues happened while compiling `WasmEdge`.

[2022-05-27 08:40] hydai commented on #1500
If you have to build from source on Windows platform, please refer to our build workflow: https://github.com/WasmEdge/WasmEdge/blob/master/.github/workflows/build.yml#L293-L356

[2022-05-27 08:45] 0yi0 commented on #1497
https://github.com/WasmEdge/WasmEdge/blob/97f49acab3c16053c6bf6fd6d6e17226801b8db9/utils/install.sh#L123

[2022-05-27 08:56] hangedfish commented on #1025
I think `wasmedgec` usually works on the host, while `wasmedge` works on the Android platform.
`wasmedgec` is required as a cross compiler to compile wasm to aarch64 assembly. I'm not sure if `wasmedgec` can do this.

[2022-05-27 09:18] chairwa commented on #1025
This is key point.
I use wasmedgec to convert wasm to so on aarch64 linux SBC, and the result so can be run on Android like a charm.
Before I thought linux so cannot be used on Android.

[2022-05-27 10:41] faroukianoxide commented on #1500
`clang` issue now resolved (thanks), but now I have this:

[code]
Even after pulling fresh `v0.5.0` code into my `cargo` registry. I should also mention that I am nothing close to a `rust` expert.
Thanks.

[2022-05-27 11:03] SAtacker commented on #1497
Thanks, @0yi0 @q82419

[2022-05-27 11:43] apepkuss commented on #1500
@faroukianoxide

I reproduced the issue with `wasmedge-sys v0.5.0` and `wasmedge v0.9.1`. According to our investigation, `wasmedge-sys v0.5.0` is based on the APIs of `wasmedge` between `v0.9.1` and `v0.10.0`. So a feasible solution to the issue is to build a wasmedge from `commit 7e791fbc`, and replace the old one with the new one. Another way is that today we released [wasmedge v0.10.0](https:/

[2022-05-27 11:45] hydai commented on #1500
@apepkuss Since there is not a pre-built release for `wasmedge-sys v0.5.0`, should we yank this version and make users to use the next release?

[2022-05-27 13:02] #1497 closed

[2022-05-27 14:13] faroukianoxide commented on #1500
So I upgraged `wasmedge-sys` to `v0.7.0`  and `wasmedge` to `v0.10.0` as @apepkuss suggested. Things seemed to go a bit better than now except that I encountered this:

[code]
 Any suggestions, please?

[2022-05-27 14:19] apepkuss commented on #1500
@hydai I just worry that some guys are building up their apps based on this version in the `standalone` mode, for example, `substrate-wasmedge`. `wasmedge-sys v0.5.0` can work in the `standalone` mode correctly on Linux and macOS, so considering these users, keeping `v0.5.0` could be reasonable. But the issues above are a good lesson for us. I believe that a CI job against the `standalone` mode on

[2022-05-27 14:22] apepkuss commented on #1500
@hydai Could you help with this issue? It seems a failure was caused during the compilation of `WasmEdge`. It behaves so weirdly on the Windows platform.

[2022-05-27 15:23] hydai commented on #1500
I will say that we should show a warning message when people are using `wasmedge-sys` on the Windows platform currently. Unless we create a workflow to cover the `wasmedge-sys` on the windows platform.

The reasons are:
1. Most of the WASI functions are not implemented on the Windows platform. Tracking issue: https://github.com/WasmEdge/WasmEdge/issues/1477
2. There is no workflow for testing the

[2022-05-27 15:29] hydai opened #1504 "Enable building and testing workflow for rust related crates on the Windows platform"
## Motivation

Previous discussion: #1500

## Details

Currently, there is no workflow to build and test rust-related crates on the Windows platform. So there is no guarantee for making sure the compilation and functionality are working.

[2022-05-27 15:37] #1448 closed

[2022-05-27 15:37] #1478 closed

[2022-05-27 15:39] hydai commented on #309
The PR is merged. So I am closing this issue.

[2022-05-27 15:39] #397 closed

[2022-05-27 15:41] #506 closed, assigned to dm4, hydai

[2022-05-27 15:43] #527 closed, assigned to hnampally

[2022-05-27 15:43] #533 closed, assigned to hnampally

[2022-05-27 15:44] #534 closed, assigned to hnampally

[2022-05-27 15:44] #549 closed

[2022-05-27 15:44] #550 closed, assigned to hnampally

[2022-05-27 15:49] apepkuss commented on #489
@hydai Got it, I'll check it. Thanks!

[2022-05-27 15:53] hydai commented on #845
Not sure what's the best practice. The libraries depend on operating systems and hardware. Is it possible to run a pre-install script before every installation?

[2022-05-27 15:58] #906 closed

[2022-05-27 15:58] #961 closed

[2022-05-27 16:07] hydai opened #1505 "Enable Nix static build for WasmEdge"
## Motivation

Just want to make sure there is always a way to create static binaries and libraries for WasmEdge.

[2022-05-27 16:26] SAtacker commented on #1501
Please have a look at following cases.
[code]

I will write a tweaked version of sort.
Thanks

[2022-05-27 20:16] sascha1337 commented on #1498
UP UP UP UP UP

[2022-05-28 17:45] abhinandanudupa commented on #1339
Hi, I am _really sorry_ for the very late response!

Looking through the example code, I think it is an example for a server that can handle multiple clients (not sure, Correct me if I am wrong):
[code]

But the data it displays to each client

[code]
 is not a asynchronously generated as the  `yew::ServerRenderer` method does. So I think we cannot by pass the standard Rust `future` and `async` AP

[2022-05-28 18:02] abhinandanudupa commented on #1339
I have tried to use the `futures` crate's `block_on` method to complete the rendering and then return the string
[code]
This compiles but fails in the execution as:
[code]
(when running `cargo run`)

How do I fix this? And checkout the entire code [here](https://github.com/abhinandanudupa/wasmedge_wasi_socket/blob/ssr-example/examples/server/src/bin/main.rs)

[2022-05-29 02:17] #1501 closed

[2022-05-29 02:18] hydai commented on #1501
Hi @chairwa
This issue should be resolved after #1506 is merged. Please try again. Thanks.

[2022-05-29 04:20] #1092 closed

[2022-05-29 15:28] abhinandanudupa commented on #1504
I am interested in working on this but can you specify what are the tests that are to be run?

[2022-05-29 16:54] hydai commented on #1504
In the current tests, we already have Linux and macOS. https://github.com/WasmEdge/WasmEdge/actions/runs/2402900153

It just needs to set up the same testing workflow for the Windows platform.

[2022-05-29 17:39] abhinandanudupa commented on #1504
Got it, I will take it up.

[2022-05-30 04:32] hydai commented on #1339
Looks like this is a special function generated by wasm-bindgen-future. Since this is not a standard in WASM/WASI spec, we don't support it currently.

[2022-05-30 06:56] #1078 closed

[2022-05-30 07:22] apepkuss commented on #604
Fixed.

- In `wasmedge-sys`, the `host function`, `table`, `global` and `memory` instances can be registered with the [APIs](https://github.com/WasmEdge/WasmEdge/blob/master/bindings/rust/wasmedge-sys/src/instance/module.rs#L465-L501) of [ImportObject](https://github.com/WasmEdge/WasmEdge/blob/master/bindings/rust/wasmedge-sys/src/instance/module.rs#L421-L501).

- In `wasmedge-sdk`, the `host func

[2022-05-30 07:39] apepkuss commented on #607
Fixed.

- In `wasmedge-sys`, the `host function`, `table`, `global` and `memory` instances can be retrieved with [Instance](https://github.com/WasmEdge/WasmEdge/blob/master/bindings/rust/wasmedge-sys/src/instance/module.rs#L24-L272), [WasiModule](https://github.com/WasmEdge/WasmEdge/blob/master/bindings/rust/wasmedge-sys/src/instance/module.rs#L647-L831), or [WasmEdgeProcessModule](https://github.