[2022-05-30 07:41] #604 closed

[2022-05-30 07:42] #607 closed

[2022-05-30 07:53] apepkuss commented on #661
The issue has been fixed by

- The `Function` instance supports the ownership transferring and sharing between threads by implementing `Send` and `Sync` traits for [InnerFunc](https://github.com/WasmEdge/WasmEdge/blob/master/bindings/rust/wasmedge-sys/src/instance/function.rs#L421-L424);

- Replacing `thead_local` macro with [`lazy_static`](https://github.com/WasmEdge/WasmEdge/blob/master/bindings

[2022-05-30 07:58] apepkuss commented on #660
Fixed. The original `wasmedge-sdk` has been replaced by the new [one](https://github.com/WasmEdge/WasmEdge/tree/master/bindings/rust/wasmedge-sdk), in which [Func](https://github.com/WasmEdge/WasmEdge/blob/master/bindings/rust/wasmedge-sdk/src/externals/function.rs#L59-L147) defines the necessary APIs.

[2022-05-30 08:23] #660 closed

[2022-05-30 08:38] abhinandanudupa commented on #1339
But is my understanding of the example code right? Then we won't be able to use Yew SSR, or will we?

[2022-05-30 12:30] jmrua commented on #1380
Hello @apepkuss, I would like to know how the status of the asynchronous APIs of the Rust binding regarding this issue in the last `wasmedge-sys` version.
Thank you!

[2022-05-30 13:06] apepkuss commented on #1380
Hi @expploitt, we released `wasmedge-sdk v0.1.0` and `wasmedge-sys v0.7.0` based on`WasmEdge v0.10.0` last weekend. Just try it and hope you like it! If have any questions about it, please let us know. Thanks!

[2022-05-31 07:21] q82419 commented on #1063
Implementation: #1340 #1440 #1461
Unit test: #1446
Docs: #1414
Examples: https://github.com/second-state/WasmEdge-WASINN-examples/pull/1

[2022-05-31 07:21] q82419 commented on #1291
Implementation: #1340 #1440 #1461
Unit test: #1446
Docs: #1414
Examples: https://github.com/second-state/WasmEdge-WASINN-examples/pull/1

[2022-05-31 10:03] apepkuss opened #1511 "[C-API] WasmEdge_AsyncCancel does not work"
I'm trying to provide an API in Rust SDK, which is based on the `WasmEdge_AsyncCancel` C-API. But it seems a host function call cannot be canceled when time's out and called `cancel`. The test code below failed on macOS + Ubuntu 20.04 (M1 chip).

[code]

[2022-06-01 01:53] #1511 closed

[2022-06-01 13:37] chris-aeviator opened #1513 "failed to instance.writeMemory: failed to Call allocate"
## Description

### Current State

When running the reactr example with my compiled rust app  as wasm I'm facing the error

[code]
I can confirm the environment works with a hello world example.
### Expected

Working Program

## Environment

- Hardware Architecture: x86
- Operating system: Arch

[2022-06-01 14:12] fepicture commented on #1292
## Week  11
Sorry for the late report since I was just busy with my final exam. And I have done a few simple tests last week, I hope to solve this issue as soon as possible.

[2022-06-01 14:17] eat4toast commented on #1292
## Week 11
Sorry for the late reply, I was busy with my final exam. And I do a few simple tests last week, I hope to solve this issue as soon as possible.

[2022-06-02 05:37] divya-mohan0209 commented on #894
Please could you assign this to me?

[2022-06-02 05:38] divya-mohan0209 commented on #1248
I'd like to work on this, please can you assign this to me?

[2022-06-02 06:39] hydai commented on #1513
Hi @chris-aeviator
According to the error messages, the WasmEdge is trying to call the function called `allocate`. However, this function is not found. Could you provide the wasm file for more details?

[2022-06-03 13:37] IhostVlad opened #1514 "Lazy symbol binding failed on MacOS"
## Description
Try launch `wasmedge` for command line executable causing following error message:
[code]

Wasmedge is installed via following instruction https://wasmedge.org/book/en/

## Environment
- Hardware Architecture: X86_64
- Operating system:  MacOS BigSur 11.6.1
- Wasmedge 0.10.0

## Additional context 1
Mentioned symbol `__ZN8WasmEdge6Plugin14PluginRegisterC1EPKNS0_6Plugin16PluginDescri

[2022-06-03 16:36] Ralinarar opened #1515 "Translating "Compute Fibonacci numbers concurrently" ENG-ZH"
### [Compute Fibonacci numbers concurrently](https://wasmedge.org/book/en/embed/rust/concurrent_fib.html#compute-fibonacci-numbers-concurrently)

### Zh

[2022-06-05 11:17] hydai commented on #1514
Maybe related to this part: https://github.com/WasmEdge/WasmEdge/blob/master/plugins/wasmedge_process/CMakeLists.txt#L16-L22

We are going to investigate this. Thanks for the reporting. @ibmibmibm Could you please help with this issue?

[2022-06-05 11:23] ibmibmibm commented on #1514
Ok

[2022-06-06 02:33] q82419 opened #1518 "Release process for WasmEdge 0.10.1"
### Features

- [x] WASI-NN proposal with OpenVINO backend
   - #973
   - #1291
   - #1063
   - #395
   - #343
- [x] WASM Threads proposal
   - #1481
- [x] WASI-Crypto proposal
   - #1643

### Issues

- [x] Disable wasmedge_process on MacOS
   - #1531
- [x] Fix to support fmt 0.9.0
   - #1668

### Documents

- [x] Summarize the supported proposals in book
   - #1523

### Builds

- [x] Upload the D

[2022-06-06 05:07] #1450 closed

[2022-06-06 16:01] yixingjia opened #1519 "Instantiation failed error when run wasm in android simulator"
Follow the guide and build wasmedge for Android it runs perfectly with the example wasm files.

Than I build another wasm file with
#> GOARCH=wasm GOOS=js go build -o main.wasm main.go

and copy the main.wasm to /data/local/tmp directory of the android simulator.
The follow error happens.
[code]

The main.wasm file can run  in Chrome browser in the android simulator without any problem.

check the

[2022-06-06 16:04] yixingjia commented on #1519
This may not a bug, since I notice that I include GOOS=js when build the wasm, but I don't know.

[2022-06-07 10:20] q82419 opened #1521 "[WASI] Coverage report for the WASI-NN"
## Motivation

In current, the `porposal/wasi_nn` branch has already completed the unit tests, but not turning on the coverage report.

## Details

Apply the coverage report to the codecov for both compilation with/without the wasi-nn openVINO backend.

[2022-06-07 10:22] q82419 commented on #1521
@gusye1234 Do you interest in this?

[2022-06-07 10:29] q82419 opened #1522 "[Extensions] WasmEdge extensions and ecosystem collection"
## Host Function Extensions

 - [WasmEdge-image](https://github.com/second-state/WasmEdge-image)
 - [WasmEdge-tensorflow](https://github.com/second-state/WasmEdge-tensorflow)
 - [WasmEdge-tensorflow-deps](https://github.com/second-state/WasmEdge-tensorflow-deps)

## CLI Tools extensions

- [WasmEdge-tensorflow-tools](https://github.com/second-state/WasmEdge-tensorflow-tools)

## Examples

- [WasmE

[2022-06-07 10:30] q82419 commented on #1522
@hydai , @juntao , @ibmibmibm
Please feel free to comment here to complete this for the better collection of WasmEdge side projects. Thanks.

[2022-06-08 02:08] gusye1234 commented on #1521
Yeah, I can do that.

[2022-06-08 04:26] q82419 opened #1524 "WasmEdge CLI fail due to the plugins"
## Description

### Current State

After installation of WasmEdge 0.10.0, the CLI will fail on MacOS:

[code]

If there's no plugins, the CLI can execute successfully.

### Expected

The `wasmedge` CLI should run successfully with/without the plugins.

## Environment

- Hardware Architecture: x86_64
- Operating system: MacOS 10.15

## Steps to Reproduce

1. Install the WasmEdge 0.10.0 by the insta

[2022-06-08 05:14] hydai commented on #1524
Duplicated with #1514

[2022-06-08 05:14] #1524 closed

[2022-06-08 06:16] richardchien opened #1525 "LFX Workspace: Support Durable Objects (DO) in WasmEdge"
## Motivation

Durable Objects (DO) are persistent data objects available to applications at runtime. They can be stored in a persistent KV store or a data cache. [DOs are important for stateful serverless functions](https://blog.cloudflare.com/introducing-workers-durable-objects/).

The [Anna KVS](https://github.com/hydro-project/anna) project developed by UC Berkeley is an autoscaling KVS ideall

[2022-06-08 07:15] CaptainVincent opened #1526 "[Feature] Propose to provide an FVM implementation based on WasmEdge."
## Motivation

Add more use cases and partnerships with our wasm engine.

## Details

The FVM is a major update to the FileCoin network. This work will enhance the WasmEdge runtime to support FileCoin specific host functions and data structures. We will also enhance the WasmEdge Rust SDK to work with FVM’s integration points. We will provide node software release packages and documentation for the

[2022-06-08 08:56] hydai opened #1527 "[Rust] wasmedge-sys: A linking error was raised when building `WasmEdge` on the Windows platform"
A linking error was raised when building `WasmEdge`. It seems related to plugins. Do you have any idea about how to fix it? As a reference, in case, the entire log of the CI workflow can be found [here](https://github.com/apepkuss/WasmEdge-1/runs/6767211091?check_suite_focus=true). Thanks!

[code]

As a reference, the step in the CI workflow related to the failure is shown below:
[code]

_Original

[2022-06-08 15:30] louisvangeldrop opened #1529 "javascript hello.js not working"
Can not run the hello.js example on windows. Error code 52

C:\Users\Louis\OneDrive\Apps\Repos\wasm\wasmedge\wasmedge-quickjs\example_js>wasmedge --dir .:. ..\target\wasm32-wasi\release\wasmedge_quickjs.wasm hello.js WasmEdge Runtime
[2022-06-08 17:26:41.552] [error] Bind guest directory failed:52
failed to find a pre-opened file descriptor through which "hello.js" could be opened

[2022-06-08 16:07] hydai commented on #1529
Hi @louisvangeldrop,
The WASI filesystem is not supported on the Windows platform currently, you can find the previous discussion here: https://github.com/second-state/wasmedge-quickjs/issues/55

And we already have a ongoing issue to make this happen #1477 . Will let you know once this feature is ready.

[2022-06-09 15:45] juntao opened #1530 "Support HTTPS"
## Motivation

The WasmEdge WASI socket API supports HTTP networking in Wasm apps. However, it currently lacks HTTPS and TLS support.

While work is being done to support TLS through wasi-crypto, we cannot wait for it. Here, we propose to support a limited set of HTTPS operations directly via a WasmEdge plugin.

## Details

* Create a WasmEdge plugin that supports HTTPS GET and POST requests via C

[2022-06-09 17:28] hydai commented on #1513
Hi @DarumaDocker
Could you help with this? I would like to know where the `allocate` function comes from. And is this function available with tinygo?

[2022-06-10 02:41] DarumaDocker commented on #1513
@evilnoxx Now the wasmedge-bindgen only works with the wasm that is compiled from rust code.
The `allocate` function is defined here https://github.com/second-state/wasmedge-bindgen/blob/v0.2.0/bindgen/rust/wasm/src/lib.rs#L6. It helps to allocate memory for passing the arguments.
To my knowledge, the wasm file generated from tinygo includes `malloc` and `free` functions for managing memory, so if

[2022-06-10 05:26] MediosZ opened #1532 "LFX Workspace: Create a Tokio-like async runtime in WasmEdge"
# Motivation
One of the most important features of WasmEdge is its support for [non-blocking network sockets](https://wasmedge.org/book/en/dev/rust/networking-nonblocking.html). However, the current WasmEdge API for async networking is still cumbersome. Rust developers would prefer to use a Tokio-like async / await API for such tasks.

But Tokio is multi-threaded and cannot run correctly in standa

[2022-06-10 06:10] 2019zhou commented on #1530
Plz assign this to me

[2022-06-10 19:08] juntao opened #1535 "Support Node APIs in wasmedge-quickjs"
## Motivation

In WasmEdge, we already support [JavaScript](https://wasmedge.org/book/en/dev/js/quickstart.html), [NPM packages](https://wasmedge.org/book/en/dev/js/npm.html), [ES6 modules](https://wasmedge.org/book/en/dev/js/es6.html), and even [using Rust to implement JS APIs](https://wasmedge.org/book/en/dev/js/rust.html).

However, one of the most commonly requested features is full node.js co

[2022-06-11 12:59] mfordjody commented on #1096
Assign to me

[2022-06-11 13:46] phyBrackets opened #1536 "LFX Workspace: Implement component-model proposal in WasmEdge"
## Motivation

The [component-model](https://github.com/WebAssembly/component-model) proposal merges and supersedes the [Module Linking](https://github.com/WebAssembly/module-linking/) and [Interface Types](https://github.com/WebAssembly/interface-types) proposals.

With this feature, WasmEdge can execute multiple modules wasm with Module Linking and and more flexible types with Interface Type.

#

[2022-06-13 05:05] CaptainVincent commented on #1526
I am trying to organize a form in comparison with other engine in multiple ecosystems.
[google sheet](https://docs.google.com/spreadsheets/d/1zFAxaV1Q5F7AY1qC4Pt5PclxfVmM2B8bZLvPGhD4q3E/edit?usp=sharing)

[2022-06-13 10:59] mindrock commented on #1402
Hi @MediosZ @juntao
error: failed to run custom build command for `libz-sys v1.1.8` , with CLI command "cargo build --target=wasm32-wasi"

I want to compile this [repository](https://github.com/MediosZ/rust-mysql-simple/tree/mywasi),error was happened.i want to fix it with one days, always failed to build on macOS.rendering me unable to use cargo-update.

below detail error info:

_cargo --version

[2022-06-13 12:16] MediosZ commented on #1402
Hi, @mindrock,
Can you try [this branch](https://github.com/MediosZ/rust-mysql-simple/tree/wasi) please?

[2022-06-13 13:53] MediosZ commented on #1402
It works for me on macOS 12.3.
If it doesn't work, please change [this line in Cargo.toml](https://github.com/MediosZ/rust-mysql-simple/blob/8c5c33f59feaba80a955b12b81e2d00f2694d2fb/Cargo.toml#L32) to `flate2/default` and remember to comment out [native-tls](https://github.com/MediosZ/rust-mysql-simple/blob/8c5c33f59feaba80a955b12b81e2d00f2694d2fb/Cargo.toml#L29). This should resolve this problem.

[2022-06-13 15:55] mindrock commented on #1402
@MediosZ
It works, powerful  that's great.problem is solved:)
Thank you very much.

[2022-06-14 15:40] exyzzy opened #1544 "Mac Install Should Not Require Brew"
## Description
Current mac install requires brew, should provide alternative instructions that do not require brew

### Current State

curl -sSf https://raw.githubusercontent.com/WasmEdge/WasmEdge/master/utils/install.sh | bash

Brew is required

    Please see --help
    If issue perists make a trace using -V and submit it to
https://github.com/WasmEdge/WasmEdge/issues/new?assignees=&labels=&temp

[2022-06-15 05:33] hydai commented on #1544
Currently, we use `brew` to install the LLVM libraries for our ahead-of-time compiler. Most of the users may not have this dependency on their environment, that's why we will ask users to install brew.

Not sure if macOS has another package management system to install the llvm? I believe asking users to build the LLVM from the source is not a good idea. Or maybe creating a release binary without

[2022-06-15 08:45] q82419 opened #1548 "[Cmake] Enable WasmEdge C API static library on MacOS"
## Motivation

The static library of WasmEdge C API will build failed on MacOS:

[code]

## Details

Fix this.

## Appendix

Build with `-DWASMEDGE_BUILD_STATIC_LIB` on MacOS.

[2022-06-15 14:08] evilnoxx commented on #1513
I had a look at https://wasmedge.org/book/en/embed/go/memory.html and made my own binding functions. It's actually easier than it looks.
Thank you for the guidance.

[2022-06-15 15:07] MediosZ commented on #1548
I think this error is caused by using `ar` from `Xcode toolchain`, which is default `CMAKE_AR`.
When using the `ar` from `binutils`, the error disappeared.

[code]

[2022-06-15 15:50] TieWay59 opened #1549 "LFX Workspace: Provide a wasm-compatible Rust TLS implementation"
## Motivation

The WasmEdge networking socket API provides support for TCP and HTTP connections. But many web services today require HTTPS connections. That means we need to support TLS in WasmEdge. The [Rustls](https://github.com/rustls/rustls) crate is the most popular TLS implementation in Rust. However, Rustls is based on the Ring library, which cannot be compiled into WebAssembly.

In WasmEdg

[2022-06-15 16:04] TieWay59 commented on #1549
## Workspace Week 1

Meeting date: 2022-06-12 (Kick-off meeting with Michael Yuan)

Minute:

- Evaluate the workload of this project.
- Compare to native Cpp implementation, evaluate a better solution for this project.

According to Michael and my understanding, here below is my insight into the Cpp implementation:

- Advantages:
  - Can bypass some code implementation issues and have a mature and

[2022-06-15 17:37] exyzzy commented on #1544
Personally can't stand brew so I will do harder things to keep it off my systems. I did build LLVM from source. Yes, creating a release binary without llvm sounds like a great option.

[2022-06-15 18:45] juntao commented on #1549
OK. So we will focus on Rustls instead of native-tls now. Right?

[2022-06-16 03:06] Puellaquae commented on #1535
Hi, @juntao. I want to try to implement the os module. Is just ok that read the source code of nodejs and write into rust?

[2022-06-16 03:42] echojoys commented on #1429
Excuse me, is the instructor still recruiting students? I want to learn this technology

[2022-06-16 03:47] L-jasmine commented on #1535
os module maybe can implement by javascript.
You can simplify some api as long as the functionality is the same.

for example
[code]

[2022-06-16 03:49] juntao commented on #1535
@L-jasmine Can you provide a few examples (eg implement a few API functions) so that @Puellaquae can follow? Thanks.

[2022-06-16 03:50] alabulei1 commented on #1429
@echojoys Yes, please send an email to vivian@secondstate.io. Thanks.

[2022-06-16 04:04] q82419 commented on #1548
Thanks for the information!
Are you interested in creating a PR to fix this for the contribution?
Thanks.

[2022-06-16 04:08] DarumaDocker opened #1551 "stdout of wasm doesn't print with wasmedge-sys"
My wasm is from rust:
[code]

If I call `say()` in host with `wasmedge-go`:
[code]
The stdout of wasm *"hello"* will be printed on the screen.

But if I call `say()` in host with `wasmedge-sys`:
[code]
Only *"run say()"* is printed but no *"hello"*.

[2022-06-16 04:21] DarumaDocker commented on #1551
This is the wasm
[no_bindgen.tar.gz](https://github.com/WasmEdge/WasmEdge/files/8915630/no_bindgen.tar.gz)

[2022-06-16 04:29] MediosZ commented on #1548
Sure, but I am not sure what to do.
We can set `CMAKE_AR` to external `ar` on macOS but this requires the user to install `binutils` in advance.
Is that ok?

[2022-06-16 04:40] chenyukang opened #1552 "Build wasmedge-sys error from scratch"
## Description

I added the latest wasmedge-sys to Cargo.toml, and cargo build will get error:

[code]

Then I follow the link to build from scratch

https://wasmedge.org/book/en/extend/build.html

Did I miss something?

### Current State

![image](https://user-images.githubusercontent.com/230646/173992480-8c8d5b7d-5283-47b6-b5e9-982f8145b14c.png)

### Expected

Building will be Ok

## Environment

[2022-06-16 05:41] apepkuss commented on #1551
Hi @DarumaDocker

Thanks for your report. According to your code in Go, you'd like to use wasi module. Like what you did in Go, please add the following code in your Rust code, between `Vm::create` and `let args: Vec<String> = env::args().collect();`.

[code]
Please let me know if any new issues. Thanks!

[2022-06-16 05:51] DarumaDocker commented on #1551
That works. ThankS!

[2022-06-16 05:51] #1551 closed

[2022-06-16 05:58] apepkuss commented on #1552
Hi @chenyukang

Thanks for your report. Could you please check if the way of importing `wasmedge-sys` to your `Cargo.toml` is same as below:

[code]

If you do not deploy [WasmEdge v0.10.0 library](https://github.com/WasmEdge/WasmEdge/releases/tag/0.10.0) on your dev environment, please enable `standalone` feature, which tells `build_script` to compile and deploy `WasmEdge` library.

If the issue'

[2022-06-16 07:52] Puellaquae commented on #1535
I'm not sure about the some apis' behavior in os module should be.

`os.arch()` return `process.arch`
`os.platform()` return `process.platform`
`os.endianness()` return `LE`
`os.version()` and `os.release()` can return `process.version`
`os.type()` can return `process.title`

but does wasm or wasmedge has same concept like `priority`, `loadavg`, `constants`, `cpus`... ?

[2022-06-16 08:35] O3Ol opened #1554 "Build error when build wasmedgePlugin on OHOS"
## Description
When I try to build wasmedge on OHOS,it reports as following:
[code]

## Environment

- Hardware Architecture: armv7-a
- Operating system: Openharmony

The following information is optional. Please provide them only if you have built from source.
- libc: musl libc
- C++ Compiler version: clang++10.0
- CMake version: 3.18.4
- CMake flags: `-DCMAKE_BUILD_TYPE=Release -DWASMEDGE_BUILD_

[2022-06-16 12:33] hydai commented on #1544
Hi @SAtacker
Could we have a workaround that allows users to skip the `brew` checker? So users can decide to build and provide their LLVM. For example, use `install.sh --skip-brew` or `install.sh --ignore-brew`? Maybe you will have a good idea for this option's name.

And we will try to make our release binary without dynamic LLVM linking in future releases.

[2022-06-16 12:36] hydai commented on #1554
Hi @O3Ol
Do you remember the latest successful build is based on which commit? We will need to check if this is an existed issue or if it's a new issue related to the plugin system.

[2022-06-16 13:02] SAtacker commented on #1544
Hi,
Yes we can do that. I like your suggestion `--ignore-brew`. I shall make a PR soon.
Yes that would be great.
Thanks

[2022-06-16 15:00] Puellaquae opened #1559 "WasmEdge 0.10.0 not working in windows"
## Description

wasmedge.exe output nothing and exit with code -1073740791. Version 0.10.0, 0.10.0-rc.1, 0.10.0-alpha-2 in releases all not work.

### Current State

### Expected

## Environment

Windows 10 Pro 21H2 19044.1706

## Steps to Reproduce

just exec wasmedge.exe

[2022-06-16 15:20] richardchien commented on #1525
Since [anna-rs](https://github.com/essa-project/anna-rs), the new Anna KVS written in Rust, was made public a few days ago, the specification of this task should be adjusted. After some investigation, I found that most of the Rust code of anna-rs can be reused to implement an Anna client on top of WasmEdge. In fact, this task will be something like just porting anna-rs to WasmEdge, with some adapt

[2022-06-16 16:46] juntao commented on #1559
Can you attach the wasm file you are trying to run? Thanks.

[2022-06-16 16:56] juntao opened #1560 "Support QUIC in the socket library"
## Motivation

WasmEdge socket API now supports UDP, which makes it possible to support [QUIC](https://www.chromium.org/quic/).

QUIC has [became an IETF standard](https://www.cnet.com/tech/computing/quic-gives-the-internets-data-transmission-foundation-a-needed-speedup/) to provide a high performance alternative to TCP.

## Details

- [ ] Identify a QUIC library to include in the WasmEdge socket

[2022-06-16 17:39] juntao commented on #1535
For now, I think `priority` and `loadavg` etc could just return "fake" values like 0.5. Going forward, we could add those features to `process` via host functions.

[2022-06-16 21:42] chenyukang commented on #1552
@apepkuss Thanks for the help.
I use your code snippet in cargo.toml, and get this error:

![image](https://user-images.githubusercontent.com/230646/174170463-78738833-fced-4ecd-8b8c-e97519f47ca2.png)

Installing libclang-12-dev resolved this issue, but I think we should add it in the doc.

Now I met another issue:

![image](https://user-images.githubusercontent.com/230646/174170693-cf9a0287-a3e4-

[2022-06-17 03:40] apepkuss commented on #1552
Hi @chenyukang

Thanks for your report, we've already reproduced the issue. A quick fix for it is to use `non-standalone` deployment.

1. Download `WasmEdge v0.10.0` from [here](https://github.com/WasmEdge/WasmEdge/releases/tag/0.10.0) and unzip it. The unzipped folder should look like below:
[code]

2. Create a folder named `.wasmedge` in the `$HOME` directory, and move all the contents in the un

[2022-06-17 07:29] calvin2021y opened #1563 "build error: '_LIBCPP_GLIBC_PREREQ' macro redefined"
## Description

build error from master branch with debian 11

[code]

## Environment

- Hardware Architecture:  x86_64
- Operating system: debian11

- C++ Compiler version: Debian clang version 14.0.5
- CMake version:  cmake-3.23.2-linux-x86_64
- CMake flags:  -DWASMEDGE_BUILD_TESTS=OFF -DWASMEDGE_BUILD_SHARED_LIB=OFF -DFETCHCONTENT_QUIET=OFF -DWASMEDGE_BUILD_AOT_RUNTIME=OFF -DWASMEDGE_BUILD_PLUG

[2022-06-17 09:30] chenyukang commented on #1552
Fix according to your steps,

Trying to compile a sample program, got this compiling error:
![image](https://user-images.githubusercontent.com/230646/174270728-6563081f-e121-42db-ba4a-16126768e8e8.png)

I replaced it with register_wasm_from_bytes and get another linking error:

[code]

[2022-06-17 09:42] apepkuss commented on #1552
Hi @chenyukang

According to the error message, it seems some dependency is not installed on your environment. Could you please check if these [required dependencies](https://wasmedge.org/book/en/extend/build.html#install-dependencies-on-ubuntu-2004-manually) on Linux are installed on your side? Thanks!

[2022-06-17 09:58] chenyukang commented on #1552
[code]

I can compile this code successfully, but run it will get an error:

[code]

[2022-06-17 09:58] apepkuss commented on #1552
@chenyukang Thanks a lot for the feedback!

@hydai Could you please help double-check if `libncurses5` should be listed in the [Install dependencies on Ubuntu 20.04 manually](https://wasmedge.org/book/en/extend/build.html#install-dependencies-on-ubuntu-2004-manually) section of mdbook? Thanks!

[2022-06-17 10:00] chenyukang commented on #1552
Btw, do you know how to pass a Vec to the function?
The Go version is like this:
https://github.com/second-state/dapr-wasm/blob/main/image-api-go/image_api.go#L55

[2022-06-17 10:04] hydai commented on #1552
The libncurses5 is required by the `llvm` package. If the users install llvm then this should be also installed. `llvm->libtinfo->ncurses`

[2022-06-17 10:09] chenyukang commented on #1552
I installed llvm related deps, but still missed ncurses, we can have a double-check:
![image](https://user-images.githubusercontent.com/230646/174277737-c40f9d18-b410-4469-8414-ea0ad652c449.png)

[2022-06-17 10:12] chenyukang commented on #1552
When I installed libncurses5, libtinfo5 will be installed.
![image](https://user-images.githubusercontent.com/230646/174278284-20b19193-6b2f-45c5-8147-0fc58f17bafc.png)

[2022-06-17 10:13] apepkuss commented on #1552
It seems `wasmedge-bindgen` is used in the Go code. I'm not familiar with it, so you can post an issue [here](https://github.com/second-state/wasmedge-bindgen).

[2022-06-17 10:33] hydai commented on #1552
<img width="1792" alt="截圖 2022-06-17 at 18 30 08@2x" src="https://user-images.githubusercontent.com/2776756/174281214-4152f800-78e1-4349-b178-4b34974094a9.png">

Hmmmmmm. I used Ubuntu 20.04 without installing `libncurses5`. And I download the `wasmedge 0.10.0` from the release page (https://github.com/WasmEdge/WasmEdge/releases/download/0.10.0/WasmEdge-0.10.0-manylinux2014_x86_64.tar.gz). Compile

[2022-06-17 10:35] hydai commented on #1552
And if I remember correctly, the `libtinfo` and `libncurses` is statically linked in our manylinux pre-built release. So I am very curious about how this error occurred :-(

[2022-06-17 12:20] apepkuss commented on #1552
@chenyukang, I created a docker container of Ubuntu 20.04 from scratch but didn't reproduce the error as you reported. Could you please try the following command to run your code?

[code]
Please modify the path to the `lib64` directory according to your environment.

[2022-06-17 13:46] chenyukang commented on #1552
Yes, I installed an old version,
maybe it's a weird result with the temporary solution for fixing wasmedge-sys.

I will use another clean ubuntu to have a test.

[2022-06-17 18:38] juntao opened #1565 "Create a WasmEdge executor for essa-rs"
## Motivation

The [essa-rs project](https://github.com/essa-project/essa-rs) is a Rust-based stateful serverless function framework. It currently uses wasmtime as its function execution engine. We would like to add WasmEdge as a choice.

## Details

The interface between the essa-rs framework and the Wasm runtime is encapsulated in the `function-executor` package. We should integrate WasmEdge usi

[2022-06-19 11:11] hydai commented on #1544
Hi @exyzzy
We just add a new option `--ignore-brew` to avoid asking users to install llvm via brew. Please use the latest master version of the installer script. Thanks.

[2022-06-19 12:42] kenvifire opened #1568 "OSPP: WasmEdge Java SDK Async"
## Motivation

Implement the Async feature for Java language binding.

## Details

- Define async for Java binding
- Implement with JNI
- API doc and examples

## Appendix

[2022-06-19 13:55] abhinandanudupa commented on #1477
## Community Bonding Period [20th May, 2022 to June 12th, 2022] - status update
- LLVM coding style has to be followed - [.clang-format](https://github.com/WasmEdge/WasmEdge/blob/master/.clang-format) and [.clang-tidy](https://github.com/WasmEdge/WasmEdge/blob/master/.clang-tidy)
- Use `GDB`to trace the execution flow for a WASI function invoke and learn from it
- Many flags like `O_CREAT`, `O_TRU

[2022-06-20 09:12] juntao opened #1571 "Create a Dapr Rust SDK for WasmEdge"
## Motivation

We would like to support WasmEdge-based microservices to communicate directly with Dapr sidecars.

## Details

In this first iteration, we should just use the [wasmedge_http_req](https://github.com/second-state/wasmedge_http_req) API to communicate with the Dapr sidecar.

In future iterations, we will use WasmEdge's Tokio-like async networking library to communicate through the Dapr

[2022-06-20 09:17] juntao opened #1572 "Create a Dapr JS SDK for WasmEdge"
## Motivation

WasmEdge is attempting to support most node.js APIs including http networking APIs.

This feature would allow node.js applications to run inside WasmEdge as Dapr sidecar services.

## Details

Once the node.js HTTP API is fully supported in WasmEdge QuickJS through the Rust internal module based on wasmedge_wasi_socket, we should be able to run the existing Dapr JS SDK without chang

[2022-06-20 10:32] gusye1234 commented on #1521
Hi @q82419 , I think the codecov without the wasi-nn openVINO backend is already generated in the `build.yml`?

[2022-06-20 10:38] sholtomaud opened #1573 "“wasmedge” can’t be opened because Apple cannot check it for malicious software."
## Description

### Current State

“wasmedge” can’t be opened because Apple cannot check it for malicious software.

### Expected

“wasmedge” can be opened because Apple can check it for malicious software.

## Environment

M1

## Steps to Reproduce
curl install on macbook

[2022-06-20 12:32] hydai commented on #1457
Hi @eat4toast
Would you like to finish this little modification? Looks like we can check the first item and then bypass the remaining part.

[2022-06-20 13:07] q82419 commented on #1521
Sure. You can refer on it.

[2022-06-20 14:25] calvin2021y opened #1575 "can not find liblldCore.a"
## Description

since LLVM 1400, there is no lldCore, lldDriver, lldReaderWriter, lldYAML

should replace with `lldMinGW lldCOFF lldMachO lldWasm`

[2022-06-20 14:42] #1563 closed

[2022-06-20 15:27] hydai commented on #1575
Hi @calvin2021y
May I ask what's your environment and compilation flags/options?

[2022-06-20 16:28] calvin2021y commented on #1575
I has one question for AOT, do I need liblld*.a for android host binary?

I mean generate aot binary for android from linux,  run by android app without link to liblld*.a.   (I wnat to avoid build liblld*.a for android target)

[2022-06-20 17:20] hydai commented on #1575
The answer is no. If you don't need to run AOT(wasmedgec) on the android platform, then set `WASMEDGE_BUILD_AOT_RUNTIME` to `OFF`. The runner(wasmedge) can still run the generated aot binary which may be compiled in the other place. Please make sure the base os and hardware architecture are the same.

[2022-06-20 17:20] #1575 closed

[2022-06-20 17:29] hydai commented on #1554
@ibmibmibm
The OHOS is on the `armv7-a` platform, which is a 32-bit os.
Not sure if this line will make our variant not compatible with the 32-bit os: https://github.com/WasmEdge/WasmEdge/pull/1252/files#diff-0fb02a170bef4c56ae787b44379ea0176d2e99dcb0e3cbc0fd69e7ec41db4e42L95

[2022-06-21 05:50] calvin2021y commented on #1575
I need AOT on android.

I can generate aot from aarch64, then run from android and IOS (event I build library for android with set WASMEDGE_BUILD_AOT_RUNTIME=OFF)?

Is this case the AOT is ignored and just use the wasm format?

[2022-06-21 05:54] hydai commented on #1575
Yup. Set `WASMEDGE_BUILD_AOT_RUNTIME=OFF` will not generate `wasmedgec` and its related libraries only.
You can still use `wasmedge` to load and execute wasm format and aot binary. Because the aot binary-only contains its origin wasm file and the native binary. There are no llvm-related dependencies inside the aot file.

[2022-06-21 10:15] DarumaDocker opened #1580 "No wasi env has been passed with wasmedge_sys"
My wasm(rust):
[code]

When I call `print_env` with wasmedge binary:
`wasmedge --env a=b --env c=d --reactor test.wasm print_env`

The result is ok:
[code]

But if I call `print_env` using wasmedge_sys:
[code]
I got:
[code]

Envs has not been passed in, and the two empty output lines showed that the two args had been passed in without content.

[2022-06-21 15:49] calvin2021y commented on #1559
or you can package msvcp140.dll  into release package.

[2022-06-22 00:46] eat4toast commented on #1457
I open a draft pr https://github.com/WasmEdge/WasmEdge/pull/1582  .

The detailed test results in this [whole project](https://github.com/eat4toast/fix_addfunc_test_result/blob/main/initialize_test/log).
In short, the cost time after modification seems greater than before, even though the branch count is really great.

I am not sure if this is related to my incorrect modification.
(I doubt the loo

[2022-06-22 02:55] hydai commented on #1457
Hi @eat4toast
I would like to know if there is a comparison between the current master and your modification based on the current master?

[2022-06-22 03:07] apepkuss commented on #1580
Hi @DarumaDocker

Thanks for your report. Could you please attach `test.wasm` you used in your example here? Thanks!

[2022-06-22 03:09] eat4toast commented on #1457
Well, do you mean the detailed result comparison? In [this repo]( https://github.com/eat4toast/fix_addfunc_test_result/tree/main/initialize_test), the origin log stands for the current master and the new log stands for the after modification. You might compare from the named file if you have time.

[2022-06-22 07:27] chenyukang commented on #1552
LD_LIBRARY_PATH=/root/.wasmedge/lib64/ cargo run
will fix the problem.

Closing this issue, but I think the installing issue for non-standalone mode need be fixed.

[2022-06-22 07:27] #1552 closed

[2022-06-22 07:34] apepkuss commented on #1552
Great! We'll be optimizing the non-standalone installation. Thanks!

[2022-06-22 14:09] MediosZ commented on #1426
I can build from source now, it's not the problem of the source code.
Close this issue.

[2022-06-22 14:09] #1426 closed

[2022-06-23 01:14] eat4toast commented on #1457
Hi, @hydai
Thank you take time review. I test the way you recommend code snippet, and it works well!
The time not enlarge again and even has slight shorter in my test case.

The test result: [0622_test](https://github.com/eat4toast/fix_addfunc_test_result/tree/main/0622_test)
The new pr: https://github.com/WasmEdge/WasmEdge/pull/1587

(SORRY, since my incorrect git usage, the origin draft pr is br

[2022-06-23 02:35] hydai commented on #1457
Could you summarize the improvement in the description of the PR? So we can have better information about how much the PR improves.

[2022-06-23 03:54] eat4toast commented on #1457
Sure, please take a look in https://github.com/WasmEdge/WasmEdge/pull/1587#issuecomment-1163895634

[2022-06-23 08:09] Ren-ZY commented on #1571
Hello~@juntao, I am willing to do this job.

[2022-06-23 10:43] hydai commented on #1580
Hi @apepkuss
The `std::getenv` will not get the ENVS which is inside WASI component. You should have a wasm program using the WASI function to get the envs.

[2022-06-23 11:25] apepkuss commented on #1580
@hydai Got it, thanks for the reply!

@DarumaDocker Please reference the reply from @hydai. If any further concerns, please comment below. Thanks!

[2022-06-23 11:28] hydai commented on #1580
No. I mean your test code is not correct. `std::cout << ...` cannot print the result, because the `InitWASI` will not inject anything into your host environment. You should have a `getenv` inside your rust (which is compiled to the wasm later) to print the info.

[2022-06-24 09:08] MediosZ commented on #1462
Hi @hydai,
Currently we use `witx` crate to genrate cpp headers from witx files.
However, witx is a bit out-dated, and it doesn't support multiple return values which is presented is `wasi-io`.
So I guess we need to transfer to [wit-bindgen](https://github.com/bytecodealliance/wit-bindgen).
Ref: https://github.com/WebAssembly/wasi-io/issues/13

[2022-06-24 11:20] phyBrackets commented on #1536
Here is the ongoing PR on adding Interface Types https://github.com/WasmEdge/WasmEdge/pull/1550 , currently most of the types are defined except `Unit` and `Option` will add soon them as well. For now I'm gonna start working on loader and parser side.
Thanks

[2022-06-24 18:41] hydai commented on #1462
If the wit-bindgen tool implements all features of the original `witx`, then we can migrate to this new tool.

[2022-06-25 00:54] MediosZ commented on #1462
I will check it first.

[2022-06-27 10:38] MediosZ commented on #1532
After hacking the network part of `mio` and `tokio`, both of them works for minimal cases.
There are more works to do, including:
1. implement missing functions for `mio` and `tokio`.
2. Make the changes being merged into upstream repositories.

[2022-06-28 08:24] hydai opened #1598 "Create a demo: k8s+crun+wasmedge+wasi-nn"
## Motivation

Currently, WasmEdge makes the extensions become plugins. We need to build a complete example for demonstrating the full functionalities of leveraging the k8s, crun, wasmedge, and wasi-nn extension, which can show that manages the AI inference service inside the wasm-based images.

## Details

This demo should base on the previous k8s+crun+wasmedge example, which can run a simple was

[2022-06-28 11:52] #1573 closed

[2022-06-28 12:00] sholtomaud opened #1600 "Doco on how to build a WasmEdge CLI"
## Motivation

I'm wanting to build a portable CLI with WasmEdge which I can run on my local machine, and possibly in a webcontainer in the browser.

## Details

I was thinking that the WasmEdge doco on js would show me how to compile an CLI app as one option, a bit like how I can compile a nodejs app into a CLI (it is however really big).  But there doesn't seem to be any doco.

Can we have some

[2022-06-28 15:55] #1457 closed

[2022-06-28 23:36] juntao commented on #1600
Do you mean to create a single binary app that contains WasmEdge and an Wasm app that runs inside it? You can use the host SDK to do that. Golang, Rust, and C are supported.

https://wasmedge.org/book/en/embed.html

[2022-06-29 01:33] sholtomaud commented on #1600
That is exactly what I'm thinking about for javascript/nodejs yes.

Or perhaps something like the ape format https://justine.lol/ape.html ... maybe

[2022-06-29 02:16] juntao commented on #1600
Perhaps you can create a demo on how to compile a C host + embedded JS app + embedded WasmEdge into a single ape binary. :)

[2022-06-29 04:29] hydai opened #1603 "Create WasmEdge Internal in Book"
## Motivation

Currently, we have some documents for users in the WasmEdge book. However, we don't provide a clear document for the developers that want to contribute to WasmEdge itself. We would like to have a series of articles to talk about the WasmEdge architecture, the WasmEdge internal data structure, and the design choices we made.

## Details

1. Refine the `extend` section to `contributin

[2022-06-29 05:34] sholtomaud commented on #1600
Yes please. If you could do that it would be awesome! And if you include some doco around it even better! 👍

[2022-06-29 07:06] hydai opened #1605 "WasmEdge may fail to execute, due to the brewllvm is updated to 14.0.6"
## Description

### Current State

If users use `llvm@13`, then our pre-built macos binary is fine. However, if users update their llvm version from 13.0.1 to 14.0.6, then they may receive the following error:

[code]

The reason is that our WasmEdge is linking to 13.0.1:

[code]

### Expected

To avoid such a problem happening again, we should find a way to make WasmEdge on macos use statically l

[2022-06-29 08:21] q82419 opened #1606 "[Installer] Design a plugin installation option"
## Motivation

For the WasmEdge 0.10.1-alpha.1 and after version, we supported the `WASI-NN` with OpenVINO plugin:
[WasmEdge-plugin-wasi_nn-openvino-0.10.1-alpha.1-ubuntu20.04_x86_64.tar.gz](https://github.com/WasmEdge/WasmEdge/releases/download/0.10.1-alpha.1/WasmEdge-plugin-wasi_nn-openvino-0.10.1-alpha.1-ubuntu20.04_x86_64.tar.gz)
Therefore the installer should help to install the plugin shared

[2022-06-29 08:25] SAtacker commented on #1606
Hi, @q82419 Thank you for this. On it.

[2022-06-29 08:34] hydai commented on #1606
Hi @SAtacker
Since we may have more and more plugins in the future release, do you have any idea about how to manage them?
AFAIK, we add new options to extend the current plugin installations, not sure if this mechanism will become more complex when the number of plugins grows.

My rough idea (open for discussion):
Maybe we can maintain a manifest (in `ini` format or any format which is friendly f

[2022-06-29 08:45] SAtacker commented on #1606
Yes, it's becoming like a package manager. Your idea sounds nice to me. I think we can implement a simple parser for this using bash. The file extension can be anything as long as it is a text file. We have to decide the fields. I like the fields you have suggested, `name`. `URL`, `platforms`, `default yes/no`, and `dependencies`.

1. What can dependencies be? another plugin or some library that h

[2022-06-29 08:51] SAtacker commented on #1606
Did we consider a python (2.x, 3.x) script for installation? It'll be more powerful and easier to develop. Although it will add python as an installation dependency. But at the same time, we can use it for Windows and non-unix-like systems too as long as it supports python. This could be side work I can do.

[2022-06-29 08:53] hydai commented on #1606
Take WASI-NN with OpenVINO as an example, our plugin doesn't contain the OpenVINO dependency IIRC. And the OpenVINO is installed by users themselves via another install script from Intel. I am not sure if this is a good way to do it: if there is any dependency required by the plugin, the owner of the plugin should provide scripts for installing and uninstalling the related dependencies,  unless us

[2022-06-29 08:57] hydai commented on #1606
Yup, using a scripting language makes sense. What's the minimum requirement if we want users to execute the python script? Is this a default package installed in any distro? I found that `brew` uses `bash` + `ruby`. https://github.com/Homebrew/install

[2022-06-29 09:08] SAtacker commented on #1606
I can't find any minimum requirements for python but as long as it is not a resource-constrained embedded system python should work. Regarding default availability, I found this https://unix.stackexchange.com/questions/24802/on-which-unix-distributions-is-python-installed-as-part-of-the-default-install#:~:text=Ubuntu%20has%20had%20Python%20installed,with%20Python%20installed%20by%20default.

[2022-06-29 09:11] hydai commented on #1606
Sounds acceptable. But what's their version? 2 or 3? Or we can have a python2&3 compatible one?

cc @juntao I would like to invite Michael to join this discussion.

[2022-06-29 09:13] SAtacker commented on #1606
We can write for both 2 & 3 versions. We will use futures module [ref](https://stackoverflow.com/questions/7075082/what-is-future-in-python-used-for-and-how-when-to-use-it-and-how-it-works)

[2022-06-29 11:25] q82419 commented on #1580
Hi @apepkuss ,

The WasmEdge C API of initializing the WASI performs the behavior correctly.
Please refer to the PR https://github.com/WasmEdge/WasmEdge/pull/1607 for explanation.
Thanks.

[2022-06-29 12:48] HeZean commented on #1206
Hi @alabulei1, what about let me work on it? (wont take long I believe)

[2022-06-29 14:39] apepkuss commented on #1580
@q82419 Many thanks for helping check the CAPI, and also the detailed explanation. Thanks again!

[2022-06-30 00:44] rotk2022 commented on #1339
I got the same problem.Do you have any other idea to finish it? I think it is not a good first issue right now.

[2022-06-30 03:42] abhinandanudupa commented on #1339
Hey @rotk2022, I am waiting for the [threads proposal](https://github.com/WasmEdge/WasmEdge/releases/tag/0.10.1-alpha.1) to be implemented in WasmEdge [stable release]

Yes, I too think the same. But let's wait for the stable release.

[2022-06-30 05:16] #1580 closed

[2022-06-30 06:58] hostilefork commented on #893
These invoke instructions are put in automatically by Emscripten when you use setjmp()/longjmp() ([which you are using in `dbgutil.c`](https://github.com/chenyukang/quirc-wasm/blob/c43420f8239210b018641efa5278e49b02b82ace/dbgutil.c#L126))

The technique used to emulate these quirky functions works in browsers, but is not supported in WasmEdge.

Rather than setjmp/longjmp, there's a roadmap for Nat

[2022-06-30 09:09] chenyukang opened #1612 "Integrating bindgen into WasmEdge Rust SDK"
## Motivation

For daily development, string is a convenient/must way to pass parameters.
I notice there are memory examples in SDK sample directory, but no string examples.
Maybe integrating bindgen into SDK?

## Details

https://github.com/second-state/wasmedge-bindgen/tree/main/host
I'm not sure it's suitable, but from my dev experiences, I need to add bindgen.

[2022-06-30 10:09] apepkuss commented on #1612
Hi @chenyukang,
Thanks for the feedback. The issue you mention here is one of the most valuable features for Rust SDK. According to our current plan, we'd like to support more parameter types based on the `Interface Types proposal`. We'll sync up with you once it's ready. Thanks again!

[2022-06-30 15:19] hostilefork opened #1614 "More Informative Error Message on Undefined Syscall"
## Motivation

Attempting to try out WasmEdge, I built a small test script with file I/O using Emscripten's STANDALONE_WASM mode:

    $ emcc -s STANDALONE_WASM fopen-test.c -o fopen-test.wasm
    $ wasmedge fopen-test.wasm
    About to call fopen()
    fopen() failed

So printf()-style writing to stdout worked, but the `fopen()` command in the test failed, without giving insight as to why.

Compa

[2022-06-30 16:15] alabulei1 commented on #1206
Hi @HeZean
Sure thing! Assigned this issue to you. Thank you.

[2022-06-30 19:21] SAtacker commented on #1606
However, after reading through its docs, I don't understand how it'll help us manage our plugins. It'll still require scripts to install.

[2022-07-01 04:40] divya-mohan0209 commented on #894
Hello @yanganto , this might seem like a newbie question but what are the examples we'd exactly consider adding here?

[2022-07-01 04:54] yanganto commented on #894
Hi @divya-mohan0209,

The issue was to update the `README.md` and `README_zh.md`. You may check the crate and write a workable example to help others use this crate, and also if you want a more specific spec for `README.md`, please connect to @hydai.

By the way, I have noticed that `README.md` was already updated 17 days before, if it is good from your side and @hydai side, then I can help this i

[2022-07-01 05:07] yyy1000 commented on #1568
I have successfully compiled the source code and written a CMake project that can link the WasmEdge library. ( Though have some problems in CMake).

[2022-07-01 07:44] hydai commented on #1614
These will be valuable messages for users and developers.

Could you provide the example program of `fopen-test` and the version of `emcc` you used? I would like to reproduce this and find out if we can do more in such cases.

[2022-07-01 13:02] SAtacker commented on #1606
I have seen the following material:
- https://stackoverflow.com/questions/6318809/how-do-i-grab-an-ini-value-within-a-shell-script
- https://github.com/albfan/bash-ini-parser

I don't think it's a good idea.
Reasons:
1. It'll evaluate the `ini` file. There are a few comments on how dangerous it can be. For example an `ini` file can contain a variable `var=malicious_command` which will get sourced

[2022-07-01 13:57] hostilefork commented on #1614
Great.  I know that it may not be obvious what to do with the error once you get it, but it at least point in the right direction.

Here's the emcc version:

    $ emcc --version
    emcc (Emscripten gcc/clang-like replacement + linker emulating GNU ld) 3.1.14 (4343cbec72b7db283ea3bda1adc6cb1811ae9a73)
    Copyright (C) 2014 the Emscripten authors (see AUTHORS.txt)
    This is free and open source

[2022-07-03 12:10] richardchien commented on #1525
After some digging, I found it possible to get rid of Zenoh in anna-rs's client code, so that it can talk to routing nodes and kvs nodes through vanilla TCP connections, thanks to the built-in TCP support of anna-rs. The adapted client is put [here](https://github.com/richardchien/anna-client-tokio), temporarily. After it's done, I will move it to WasmEdge org.

The routing nodes originally use TC

[2022-07-04 07:43] juntao commented on #1525
Does our approach depend on Tokio support in WasmEdge?

Perhaps we can create a prototype example using `wasmedge_http_req` first. We can switch the async Tokio MIO-like API once #1532 is ready?

[2022-07-04 14:07] richardchien commented on #1525
Do you mean using `wasmedge_wasi_socket`? The anna-rs client code is mostly async, while `wasmedge_wasi_socket` is nonblocking but not async. I don't think it will be easy to adapt anna-rs client to be non-async, at least won't be easier than adapt it to use Tokio.

Since basic functions of Tokio already works on WasmEdge according to #1532, I suggest we try to quickly adapt anna-rs client to use

[2022-07-04 14:32] 2019zhou commented on #1530
## Progress

- [x]  set up the work environment,
- [x]  Understand the Wasmedge Plugin API
- [x]  Understand the existing implementation of HTTP API and figure out the difference between implementing HTTP API and HTTPS API
- [x]  Read through the wasmedge_http_req
- [ ]  Implement the ssl supported C++ host function https://github.com/WasmEdge/WasmEdge/
- [ ]  Add supported C++ host function to th

[2022-07-04 16:57] hydai commented on #1606
Hi @SAtacker
Could you add the `--plugin=wasi_nn_openvino` to our bash installer? Just want to make sure the current installer can install the wasi-nn plugin first. However, the `bash` will be replaced soon.

Currently, `python` is my first choice. I would like to migrate our current installer from `bash` to `python`. And we have to ensure that this new installer will need to run in some pretty ol

[2022-07-04 18:28] juntao commented on #1606
I agree that we can use Python for installer. Thanks

[2022-07-04 19:00] SAtacker commented on #1606
Thanks for a well detailed answer. Okay then I'll get started on the bash plugin. You shall have it before today's meeting.

[2022-07-05 06:19] juntao commented on #1525
Ok. Let's try WasmEdge tokio + mio then!

[2022-07-05 07:14] hydai opened #1622 "Drop support for manylinux1 images in the 0.11.0 release"
## Motivation

The manylinux1 image is deprecated and dropped on January 1st, 2022. Reference: https://github.com/pypa/manylinux/issues/994

It will become harder to maintain this image by our side. To simply the situation, we would like to drop the manylinux1 support.

## Details

- [ ] The manylinux1 image which is built successfully last time will be kept. However, we don't update it on 0.11.0

[2022-07-05 12:06] mpcref opened #1624 "Get involved with WinterCG"
## Motivation

[WinterCG](https://wintercg.org/) is an initiative to promote "Web-interoperable Runtimes".
As an important player in the JS runtime space I believe it is important for this project to get involved with this community.
The WasmEdge project can benefit from shared efforts.

## Details

See also https://blog.cloudflare.com/introducing-the-wintercg/.

[2022-07-05 12:08] mpcref commented on #1535
It might be interesting to have a look at Deno's [compatibility layer for Node](https://deno.land/manual@v1.17.0/npm_nodejs/compatibility_mode).
It may save you a lot of work and you could maybe make this a collaborative effort up to a certain point.

[2022-07-05 14:08] shivaylamba opened #1625 "Evangelising WASMEdge Community in India"
## Motivation

The Indian developer space specially the student developer communities is huge. So it makes sense to introduce modern technologies like WebAssembly in order to help make students/young developers keep upto speed specially with cloud native technologies.

## Some stats:
- Indians represent the highest participation in programs like Google Summer of Code, Linux Foundation Mentorship p

[2022-07-05 14:32] shivaylamba commented on #1625
cc @mritunjaysharma394

[2022-07-05 14:56] mritunjaysharma394 commented on #1625
+ 1 to what @shivaylamba has proposed, it has huge potential and can really create ripple effects in India and we can help contributing to this great cause!

[2022-07-05 19:09] juntao commented on #1625
cc @SAtacker

[2022-07-05 19:28] SAtacker commented on #1625
Yes, I too agree with all these points by @shivaylamba and @mritunjaysharma394 . Once WASM and Wasmedge becomes familiar to everyone i.e. there are some introductory courses on it which are available for all and its use is thoroughly understood by the majority of people, contributions will surely flood in.
YouTube channels are usually a very good source of learning and promoting educational conten

[2022-07-06 03:29] EmisonLu opened #1626 "Call host func in host func, `wasmtime Caller` similar feature."
In `wasmtime`, it is possible to call another host function within a host function. Host functions get access to a `Caller<'_, T>` which implements `AsContextMut` which can be used to call another function. Here is a simple example.
[code]
However, no such support is currently seen in `wasmedge`. The following example, written using rust sdk, causes a deadlock.
[code]
Passing `Vm` into a closure m

[2022-07-06 13:02] MileyFu commented on #1624
We applied for and joined WinterGC. Looking forwards to future discussions and collaborations👋🤝

[2022-07-06 15:59] jubao4415198 opened #1628 "curl -sSf https://raw.githubusercontent.com/WasmEdge/WasmEdge/master/utils/install.sh | bash 失败"
输入指令: sudo curl -sSf https://raw.githubusercontent.com/WasmEdge/WasmEdge/master/utils/install.sh | bash

输出：
fatal: 无法访问 'https://github.com/second-state/WasmEdge-tensorflow.git/'：GnuTLS recv error (-54): Error in the pull function.
Detected Linux-x86_64
curl: (35) OpenSSL SSL_connect: 连接被对方重设 in connection to [raw.githubusercontent.com:443](http://raw.githubusercontent.com:443/)
No path provided

[2022-07-06 16:11] jubao4415198 commented on #1628
环境：win11 wsl2 ubuntu22.04LTS

[2022-07-06 16:18] mpcref commented on #1624
Awesome!
About the Web Platform API's that WinterCG is concerned with, is it indeed worth considering to implement those in WasmEdge's JS runtime? And if so, would txiki.js be a good candidate as it is basically QuickJS but with a subset of those API's already implemented?

[2022-07-06 18:13] juntao commented on #1628
Do you have VPN enabled to connect to URLs outside of the GFW?

[2022-07-06 18:21] juntao commented on #1624
I think txiki.js is a great reference but probably difficult for us to use directly -- because it does not have the constraints of the Wasm sandbox. For example, it can just use the socket API from the OS while we have to use wasmedge_wasi_socket.

[2022-07-07 00:42] jubao4415198 commented on #1628
是的，我现在把vpn关掉试一下，稍后再回复您结果

[2022-07-07 00:51] jubao4415198 commented on #1628
我把vpn关了以后 就会报这个错误
 输入：udo curl -sSf https://raw.githubusercontent.com/WasmEdge/WasmEdge/master/utils/install.sh | bash
输出：curl: (7) Failed to connect to raw.githubusercontent.com port 443 after 2 ms: 拒绝连接
于是，我尝试用更改本地hosts文件，指定DNS解析ip
sudo vi  /etc/hosts
205.251.192.181 raw.githubusercontent.com
140.82.113.4  github.com
结果
输入：sudo curl -sSf https://raw.githubusercontent.com/WasmEdge/WasmEdge/master

[2022-07-07 01:03] #1628 closed

[2022-07-07 01:05] jubao4415198 commented on #1628
解决办法：1.下载对应的脚本拆解脚本指令，分步骤完成目的
2.开一个海外的服务器

[2022-07-07 02:58] alabulei1 commented on #1628
@jubao4415198  Thanks for your report and sharing solutions. Just want to let you know I have renamed your issue so that more users could know about this issue.  Let me know if you have any questions.

[2022-07-08 06:10] richyliu opened #1631 "Add option to disable executing (potentially malicious) AOT code"
## Motivation

Currently, `wasmedge` and any of its API functions (i.e. `WasmEdge_VMRunWasmFromFile`) will execute any AOT compiled sections in the wasm file. This poses a significant security risk, as malicious code could be inserted into the AOT section.

## Details

I propose a flag for `wasmedge` and a separate set of API functions that do not run AOT compiled code.

## Appendix

In the README

[2022-07-08 07:59] q82419 commented on #1626
Our host function signature only passes the memory instance from the runtime as the first argument.
For this feature, the earliest supporting will be at the version `0.11.0` in the future due to the API breaking change.

[2022-07-08 11:47] Ren-ZY opened #1633 "Cannot run examples in "wasmedge_http_req""
When I try to run examples (get.rs) in `wasmedge_http_req`, it turns out to be a panic as follow:
[code]

[2022-07-08 14:43] juntao commented on #1633
May I ask which OS are you running?

[2022-07-09 07:09] Ren-ZY commented on #1633
I just compile the source code into **.wasm** format using the command **cargo build --examples --target wasm32-wasi**
and try to run the binary using **wasmedge get.wasm**. Then it shows the error.
My OS is Linux (Ubuntu 18.04)

[2022-07-10 04:56] richardchien commented on #1525
Now [anna-client-tokio](https://github.com/richardchien/anna-client-tokio) uses Tokio instead of smol. It currently only works on my host system (macOS), still has some issues when running on WasmEdge. The next step is to do necessary debug and modification to make it work on WasmEdge.

[2022-07-10 08:30] juntao commented on #1525
This is great! Is the README for the anna-client-tokio project accurate? Thanks.

[2022-07-10 08:35] richardchien commented on #1525
No it's the original readme of anna-rs, I will rewrite it later.

[2022-07-10 08:37] juntao commented on #1525
Got it. Does you client support all anna operations (GET, PUT, PUT-SET) right now?

[2022-07-10 08:40] richardchien commented on #1525
Yes, it has all functionalities the original Anna client has.

[2022-07-10 16:38] TieWay59 commented on #1549
## Workspace Week 5

Feedback 1: What language option to choose: rust
I made these comparisons below.

1 from the base dependency.

With c++ I think I need to bind the libssl part of OpenSSL to WebAssembly and then rust bind it with OpenSSL to call it. However, the algorithms required by tls1.3 have been tested by rust crypto, while tls1.2 may be weak. If only tls1.3 is supported, the development

[2022-07-10 21:49] juntao commented on #1549
Thanks. So, we have decided NOT to use host functions, but to implement TLS using Rust and then compile it to WASM. Correct?

[2022-07-11 01:39] 2019zhou opened #1636 "Thread panicked error in wasmedge_http_req"
I am using wasmedge_http_req (https://github.com/second-state/wasmedge_http_req)

After the successful build, I run `wasmedge get.wasm`
Then, I got the error.

[code]

According to https://radu-matei.com/blog/tensorflow-inferencing-wasi/, the possible reason is that wasmedge does not support thread.

However, I have no idea how to solve this problem.

ubuntu 18.04
wasmedge_http_req 0.9.0

[2022-07-11 01:50] #1206 closed

[2022-07-11 02:27] alabulei1 commented on #1633
https://github.com/second-state/wasmedge_http_req/pull/4 solved this problem. Please try again.

Let us know if this works.

[2022-07-11 02:30] alabulei1 commented on #1636
Thanks for reporting. Please track #1633 for the progress.

[2022-07-11 02:30] #1636 closed

[2022-07-11 03:53] Ren-ZY commented on #1633
It works.

[2022-07-11 03:54] #1633 closed

[2022-07-11 04:00] TieWay59 commented on #1549
Yes.

[2022-07-11 06:29] hydai commented on #1631
Hi @richyliu

Thanks for reporting this. I think we can have a flag to disable the automatically loaded AOT sections from an unknown given universal wasm format.
One possible situation is that users want to execute a wasm file with interpreter mode, however, they use a universal wasm format received from a malicious developer, and then the bad thing happens.

I will create a PR to fix this. Thanks

[2022-07-11 07:42] #1291 closed

[2022-07-11 07:43] #1063 closed

[2022-07-11 10:21] #395 closed

[2022-07-11 10:21] #343 closed

[2022-07-11 16:38] CaptainVincent commented on #1526
Success hard code launch Wasmedge and execute pure wasm bytecode from integration test.

- [ ] send
    - [ ] send
- [ ] vm
    - [ ] abort
    - [ ] context
- [ ] gas
    - [ ] charge
- [ ] ipld
    - [ ] block_open
    - [ ] block_create
    - [ ] block_read
    - [ ] block_stat
    - [ ] block_link
- [ ] self
    - [ ] root
    - [ ] set_root
    - [ ] current_balance
    - [ ] self_destruct
-

[2022-07-12 05:21] Ren-ZY opened #1641 "`wasmedge_http_req` does not support DELETE method"
I am trying to write `delete_state` function in Rust Dapr SDK which depends on `DELETE` method in `wasemedge_http_req`.
But `wasmedge_http_req` does not support DELETE method so far. It only supports `GET` `POST` `HEAD` method.

[2022-07-13 05:37] DarumaDocker opened #1645 "VM reports errors when the exported function of wasm is called concurrently in the host"
My rust code for wasm:
[code]

And host code for calling the wasm's exported function `t`:
[code]
dependencies for the above:
[code]

The code works well when I type `cargo run`, but if I make a tiny change in the wasm:
[code]
Only added one line to print something, everything changed.

The program will fail with many different error logs like these:
[code]

[code]

[code]

I have also tested with

[2022-07-13 05:45] DarumaDocker commented on #1645
The Golang host:
[code]

go.mod
[code]

[2022-07-13 06:49] JcJinChen opened #1646 "exec container process `/add.wasm`: Exec format error error while running runtime: exit status 1"
## Description
I want to create and run the container image for test. I referred to this article(https://wasmedge.org/book/en/kubernetes/demo/wasi.html).
I have followed the mentioned steps to build and install buildah.
At the same time, I builded image using the tool buildah.
[code]

After, i creates a new working container using the command
```sudo buidah from localhost/wasm-wasi-example:latest`

[2022-07-13 06:56] hydai commented on #1646
Could you also provide your commands and dockerfile here?

[2022-07-13 07:01] JcJinChen commented on #1646
the Dockerfile located in ~/wasm-learning/cli/add/target/wasm32-wasi/debug, context:
[code]
which commands do you mean?

[2022-07-13 07:03] hydai commented on #1646
Including how you create the docker image from the dockerfile, and change the execution mode of the wasm file, etc.

[2022-07-13 07:29] JcJinChen commented on #1646
create the docker image:
[code]

download wasm code
[code]
build wasm bytecode
[code]
After above commands,I find the add.wasm in the path */debug/ not */release, maybe i forget to add the flag "--release", however,i think it's keypoint to cause this error.
Of course, I change the mode of the wasm file,
[code]

[2022-07-13 07:45] hydai commented on #1646
Thanks, I am working on this.

[2022-07-13 07:50] JcJinChen commented on #1646
Well, I also find an acticle about [how to run OCI wasm compat images with buildah and podman](https://github.com/containers/crun/blob/main/docs/wasm-wasi-example.md), maybe i can try it first.

[2022-07-13 12:24] Haider-Ali-DS opened #1647 "Can i convert .js file to .wasm file using wasmedge?"
Hey, Good Day! i have a question.

i am trying to explore WasmEdge and its possibilities. i tried running javascript code with WasmEdge cli giving wasmedge_quickjs runtime.

- I wanted to know if it is possible to convert javascript with WasmEdge to.wasm and then run it in rust?
- or does it only support to run quickjs runtime in rust and then we can run javascript native code in it?

Thank you!

[2022-07-13 16:34] #1647 closed

[2022-07-14 11:08] q82419 commented on #1530
For the plugins, you can refer to:

1. The [plugin example](https://github.com/WasmEdge/WasmEdge/tree/master/examples/plugin/get-string) .
2. The [wasmedge_process plugin](https://github.com/WasmEdge/WasmEdge/tree/master/plugins/wasmedge_process) and [its unit tests](https://github.com/WasmEdge/WasmEdge/tree/master/test/plugins/wasmedge_process) .

Thanks.

[2022-07-14 13:56] DarumaDocker commented on #1645
I have another interesting phenomenon.
If I change wasm code to:
[code]

And change loop times to 20, the result will fail with error `execution failed: out of bounds memory access, Code: 0x88`.

But if I leak the buffer in the wasm:
[code]
There isn't an error any more.

[2022-07-15 06:18] q82419 commented on #1645
For the first segment of code, the `buffer` in `t` function will be dropped when jumpping out of the scope in rust's rule.
To avoid this and return the raw pointer, you should use `std::mem::ManuallyDrop` to take the ownership in your second segment of code. But aware that this will cause leak if the memory is not deallocate by yourself.

[2022-07-15 11:33] alabulei1 opened #1651 "Add unit tests for wasmedger.cpp"
## Motivation

According to Codecov, the current unit tests for wasmedger.cpp only covered 37%. It would be better to add more unit tests.

## Details

Add unit tests [here](https://github.com/WasmEdge/WasmEdge/tree/master/test)

## Appendix

Codecov report for wasmedger.cpp:  https://app.codecov.io/gh/WasmEdge/WasmEdge/blob/master/tools/wasmedge/wasmedger.cpp

[2022-07-15 13:50] Ren-ZY opened #1652 "Cannot use `wasmedge_http_req` to `POST` data into dapr sidecar"
When I try to `POST` json data into dapr sidecar using url `http://localhost:3500/v1.0/state/statestore/post`，
it turns out  to be:
[code]
maybe something wrong with this url or something wrong with the `POST` method in `wasmedge_http_req`

[2022-07-16 03:44] MediosZ opened #1653 "Debuging poll_oneoff."
I am trying to implementing async io utilizing `poll_oneoff`.
And it works for projects like `tokio` and `mio`.
However, when I port `hyper` another project based on `tokio`, I get an error when I call `poll` with subscriptions.
[code]
Any suggestions about how to debug this?

[2022-07-16 07:34] juntao commented on #1653
Can you create a clean test case that reproduces this error? Thanks

[2022-07-16 07:39] MediosZ commented on #1653
Maybe I can publish my fork of `hyper` and the error will show up when runing the examples.

[2022-07-16 07:44] juntao commented on #1653
Can you add @L-jasmine to your repo? He can help reviewing it. Thanks.

[2022-07-17 05:03] MediosZ commented on #1653
Closing this because the error is caused by `wasmedge_wasi_socket`.
Move there.

[2022-07-17 05:03] #1653 closed

[2022-07-17 16:54] TieWay59 commented on #1549
[see also in my traker repo](https://github.com/TieWay59/2022-LFX-Mentorship-Tracker/blob/master/weekly-blogs/week-06/week-06.md)
# week-06

## What I met

After my repeated attempts, I found that the members of rustls were not very willing or energetic to communicate about the replacement of the ring backend. Because I did not get a reply to my email, comment (see <https://github.com/rustls/rustl

[2022-07-17 20:20] juntao commented on #1549
Thank you for the update. I believe that we need to fork rustls first and have a complete working solution on our end first.

In terms test examples, there are a few HTTP examples in WasmEdge tokio. You can create an HTTPS GET request to a public site (eg google.com) as a test.

https://github.com/WasmEdge/tokio/tree/wasmedge/examples

[2022-07-18 07:20] 2019zhou opened #1656 "Build become slow when DWASMEDGE_BUILD_TESTS=ON"
When I set the DWASMEDGE_BUILD_TESTS=OFF, the build process is quick.
[code]
However, when I set the DWASMEDGE_BUILD_TESTS=ON, the build process is very slow.
[code]
It gets stuck at
[code]
I do not know if it is normal when DWASMEDGE_BUILD_TESTS is on and if there is any way to fasten the process.

ubuntu 18.04

[2022-07-18 07:28] hydai commented on #1656
This is expected.

When the `WASMEDGE_BUILD_TESTS` is on, it will build more files than it's off. When you try to compile more files, then the building process becomes slower.

Also, it will also download and build googletest as our testing framework: https://github.com/WasmEdge/WasmEdge/blob/master/test/CMakeLists.txt#L5-L13

[2022-07-18 07:29] hydai commented on #1656
If you want to know the details, I think you can use `verbose` mode and `htop` to figure out what process is taking the most time when the test flag is on.

[2022-07-18 07:40] 2019zhou commented on #1656
Thank you.

[2022-07-18 08:20] q82419 commented on #1656
It's because the downloading and copying the unit test repository : https://github.com/second-state/WasmEdge-unittest

[2022-07-18 09:24] q82419 commented on #1656
@2019zhou You can tracking the process in this PR for better information. Thanks.

[2022-07-18 10:01] 2019zhou commented on #1656
ok

[2022-07-19 07:03] apepkuss opened #1659 "[Feature] To support user-defined error code used in host functions in WasmEdge"
## Motivation

The current version of WasmEdge only supports the pre-defined error code for runtime, but the user-defined error codes used in host functions are not supported.

## Details

According to our previous investigation on `WasmEdge v0.9.x`, we found that the error handling design (shown in the snapshot below) only considers the exceptional cases that the runtime could run into.

<img wid

[2022-07-19 07:22] apepkuss opened #1660 "[Feature] To support task-oriented stack switching proposal"
Asynchronous computation is one of the popular computation patterns. To support asynchronous operations in WebAssembly runtimes, the community launched [Task Oriented Stack Switching Proposal](https://github.com/WebAssembly/stack-switching/blob/main/proposals/tasks/Explainer.md). WasmEdge Runtime could provide the fundamental C APIs and data structures based on this proposal so that the Rust/Go/Py

[2022-07-19 07:23] hydai commented on #1659
@q82419 @ibmibmibm Looks like this is a breaking API. Will it break any external API like C API or Plugin System?
If not, we can schedule it into 0.10.2. Otherwise, we should make it in 0.11.

[2022-07-19 09:45] stuburger commented on #1530
Hi, does this mean that we can start calling https enabled endpoints from [wasmedge-quickjs](https://github.com/second-state/wasmedge-quickjs) programs? I found this after I saw that my requests were falling back to http and failing. This looks like an important and exciting piece of work.

[2022-07-19 10:17] 2019zhou commented on #1530
It implements the host functions for [https request for Rust programs]( https://github.com/second-state/wasmedge_http_req) .
And I think the host function for https request might also be used for quickjs programs. But I have not learned about the wasmedge-quickjs program yet.
@q82419

[2022-07-19 10:49] juntao commented on #1530
Yes, once this is done, we will be able to make HTTPS requests from QuickJS. The big limitation for this approach is that it only supports blocking requests.

To truly support HTTPS async networking in QuickJS, we will need to wait for this issue:

https://github.com/WasmEdge/WasmEdge/issues/1549

[2022-07-19 12:52] TieWay59 commented on #1549
Thank you @juntao, and I want to make sure that if https://github.com/second-state/wasmedge_http_req is the current HTTP support lib. I found it in second-state org but it seems still in active development.

[2022-07-19 16:33] juntao opened #1663 "Add support for __dirname in qjs"
When we use QJS to run JS programs in WasmEdge, it reads files from the working directory where the `wasmedge` command is invoked.

While this is standard JS behavior, it is often confusing to users. The built-in variable `__dirname` is used to specify files in directories that are relative to the JS file itself. We should support this built-in variable in WasmEdge qjs.

[2022-07-19 16:41] juntao opened #1664 "Rust Tokio integration for asyncify"
The asyncify toolkit from Binaryen provides an easy way to transform any Wasm bytecode app to be ready for async/await operations. We would like to provide a simple demo to show how to call asyncified Wasm functions from tokio or monoio frameworks. The goal is to showcase

* Run WasmEdge functions in asynchronously from tokio
* Call host functions asynchronously from WasmEdge.

[2022-07-20 08:09] q82419 opened #1668 "Fix the formatting for logs."
## Description

### Current State

For current state, the logging in WasmEdge (contains spdlog 1.9.0) fits the fmt 0.8.x.
But on the Fedora 37, which is bumpped into fmt 0.9.0, WasmEdge will build error.

### Expected

Support the fmt 0.9.0 on WasmEdge logging.

## Environment

- Hardware Architecture: x86_64
- Operating system: Fedora 37

[2022-07-20 08:11] q82419 commented on #1622
manylinux1 is removed on WasmEdge-image 0.10.1-alpha.3.

[2022-07-20 11:00] alabulei1 opened #1669 "Increase the code coverage of inode-linux.cpp"
## Motivation

According to the codecov report, we should increase [inode-linux.cpp](https://github.com/WasmEdge/WasmEdge/blob/master/lib/host/wasi/inode-linux.cpp)

## Appendix

[Codecov report for inode-linux.cpp](https://app.codecov.io/gh/WasmEdge/WasmEdge/blob/master/lib/host/wasi/inode-linux.cpp)

[2022-07-20 11:05] alabulei1 opened #1670 "Increase the code coverage of linux.h"
## Motivation

According to the codedcov report, we should increase [linux.h](https://github.com/WasmEdge/WasmEdge/blob/master/lib/host/wasi/linux.h)

## Appendix

[Codecov report for linux.h](https://app.codecov.io/gh/WasmEdge/WasmEdge/blob/master/lib/host/wasi/linux.h)

[2022-07-20 11:15] alabulei1 opened #1671 "Increase the code coverage of environ-linux.cpp"
## Motivation

According to the codecov report, we should increase [environ-linux.cpp](https://github.com/WasmEdge/WasmEdge/blob/master/lib/host/wasi/environ-linux.cpp)

## Appendix

[Codecov report for inode-linux.cpp](https://app.codecov.io/gh/WasmEdge/WasmEdge/blob/master/lib/host/wasi/environ-linux.cpp)

[2022-07-20 15:32] alabulei1 commented on #1651
According to Codecov, the unit tests for `wasmedger.cpp` covered 100%.

[2022-07-20 15:32] #1651 closed

[2022-07-20 21:42] neilhubertprice opened #1673 "Host Function capability to call into Wasm Function"
## Motivation

Host code sometimes needs to call Wasm functions for runtime-related issues.  For example in AssemblyScript the __new() function is exported to allow host code to allocate memory for an object which it can then write to.  The most obvious example of this is for passing strings, where AssemblyScript expects points to objects inside Wasm memory & host code needs to use __new() to allo

[2022-07-21 07:54] abhinandanudupa commented on #1477
## Proposal: Use `Microsoft CRT` (UCRT) instead of the  `win32 API`

### Introduction
The Universal C Runtime Library (UCRT) supports most of the C standard library required for C++ conformance. It implements the C99 (ISO/IEC 9899:1999) library, with certain exceptions. It is somewhat POSIX compliant - implements most of the `POSIX.1 (ISO/IEC 9945-1:1996, the POSIX System Application Program Inter

[2022-07-22 07:11] hydai commented on #1477
I have some questions about your proposal:

1. `We will be able to port the logic for *nix like OSes to Windows easily.`. However, not all of the libc functions are implemented in CRT. If you do want to use this, please identify if the CRT covers all of the functions that we may use.
2. `We reduce the need to maintain two different sets of code for the platforms, which is a bad practice`. Actually

[2022-07-22 07:25] GreyBalloonYU opened #1675 "exec container process `/wasi_example_main.wasm`: Exec format error"
## Description
I want to run a simple WebAssembly app by CRI-O and crun (https://wasmedge.org/book/en/kubernetes/cri/crio.html#run-a-simple-webassembly-app), but it suddenly exits, and when check the container's log, it outputs:
[code]
Even I follow https://wasmedge.org/book/en/kubernetes/demo/wasi.html to build a wasm app image, it's still useless.
### Current State
I cannot use CRI-O and crun to

[2022-07-22 07:30] hydai commented on #1675
Thanks for reporting this. I am going to reproduce it on the Ubuntu platform.

[2022-07-22 07:40] abhinandanudupa commented on #1477
I will work on this today.

I will try to find more information on this and if you think the performance impact is not acceptable, then we will use `win32 API` itself.

`cppwinrt` is a language projection that is designed to bring natural, idiomatic language patterns to the windows runtime through wrapper classes. But we are focusing on the underlying API calls because of which I did not focus on

[2022-07-22 09:42] neilhubertprice commented on #1673
Hi @hydai,

The point is the string is not pre-allocated by Wasm as the necessary length is not known.  So the host needs to call into the Wasm allocation method (__new for AssemblyScript), receive the pointer back & then copy the string bytes into the allocated memory.

Consider the following AssemblyScript function (trivial example to illustrate the problem):

[code]

String is a type of object

[2022-07-22 12:43] paravoid opened #1677 "Standardize ABI & SONAME"
## Motivation

In order for one to be able to embed WasmEdge in their application and expect the app to not break as newer WasmEdge versions are installed, it would be useful for WasmEdge to standardize on an ABI, and add a SONAME version to freeze that ABI.

containers/crun@33f900cc3feec6e9348fff16204e11795d28e12f is an example of an (API & ABI) breakage that as I understand it occured with 0.10.

[2022-07-22 13:32] paravoid opened #1678 "Non-WasmEdge symbols leaked in the libwasmedge_c.so symbol table"
## Description

### Current State

Despite `-fvisibility=hidden -fvisibility-inlines-hidden` being passed to the build (through `cmake/Helper.cmake`'s `CXX_VISIBILITY_PRESET`), several symbols from lld and std seem to be exposed on the dynamic symbol table.

### Expected

Only `WasmEdge_*` are exported.

## Environment

- Hardware Architecture: x86\_64
- Operating system: Debian sid
- C++ Compiler

[2022-07-22 13:35] GreyBalloonYU commented on #1675
I have found the answer.
I should install a crun binary with WasmEdge support (https://wasmedge.org/book/en/kubernetes/container/crun.html):
[code]
But I actually install a crun binary as follows, it's wrong:
[code]
After install crun correctly, the wasm app can be run by cri-o and crun:
[code]

[2022-07-22 20:00] #1527 closed

[2022-07-22 20:00] #1500 closed

[2022-07-22 20:00] #1504 closed

[2022-07-22 20:06] hydai commented on #1678
Thanks for raising this issue. We will check this.

[2022-07-23 16:36] abhinandanudupa commented on #1477
### List of functions used in the Linux implementation which are available in the windows Universal C Runtime:
- `_open()` [`open()` equivalent] - missing flags: `O_DIRECTORY`, (`O_SYNC`, `O_DSYNC`, `O_RSYNC`), `O_NONBLOCK`, `O_CLOEXEC`, `NO_FOLLOW`
- `_futime()` [`futimens` equivalent]
- `_read()` [ `readv()` equivalent]
- `_lseek()` [`lseek()` equivalent]
- `_write()` [`writev` equivalent]
- `_d

[2022-07-23 16:48] abhinandanudupa commented on #1477
#### Possible Performance Issues with `Universal CRT`
Unfortunately, I have not found any information regarding the performance of the library in comparison to the `win32 API`. I really tried hard but could only find two stack overflow questions somewhat vaguely mentioning about this and contradicting each other. Even Microsoft has not mentioned about the performance of this API any where in their

[2022-07-24 11:17] #1663 closed

[2022-07-25 02:26] #1668 closed

[2022-07-25 03:26] EmisonLu opened #1679 "Add `serialize` and `deserialize` features to `Module` [Rust SDK]"
Compiling wasm bytes into the wasm `Module` can be a very time-consuming task. In some cases, it may be necessary to call functions in the same `Module` at different times. Therefore, consider storing the first compiled `Module` locally, so that when you need to use it again, you don't need to compile it again. To achieve this feature, consider adding `serialize` and `deserialize` features to the

[2022-07-25 04:56] apepkuss commented on #1679
@EmisonLu We'll support the APIs in Rust bindings asap. Thanks!

@hydai @q82419 According to our investigation, to provide a `serialize` API for a Module object in `wasmedge-sys`, a corresponding C-API should be exposed by `WasmEdge_ASTModuleContext`. Could you please help with the C-API? Thanks a lot!

[2022-07-25 08:08] hydai commented on #1679
Hi @EmisonLu
Do you have a pseudo scenario about this? Do you want to skip the loader phase and the validator phase?
Because some steps are calculated in the validator phase, we would like to know your use case.

[2022-07-25 08:35] apepkuss commented on #1679
@hydai Could we put some constraints on the `serialize` API? Like only validated modules can be serialized. For `deserialize`, maybe we can give the responsibility of validation to users?

[2022-07-25 08:46] apepkuss commented on #1679
In addition, the `serialize` and `deserialize` APIs are to replace the counterparts ([serialize](https://docs.wasmtime.dev/api/wasmtime/struct.Module.html#method.serialize) and [deserialize](https://docs.wasmtime.dev/api/wasmtime/struct.Module.html#method.deserialize)) in wasmtime. wasmtime explains the usage of the two APIs, so it could be helpful for understanding the scenario.

[2022-07-25 08:51] CaptainVincent commented on #1526
Continue add Wasmedge into execute flow but catch abort signal behavior from macro. Need clarify how to handle it in the right way.

[2022-07-25 08:58] 2019zhou commented on #1530
### problems
1. wasmedge host function cannot pass the string. If Wasmedge host function can pass the string, it can use the exact same API and by adding the few lines of Rust code, that is res.status_code(), res.headers(), res.reason() is not available().
[code]
Now, it can only print all the feedback by calling post/get/head.

2. Is there any need to add more functions other than the [send_data

[2022-07-25 09:26] hydai commented on #1530
For question 1, you can pre-allocate the space for a string in wasm and then pass its pointer and length to the host function, and then load/store the string into the space. You can check how we handle the `getaddrinfo` here: https://github.com/WasmEdge/WasmEdge/blob/master/lib/host/wasi/inode-linux.cpp#L793

[2022-07-25 09:44] 2019zhou commented on #1530
Sorry for the unclear explanations.
The string can be passed into the Httpsreq https://github.com/2019zhou/WasmEdge/blob/zhou/httpsreq/plugins/httpsreq/httpsreqfunc.cpp#L21
but can not be returned or passed out the Host function.
In order to achieve the goal of using the exact same API as HTTP request, the string needs to be returned.

[2022-07-25 09:58] hydai commented on #1675
Awesome! Thanks.

[2022-07-25 09:58] #1675 closed

[2022-07-26 03:30] q82419 opened #1680 "[Example] Add a WASI-crypto example"
## Motivation

In current state, we only have unit tests for wasi-crypto plugin in WasmEdge.
We need a tutorial for creating a WASM program which uses wasi-crypto.

## Details

1. A rust source to use wasi-crypto and compile into the wasm32-wasi target.
2. Use WasmEdge with wasi-crypto plugin to run the WASM.

[2022-07-26 04:00] q82419 opened #1681 "[Refactor] Export the whole store into the host functions"
## Motivation

The host functions may need to access the internal resources of WasmEdge runtime, such as other function instances or module instances. But the current function signature of host functions only pass the memory instance into the function body.
Therefore, we need to refactor the host function body to export the store to provide the whole resource.

## Details

1. Link the anonymous mo

[2022-07-27 07:40] 2019zhou commented on #1530
It looks like the string can be passed out of the host function https://github.com/WasmEdge/WasmEdge/blob/master/plugins/wasmedge_process/processfunc.cpp#L324-L340.
I am learning and implementing this part.

[2022-07-27 09:25] minghuaw commented on #1560
## A non-exhaustive list of current implementations

| Library | Badges | Backed by <br> (community or company) | Comment |
|--------|--------|----------------------------|--------------------------|
| [`quinn`](https://crates.io/crates/quinn)| ![crate_version](https://img.shields.io/crates/v/quinn.svg?style=flat) ![alt Download](https://img.shields.io/crates/d/quinn.svg?style=flat) | community |

[2022-07-27 10:53] q82419 commented on #410
Merged: #1590

[2022-07-27 10:53] #410 closed

[2022-07-27 10:54] q82419 commented on #345
Merged: #1590 #1643

[2022-07-27 10:54] #345 closed

[2022-07-27 15:34] GreyBalloonYU opened #1692 "No IP address assigned for pods when "hostNetwork: false" in k8s"
## Description
When I follow the instruction (https://wasmedge.org/book/en/kubernetes/kubernetes/kubernetes-crio.html#a-webassembly-based-http-service) to make a WebAssembly-based HTTP service, I try to assign "false" to "hostnetwork" in yaml, as follows:
[code]
But the result is: these is no IP address assigned for the pod:
[code]
Does the pod have IP address only when "hostNetwork: true"?
Are th

[2022-07-27 16:49] richardchien commented on #1525
After some debugging, I decided to rewrite the TCP sending and receiving logic of Anna Rust client instead of directly run the original client on WasmEdge, because the `futures::select!`, `FusedStream`, `FuturesUnordered` stuffs cannot work properly with Tokio for WasmEdge. It seems there's some incompatibility between `futures` and `tokio` on our Tokio for WasmEdge. Rewriting is not a huge work t

[2022-07-27 16:57] wilsonwang371 opened #1693 "Performance evaluation questions"
Hi guys,

I am running wasmedge together with wamr and wasmtime to compare the performance.

The bench mark that I used is https://github.com/attractivechaos/matmul

I compared AOT performance between them. What I got is a little bit strange. wasmtime and wasmedge performance is similar. But wamr has a better performance.

Can someone help me explain this?

[code]

[2022-07-28 05:41] hydai commented on #1693
Thanks for reporting this. @LFsWang Could you please help with this issue? Let's do some profiling on this benchmark to check what's going on here.

[2022-07-28 06:49] hydai commented on #1692
Hi @GreyBalloonYU

AFAIK, the IP means the public IP, if you set the hostnetwork to false, then it should not have the IP. I am not so familiar with k8s, if I said something wrong, please correct me, thanks.

[2022-07-28 07:26] GreyBalloonYU commented on #1692
@hydai The IP is a virtual IP of the k8s pod. When I deploy a container like busybox in k8s, which "hostnetwork" is "false", k8s will assign a virtual IP for pod:
[code]
Then the pod will have a virtual IP address:
[code]
But a wasm app isn't assigned a virtual IP, which may make wasmedge difficult to be popularized in k8s.

[2022-07-28 10:06] O3Ol opened #1694 "[RISC-V] Build error when build AOT runtime with riscv-gnu-toolchain"
By using the RISC-V cross-compilation toolchain to build the AOT mode of WasmEdge, the following error occurred. I found that `lib/aot/compiler.cpp` defines the  `x86_64` and `aarch64` architectures respectively, but does not describe the `RISC-V` architecture. Maybe this is the reason for the build error?

[code]

[2022-07-28 14:25] hydai commented on #1694
The linker reports these errors. If the `RISC-V` is not defined, it will report errors earlier.
Could you please provide the reproduced steps? It seems like it cannot find the `libwasmedge`, `spdlog`, and `fmt` in the linking time.

[2022-07-28 14:33] hydai commented on #1692
Thanks for clarifying the meaning of `IP`. Will try to figure out what's happening here.

[2022-07-28 15:43] O3Ol commented on #1694
Σ( °△°|||)︴OK...I found that `-DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY` was set in my compile items, which caused the problem. So the problem is solved by removing the item.

[2022-07-28 15:58] GreyBalloonYU commented on #1692
It seems that the pause container cannot run with a wasm app in the same pod in k8s.

Whether "hostnetwork" is "true" or "false", the pod which has a wasm app always be restarted many times:
[code]
Because can't find the pause container (its name's prefix is "k8s_POD") in the pod which runs a wasm app:
[code]
Whether "hostnetwork" is "true" or "false", when I check the kubelet log, it will report

[2022-07-28 17:23] juntao commented on #1692
@JcJinChen Can you look into this as well? Thanks.

[2022-07-28 17:24] juntao commented on #1525
Thanks Richard. Does that mean that there is now a separate repo and crate for "WasmEdge Anna client"? Can you point us to it? Thanks.

[2022-07-29 01:32] richardchien commented on #1525
It's still in [anna-client-tokio](https://github.com/richardchien/anna-client-tokio). I just put my rewritten client in a new Rust file.

[2022-07-29 02:14] juntao commented on #1525
I saw that it still uses regular tokio not the WasmEdge fork of tokio. Can it run inside WasmEdge now?

[2022-07-29 02:19] richardchien commented on #1525
Oh there're some changes in my local repo that are not pushed to the remote. Just need to change the dependency git url in `Cargo.toml`.

[2022-07-29 07:24] hydai commented on #1694
Seems like the issue is resolved. I am closing this, if there is any new problem, please create a new one.

[2022-07-29 07:24] #1694 closed

[2022-07-29 11:25] q82419 opened #1699 "Bus error on MacOS in universal WASM format"
## Description

### Current State

When installing the latest WasmEdge 0.10.1 on MacOS and run (take `examples/wasm/fibonacci.wasm` for example):

[code]

And run:

[code]

### Expected

Universal WASM format in AOT should work on MacOS.

## Environment

- Hardware Architecture: x86_64
- Operating system: MacOS 10.15

## Steps to Reproduce

As above.

[2022-07-31 08:26] GreyBalloonYU commented on #1692
I think the problem is in kubelet (pod annotations "module.wasm.image/variant: compat"), and there is no problem in cri-o & crun.
I also try to run a pod, which has a wasm app (http_server) and a container (busybox), created by cri-o and crun (not by k8s), the result is that they both run successfully:
[code]
However if I run a pod like above by k8s, the result is that the wasm app can run success

[2022-07-31 09:01] GreyBalloonYU commented on #1692
BTW, my k8s version is v1.22.12, and use ./hack/local-up-cluster.sh to set up a single node k8s cluster.

[2022-07-31 09:11] 0xE282B0 commented on #1692
Hi, can you try with `"module.wasm.image/variant: compat-smart"`?
Is it related to this issue https://github.com/containers/crun/pull/886?

[2022-07-31 09:16] 0xE282B0 commented on #1692
Ah, ok. When you run `http_server` and `busybox` in one pod you get an IP, but only with `http_server` you don't get an IP, right?

[2022-07-31 09:52] GreyBalloonYU commented on #1692
When busybox is run successfully and http_server is error (without pod annotations "module.wasm.image/variant: compat") and "hostnetwork" is "false", I can get an IP.

@0xE282B0 I will try it.

[2022-07-31 11:04] Zhangyx24 opened #1704 "[CLI tool] `v128` return value is not handled"
## Description
When executing the `func1` function in main.wasm, wasmer print `79228162514264337593543950336`, but wasmedge print nothing.
The main.wasm is uploaded as main.txt since it is not supported to upload a file end with .wasm.

[main.txt](https://github.com/WasmEdge/WasmEdge/files/9228709/main.txt)

### Current State
print nothing

### Expected

print `79228162514264337593543950336`

## E

[2022-07-31 14:04] Zhangyx24 opened #1705 "Fail to execute the wasm file ?"
## Description
[test.zip](https://github.com/WasmEdge/WasmEdge/files/9229014/test.zip)

When executing the test.wasm which is uploaded as test.txt in test.zip, the wasmedge prints:
[2022-07-31 14:01:14.896] [error] instantiation failed: unknown import, Code: 0x62
[2022-07-31 14:01:14.896] [error]     When linking module: "wasi_unstable" , function name: "args_get"
[2022-07-31 14:01:14.896] [error]

[2022-07-31 14:15] GreyBalloonYU commented on #1692
It really works for solving this problem, thx!

I think we should update `"module.wasm.image/variant: compat"` to `"module.wasm.image/variant: compat-smart"` in docs, and add some examples in docs (like https://wasmedge.org/book/en/kubernetes/kubernetes/kubernetes-crio.html).
I've found there is a WIP in WasmEdge/WasmEdge#1338, what should we do next? @0xE282B0 @juntao

[2022-07-31 14:26] Zhangyx24 opened #1706 "[CLI tool] Should command mode takes the WASI exit code as the return value?"
## Steps to reproduce

The wat file :
(module
  (type (;0;) (func (result f64)))
  (func (;0;) (type 0) (result f64)
    f64.const 0x0p+0 (;=0;)
    f64.const 0x0p+0 (;=0;)
    f64.const 0x0p+0 (;=0;)
    f64.div
    f64.copysign)
  (export "_start" (func 0)))

`wat2wasm main.wat`
`wasm3 main.wasm`

## Expected result
0
and wasmtime execute this and print 0.

## Actual result
print nothing

## ver

[2022-07-31 15:02] Zhangyx24 opened #1707 "[Compiler] The mask is missed on the shift operands"
## Steps to reproduce
Execute the `main` function in the wasm file which is uploaded as test.txt.

[test.txt](https://github.com/WasmEdge/WasmEdge/files/9229121/test.txt)

（1）`wasmedge --reactor --enable-all test.wasm main` or
 （2）`wasmedgec test.wasm test.so` `wasmedge --reactor --enable-all test.so main`

## Expected result
65
other runtime print 65 and  wasmedge in (1)print 65

## Actual result

[2022-07-31 17:27] juntao commented on #1692
Great. Thanks! @GreyBalloonYU and @0xE282B0

I think we should update the examples and docs to reflect this annotation.

[2022-07-31 17:30] juntao commented on #1692
I guess we should just use the

`module.wasm.image/variant: compat-smart`

annotation in all examples?

[2022-07-31 19:17] 0xE282B0 commented on #1692
In case only Wasm containers are used the `module.wasm.image/variant: compat-smart` annotation should behave exactly like the `module.wasm.image/variant: compat` annotation. It should only make a difference when standard OCI containers and Wasm containers are in the same pod.
Therefore yes, we can update all examples to `compat-smart`.

[2022-08-01 01:50] hydai commented on #1705
The `wasi_unstable` is called `old/snapshot_0` now, which is deprecated and replaced with `wasi_snapshot_preview1`.

Unfortunately, we don't have a plan to implement it in the near future.

Duplicate of #1325

[2022-08-01 01:50] #1705 closed

[2022-08-01 01:55] Zhangyx24 commented on #1705
Ok, Thanks for your answer !

[2022-08-01 02:04] hydai commented on #1707
Hi @Zhangyx24
Thanks for reporting this. We will check this and get you back.

[2022-08-01 02:04] hydai commented on #1707
Also, may I ask what version of wasmedge you used?

[2022-08-01 02:06] Zhangyx24 commented on #1707
The version is 0.9.1

[2022-08-01 02:35] GreyBalloonYU commented on #1692
@0xE282B0 Do you have any sidecar examples with wasm in k8s? We can add the sidecar example in docs besides update the pod annotation.

[2022-08-01 04:28] 2019zhou commented on #1656
In my case, one of the reasons is the internet problems.

[2022-08-01 05:37] O3Ol opened #1708 "[RISC-V] Runing error when using AOT mode on RISC-V64 architecture"
## Description

I have compiled dependent libraries such as LLVM and LLD into files that conform to the RISC-V architecture by cross-compiling, and built WasmEdge with these dependent libraries. But an error occurred when running `wasmedgec` in the simulator.

### Current State

[code]

## Environment

- Hardware Architecture: RISC-V 64
- Operating system: Ubuntu 21.10

## Steps to Reproduce

[cod

[2022-08-01 06:21] hydai commented on #1708
Can you provide the full commands from building the LLVM, LLD, and wasmedge?

[2022-08-01 06:44] O3Ol commented on #1708
Before building LLVM and LLD, I've built the riscv-gnu-toolchain.
[code]

And the commands for building the LLVM and LLD as following:

[code]

[2022-08-01 06:49] O3Ol commented on #1708
Then I build WasmEdge:
[code]
It will return the error as following, so I delete the ` -Werror` in `WasmEdge/cmake/Helper.cmake`.
[code]
After that, WasmEdge is built successfully.

[2022-08-01 07:17] hydai commented on #1708
Before I re-built the environment, could you please try to use `gdb` or `lldb` to locate the problematic code section?
I am going to use `dockerfile` to construct the environment to make sure we are on the same page.

[2022-08-01 07:28] hydai commented on #1707
Thanks for reporting, this should be fixed by #1710. We will ship it in the next release.

[2022-08-01 07:31] Zhangyx24 commented on #1707
Thanks for your answer !

[2022-08-01 08:11] CaptainVincent commented on #1526
Finish phase 1 draft version about integrate wasmedge sdk into init, cache, execute flow.

[2022-08-01 08:59] 2019zhou commented on #1652
plz assign to me.

[2022-08-01 12:19] Zhangyx24 opened #1711 "Directories with more than ~150 files are truncated when mapped ?"
## Steps o reproduce

This is related to https://github.com/bytecodealliance/wasmtime/issues/2493
Compile the C program into wasm :
[ls.txt](https://github.com/WasmEdge/WasmEdge/files/9233791/ls.txt)

(1) `wasmedge ls.wasm --dir=./testfolder -- testfolder | wc -l`
or
(2)`wasmedgec ls.wasm ls.so` and
`wasmedge ls.so --dir=./testfolder -- testfolder | wc -l`

## Expected result
203

## Autual result

[2022-08-01 13:01] hydai commented on #1711
Hi @Zhangyx24, thanks for reporting this.

The `0` is because the arguments are not in the correct order.

After I change it to the correct order, I can reproduce this issue. Once the number of files is larger than 147, it will be truncated. I will check it.

<img width="1792" alt="截圖 2022-08-01 at 20 59 21@2x" src="https://user-images.githubusercontent.com/2776756/182153246-640924a7-f575-4ead-ba3

[2022-08-01 13:05] O3Ol commented on #1708
I run the program by step, and the error happens after running the following part.
It may means that the error happens between the 423 and the 424 line of `WasmEdge/lib/aot/compiler.cpp`
[code]

[2022-08-01 13:37] hydai commented on #1704
Hi @Zhangyx24

Thanks for reporting this issue. According to my test, I found that WasmEdge only handles some native types of the return value including `I32`, `I64`, `F32`, and `F64`. Ref: https://github.com/WasmEdge/WasmEdge/blob/master/lib/driver/tool.cpp#L352-L372

However, the return value of this program is `v128`, so the result is not handled. Will have a PR to fix this. Thanks!

[2022-08-01 13:38] Zhangyx24 commented on #1704
Thanks for your answer !

[2022-08-01 14:08] hydai commented on #1708
Hi @O3Ol
I am trying to reproduce your environment, however, there is no luck.

My dockerfile: https://github.com/WasmEdge/WasmEdge/compare/master...hydai/add_riscv_docker

Currently, I get stuck with the following error message:

[code]

Could you help me with the dockerfile? I believe there should be something I missed.

[2022-08-01 14:11] hydai commented on #1706
Hi @Zhangyx24
Thanks for reporting this. According to my tests, I found that if this is not a `_start` function, then the result is the same. However, once the name is `_start` function, then there is nothing to print.

<img width="1792" alt="截圖 2022-08-01 at 22 00 17@2x" src="https://user-images.githubusercontent.com/2776756/182164967-f98891ef-a898-4ca3-a50f-c189f444966a.png">

And this result is

[2022-08-01 14:18] Zhangyx24 commented on #1706
Thank you very much for your answer and patience.

[2022-08-01 14:21] hydai commented on #1706
These reported bugs mean a lot to us. Thank you again. We will get these fixed ASAP.

[2022-08-01 15:05] O3Ol commented on #1708
@hydai Sorry..I forget to add the command `make` to build the tools. So it could be solved by adding `make -j` after the `cmake` command, just as following.
[code]

[2022-08-01 16:05] CaptainVincent opened #1714 "Get different results when using WasmEdge debug build"
Reproduce code [BugReport.tar.gz](https://github.com/WasmEdge/WasmEdge/files/9235302/BugReport.tar.gz)

Assumption folder struct as below
[code]

and set env before reproduce this issue
[code]

Compare build WasmEdge in below two cases
[code]

Test cmd
[code]

Results
[code]

[2022-08-02 03:07] #1518 closed

[2022-08-02 03:41] q82419 opened #1715 "Release process for WasmEdge 0.11.0"
### Features

- [x] Static link LLVM on MacOS
   - #1698
   - #1749
- [x] Export more data than memory instance to host functions
   - #1681
   - #1626
   - #1758
- [x] Support user-defined error codes on host functions
   - #1659
   - #1730
- [x] Deprecate the manylinux1 and manylinux2010
   - #1622
   - #1782

### Issues

- [x] AOT wrong number
   - #1707
   - #1710
- [x] Multi-memory proposal b

[2022-08-02 05:09] hydai commented on #1708
@O3Ol
The dockerfile is built successfully. Which branch should I use to reproduce your environment?

[2022-08-02 05:24] O3Ol commented on #1708
@hydai https://github.com/O3Ol/WasmEdge/tree/riscv64
The branch `riscv64` is the version I used.

[2022-08-02 05:30] hydai commented on #1708
And I just pushed the docker image which is built via my dockerfile: https://hub.docker.com/repository/docker/secondstate/wasmedge-test

Dockerfile: https://github.com/WasmEdge/WasmEdge/compare/master...hydai/add_riscv_docker

We should use this in the further discussion to see if we can reproduce the same issue or not. Also, I think the `-Werror` should not be removed, We should add new `ifdef` t

[2022-08-02 08:09] q82419 commented on #1714
@CaptainVincent ,
Can you provide the `fil_hello_world_actor.compact.wasm` for testing with WasmEdge C API directly? thanks.

[2022-08-02 09:27] q82419 commented on #1714
Sample WAT:

[code]

Call the `invoke` function and get the result value.

[2022-08-02 09:59] Zhangyx24 opened #1716 "How to import a host function(without return value) in the C api ?"
## Motivation
[test.txt](https://github.com/WasmEdge/WasmEdge/files/9241084/test.txt)
The test.wat is uploaded as test.txt.
[test-c.txt](https://github.com/WasmEdge/WasmEdge/files/9241102/test-c.txt)
The test.c is uploaded as test-c.txt.

## Details
However using `gcc -o test test.c -lwasmedge_c` failed and print:
test.c: In function ‘main’:
test.c:67:3: error: ‘HostFType’ undeclared (first use in

[2022-08-02 10:30] hydai commented on #1716
Just set the `NULL` and `0`
https://github.com/WasmEdge/WasmEdge/blob/409b1b09a049e8805b44a5f6840c7a74a783e939/test/api/hostfunc_c.c#L133-L142

According to your error message, looks like you don't define the `HostFType` before you used it.

[2022-08-02 11:38] Zhangyx24 commented on #1716
Thanks a lot !

[2022-08-02 11:38] #1716 closed

[2022-08-02 12:58] Zhangyx24 opened #1718 "Running twice ?"
## Description
[test-c.txt](https://github.com/WasmEdge/WasmEdge/files/9242354/test-c.txt)
[test-wat.txt](https://github.com/WasmEdge/WasmEdge/files/9242362/test-wat.txt)

Using the test.c to execute the `main` function in the test.wasm.
The test.c is uploaded as test-c.txt and the test.wat is uploaded as test-wat.txt.

### Steps to reproduce
`wat2wasm test.wat`
`gcc -o test test.c -lwasmedge_c`
`

[2022-08-03 08:14] q82419 commented on #1718
Hi @Zhangyx24 ,

According to your WAT:

[code]

This WASM file has the start section `(start $main)`.
The [instantiation steps in WASM spec](https://webassembly.github.io/spec/core/exec/modules.html#instantiation) says:
[code]

So when instantiating this WASM, the `main` will be executed because it's assigned as the start function.
When you call the `WasmEdge_VMRunWasmFromFile` in C code, this AP

[2022-08-03 09:24] hydai opened #1722 "The example of thread proposal is missing in the WasmEdge book"
## Description

Our thread proposal example only exists in `examples` folder. We should have it in the WasmEdge book.

### Current State

The example only exists in `examples` folder.

### Expected

A page to explain thread proposal example in the WasmEdge book.

[2022-08-03 09:26] Zhangyx24 commented on #1718
Thanks four your answer!

[2022-08-03 09:27] #1718 closed

[2022-08-03 19:15] #1707 closed

[2022-08-03 19:18] TieWay59 commented on #1549
# week-07 & week-08

After many close discussions with @sonder-joker, I have figured out how to run  WASI-Crypto (which is also in a heated developing period) and we found out that we misunderstood each other on the design.

There is a long story that I failed to share here. I think it's too long to display here in the issue comments, so I have uploaded my tracked details in my repo:

- [week-07](

[2022-08-03 19:20] #1338 closed

[2022-08-03 19:20] #1692 closed

[2022-08-03 19:23] TieWay59 commented on #1549
# week-09 & latest progress

[week-09](https://github.com/TieWay59/2022-LFX-Mentorship-Tracker/blob/master/weekly-blogs/week-09/week-09.md)

## Discussion

Dirkjan Ochtman suggested that I refer to the integrated approach of the Quinn project.

After my discussion with my [sonder-joker](https://github.com/sonder-joker) , I got a better understanding of the project design.

First, two kinds of feat

[2022-08-03 19:26] hydai opened #1723 "[CI] Enable markdownlint for our documents"
## Motivation

When using markdown as a document format, we encountered the format linting issue. Just like #1721
To fix this, we should enable a markdown linter to make all of the markdowns are checked before it gets merged.

## Details

Create a new workflow that will use [`markdownlint`](https://github.com/DavidAnson/markdownlint/) to check if the markdown is well formatted.

[2022-08-04 07:45] #1714 closed

[2022-08-04 17:02] hydai opened #1725 "[Proposal] breaking change in multi-memory spec. The order of load/store immediates should be switched"
## Description

There is a breaking change in multi-memory proposal. We need to change the behavior of decoding multi-memory instruction.

Reference:
* https://github.com/WebAssembly/multi-memory/pull/29
* https://github.com/WebAssembly/multi-memory/issues/28

### Expected

The order of load/store immediates should be switched in binary format.

[2022-08-04 17:04] hydai commented on #1725
@q82419
Before we fix this, we should have a survey to make sure which order is correct first.

[2022-08-04 18:16] HeZean commented on #1723
Hi, may I work on it?

[2022-08-04 18:19] hydai commented on #1723
Sure thing. Just assigned to you.

[2022-08-05 11:02] alabulei1 opened #1726 "Add more WASI-NN examples using WasmEdge"
## Motivation

 WasmEdge now supports the WASI-NN proposal with the OpenVINO backend after the 0.10.1 version is released. It's would be better to add more examples.

## Appendix

Submit a PR [here](https://github.com/second-state/WasmEdge-WASINN-examples)

[2022-08-07 12:00] EmisonLu opened #1728 "[Rust SDK]function `wasmedge_sdk::memory::write`"
Currently, the `memory` type of wasmedge-sdk, has the method [`write()`](https://github.com/WasmEdge/WasmEdge/blob/master/bindings/rust/wasmedge-sdk/src/externals/memory.rs#L94), which is able to safely write contents of a buffer to this `memory` at the given offset. However, the method [`write()`](https://github.com/WasmEdge/WasmEdge/blob/master/bindings/rust/wasmedge-sdk/src/externals/memory.rs#

[2022-08-07 12:10] apepkuss commented on #1728
@EmisonLu Thanks for your feedback. We'll consider your request carefully and make improvements to the related API. Thank you so much!

[2022-08-07 14:05] abhinandanudupa commented on #1477
### Function-wise Summary

Note: WFL -> Will Fix Later

| Function | Status | Comment |
| ---------------- | ---------------- | ---------------- |
| `open` | complete | None |
| `fdAdvise` | no equivalent | WFL |
| `fdAllocate` | complete | None |
| `fdDatasync` | complete | None |
| `fdFdstatGet` | incomplete | Need to find equivalent flags |
| `fdFdstatSetFlags` | incomplete | need to get file a

[2022-08-08 07:26] CaptainVincent commented on #1526
Phase2 draft version.
1. Modify wasmedge-sys binding, pass  external data ptr to host functions.
2. Breakup macro binding code to normal trait.

[2022-08-08 07:47] O3Ol commented on #1708
If there is no special definition for the riscv instruction set in the following cases, will it cause an error? Does this mean that the riscv instruction set needs to be defined for every similar code segment?
[code]

[2022-08-08 14:05] hydai commented on #1708
No, it will fall back to the last part `stackPush(...`. So this should not be a problem.

[2022-08-08 14:15] hydai commented on #1708
I just created a PR to make the code clearer: https://github.com/WasmEdge/WasmEdge/pull/1734/files#diff-9bf29a17f36dcb7f771f259cfab0b0dcab10bc9601aa31a8a919f0f39f59af4bL4838-R4870

[2022-08-08 14:18] #1728 closed

[2022-08-09 03:08] #1723 closed

[2022-08-09 03:59] CaptainVincent commented on #1526
### Below is the test flow for phase 1 & 2 commits both.

- [code base](https://github.com/second-state/filecoin-wasmedge/tree/porting-wasmedge)
  - phase 1 : 8ab3e9a538e95900a0862d8e17a6f2d23f2ee31c
  - phase 2 : 13adbd7c205211b97017360189ef6a7f4dee1bfc

1. build Wasmedge first
`workspace` depend on where you clone the repo
[code]

2. build and run fil-hello-world-actor (integration test)
[code]

[2022-08-09 04:22] q82419 commented on #1254
Supported.

[2022-08-09 04:22] #1254 closed

[2022-08-09 04:32] #239 closed

[2022-08-09 04:32] #248 closed

[2022-08-09 04:35] q82419 commented on #455
Fixed.

[2022-08-09 04:35] #455 closed

[2022-08-09 05:05] #1435 closed

[2022-08-09 05:06] #1062 closed

[2022-08-09 05:06] #1016 closed

[2022-08-09 05:06] #1025 closed

[2022-08-09 05:07] hydai commented on #637
Fixed: https://src.fedoraproject.org/rpms/wasmedge

[2022-08-09 05:07] #637 closed

[2022-08-09 05:07] #586 closed

[2022-08-09 05:07] hydai commented on #587
Invalid. We stopped supporting RPI4.

[2022-08-09 05:07] #587 closed

[2022-08-09 05:08] hydai commented on #590
Seems like this is finished?

[2022-08-09 09:56] LFsWang commented on #1693
I try to reproduce on my PC. Is the argument same as yours?

## Compile

[code]

## Run

### Wasmedge

[code]

### Wasmtime

[code]

### Wasm-micro-runtime (Wamr)

[code]

## Result

Environment information

* CPU : AMD 5600X
* RAM : 32GB with 3200 MHz
* OS: Win 11 22H2 WSL 2 (Ubuntu 20.04.4 LTS)

||Wasmedge|Wasmtime|Wamr|
|-|-|-|-|
|1|22.59|27.247|22.725|
|2|22.6|26.389|22.602|
|3|22.641|26.928|2

[2022-08-09 16:42] L-jasmine opened #1739 "[Rust] Please support std::io::Error"
https://github.com/WasmEdge/WasmEdge/blob/4f3ffe1579205d54d16466a3d68fbf1136433efc/bindings/rust/wasmedge-types/src/error.rs#L58-L67

[2022-08-10 02:07] apepkuss commented on #1739
@L-jasmine Could you please provide some necessary information of this feature request, like motivation? So that other users can get to know why you need it. Thanks a lot!

[2022-08-10 07:13] q82419 opened #1741 "LFX Workspace: Support serialize and deserialize in WasmEdge"
## Motivation

WasmEdge can load the WASM binary and instantiate it into WASM module instances for execution. In a use case, we need to serialize the loaded WASM data structure back into the encoded WASM binary or deserialize the serialized one into the WASM data structure in WasmEdge. With the serializing mechanism, WasmEdge can control the WASM binary wisely such as caching or snapshotting.

##

[2022-08-10 08:11] q82419 opened #1742 "LFX Workspace: Porting OpenVINO on multiple platforms for the WASI-NN proposal in WasmEdge"
## Motivation

The [OpenVINO](https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/download.html) official release supports various platforms. WasmEdge supports the WASI-NN proposal with OpenVINO backend now, but only in Ubuntu 20.04. In this project, we want to porting and integrating the OpenVINO installation for the multiple platforms such as MacOS, Windows, or manylinux wit

[2022-08-10 09:17] Zhangyx24 opened #1743 "Does WasmEdge support execute wast file ?"
Does WasmEdge support execute wast file which is supported by wasmer and wasmtime ?

[2022-08-10 09:18] hydai commented on #1743
Nope. We only support the binary format currently.

[2022-08-10 09:19] Zhangyx24 commented on #1743
Thanks for your reply !

[2022-08-10 09:19] #1743 closed

[2022-08-11 01:50] Zhangyx24 opened #1744 "[CLI] Unexpected error message popped out but the functionality is fine"
## Description
The wasm file is to rename a file.
[uutils-wat.txt](https://github.com/WasmEdge/WasmEdge/files/9305497/uutils-wat.txt)
In the same directory, make a directory named `dir`, and create a file named `foo` in `dir`.

### Steps to reproduce
(1)`wasmedge --dir=./dir uutils.wasm mv dir/foo dir/bar`
(2)`wasmedgec uutils.wasm uutils.so` and
`wasmedge --dir=./dir uutils.so mv dir/foo dir/bar`

[2022-08-11 02:22] richardchien commented on #1525
Updates since last time:

- Moved WasmEdge Anna client to [WasmEdge/wasmedge-db-drivers](https://github.com/WasmEdge/wasmedge-db-drivers)
- Supported PUT/GET *set* values and *casual* values (previously only *last writer win* values)
- Implemented key address cache and TCP connection cache, so that consecutive requests don't need to do redundant connection and address query
- Coorperated with @Med

[2022-08-11 04:19] juntao opened #1745 "LFX Workspace: Node API support for WasmEdge QuickJS"
## Motivation

The [WasmEdge QuickJS runtime](https://wasmedge.org/book/en/dev/js.html) is a secure, fast, and lightweight JavaScript runtime for cloud-native applications. Compared with more established JavaScript runtimes like Nodejs and Deno, the WasmEdge QuickJS runtime provides runtime isolation and security at a very low overhead.

In order for WasmEdge QuickJS to be more widely adopted, it

[2022-08-11 07:00] wilsonwang371 commented on #1693
Thanks! Let me take a look at this

[2022-08-11 07:09] hydai commented on #1693
@LFsWang Could you please provide the versions of runtimes you used for the above benchmarks?

[2022-08-11 09:05] hydai commented on #1744
@LFsWang
Could you check this? Maybe related to your previous issue.

[2022-08-11 11:55] MediosZ commented on #1532
Now we have suuport of the following libraries:
1. mio and tokio: async runtime
2. hyper: An HTTP library for Rust. (client and server)
3. reqwest: An ergonomic, batteries-included HTTP Client for Rust.

[2022-08-12 05:48] LFsWang commented on #1693
* Wasmedge 0.10.1
* Wasmtime  0.39.1
* Wasm-micro-runtime (main 8/9)

[2022-08-12 14:57] juntao opened #1747 "LFX workspace: OpenCV SDKs for Wasm"
## Motivation

WasmEdge is a leading WebAssembly runtime for AI inference. It supports AI frameworks such as Tensorflow, OpenVINO and PyTorch. A compelling use case is computer vision applications on the edge.

Computer vision applications need to pre-process images and videos into tensor formats before applying the AI model. They then often need to overlay the tensor results onto the original ima

[2022-08-15 08:31] 0saurabh0 commented on #1745
@juntao I would love to work on this, any tips for getting started.

[2022-08-15 09:11] hydai opened #1748 "feat: Expose a helper function to compile a wasm binary array"
## Motivation

In the current design, developers have to call the `CompilerCompile` with `Input File` and `Output File`.
However, this function `CompilerCompile` wraps the `Loader` inside, which means it actually loads the `Input File` into a memory array and then compiles it into `Output File`.

We should also provide a function for developers who want to pass a memory array directly without the

[2022-08-15 09:39] monalisha31 commented on #1742
Hi @q82419 , I would like apply for this project under the LFX mentorship program. This project seems interesting. Looking forward to contributing to it.

[2022-08-16 07:20] juntao commented on #1745
👍👍👍

As a "test", may I ask you implement a nodejs api in WasmEdge QuickJS using our Rust API? You could choose any of the unimplemented nodejs api here:

https://github.com/WasmEdge/WasmEdge/issues/1535

Thank you.

[2022-08-16 11:33] q82419 commented on #1605
Resolved by #1749

[2022-08-16 11:33] #1605 closed

[2022-08-16 12:32] alabulei1 commented on #1742
@monalisha31  Thanks for your interest. We'd like to ask you to complete a pretest for better collaboration. See details #1752.

[2022-08-16 12:47] LFsWang commented on #1744
Maybe same as #1378

[2022-08-16 17:00] carrycooldude commented on #1741
Hey @q82419 , I would love to work on this, any tips for getting started?

[2022-08-16 17:38] alabulei1 commented on #1741
Hey @carrycooldude Thanks for your interest. We'd like to ask you to complete a pretest for better collaboration. See details #1751. Also, you should apply for this task on https://mentorship.lfx.linuxfoundation.org/project/da1162c6-2aaf-496f-9f23-a96a3e52c277.

[2022-08-17 03:05] ritamgit-alt commented on #1745
Hi, this project seems interesting, I would love to work on this, so where should I get started?

[2022-08-17 03:25] alabulei1 commented on #1747
Hey @omkar-mohanty, We'd like to ask you to complete a pretest for better collaboration. See details #1754. Thank you.

[2022-08-17 03:27] alabulei1 commented on #1745
Hi @ritamgit-alt , Thanks for your interest. We'd like to ask you to complete a pretest for better collaboration. See details #1753.

[2022-08-17 03:28] alabulei1 commented on #1741
Hi @Onyx2406,
Thanks for your application. We'd also like to ask you to complete a pretest for better collaboration. See details https://github.com/WasmEdge/WasmEdge/discussions/1751

[2022-08-17 06:34] Zhangyx24 commented on #1744
Thanks for your reply !

[2022-08-17 07:00] 0saurabh0 commented on #1745
I'm on it.

[2022-08-17 09:21] #1725 closed

[2022-08-17 09:32] hydai commented on #1677
Hi @paravoid
Thanks for raising this. This is a very helpful idea.

We found that we have to make other breaking changes in the WasmEdge C API because there are some important features including extending the return error code section for the host functions and plugins.

And we can also expect there may be more breaking changes in the future, especially before the 1.0 releases.
After considering t

[2022-08-17 14:06] q82419 commented on #1693
Can be fixed by #1755

[2022-08-17 15:13] 0saurabh0 commented on #1745
Can all node.js APIs be implemented in Javascript alone ?
If so where Rust will come in use ?

[2022-08-17 15:15] juntao commented on #1745
Please refer to issue #1535

We discussed which APIs can be done in JS and which must be done in Rust.

[2022-08-18 20:55] q82419 commented on #1681
Modify:

In the current status, we only need the executor and the module instance on the top frame.
For the module instance, host function can access to the other memory instances and exported functions.

[2022-08-19 11:47] Chinwendu20 commented on #1745
Hi, I would like to work on the project. Can I get an issue to prove myself as well?

[2022-08-19 11:55] abc767234318 opened #1759 "On Windows, the enum.inc file could not be found."
## Description

### Current State
[code]
When I compiled the above source code, the following error occurred.
[code]

## Environment
- Hardware Architecture: x86
- Operating system: windows11

[2022-08-19 14:08] #1378 closed

[2022-08-19 14:08] #996 closed

[2022-08-19 14:08] #1744 closed

[2022-08-19 14:21] paravoid commented on #1678
Thank you for working on this! I still see some unrelated symbols being exported, this time from the std:: namespace, as well as from the llvm:: namespace :(

Instead of playing whack-a-mole with `--exclude-libs`, what do you think about using a version script. For example, I had success with this (while reverting #1756):
[code]

Neither versions scripts nor CMake are my expertise, so take that al

[2022-08-19 14:24] paravoid commented on #1678
Oh and something else: the `std::` symbols will remain in `nm`'s output as undefined, i.e. to be dynamically resolved. I think there is a question to be asked on whether you want downstream users to also link with libstdc++. This may be especially undesired given this is a C ABI library that may be used by C program. At least g++ has a `-static-libstdc++`, which may be desired here, but I didn't e

[2022-08-19 14:32] paravoid commented on #1677
Thank you for considering this, appreciated!

I think that all makes sense. Bumping the SONAME on breaking changes would address the use cases I'm talking about before.

I'm only a little confused by seeing the SONAME being "libwasmedge.so.0.0". Typically you would see a singular number in the SONAME (e.g. "libwasmedge.so.0"), and the filename being the full version string (`libwasmedge.so.0.11.0`

[2022-08-19 15:29] ritamgit-alt commented on #1535
Hi, I wanna try to implement the dns module, so would it be ok to write js?

[2022-08-20 06:38] hydai commented on #1759
Hi @abc767234318
Thanks for reporting this. We are going to fix it in the next release.

[2022-08-20 06:41] #1759 closed

[2022-08-20 15:33] wudenggang opened #1762 "[Docs] `hello.wasm` output is not the same as the docs describes"
## Description
文档错误，hello.wasm输出不一致。
https://github.com/WasmEdge/WasmEdge/blob/master/examples/wasm/README.md

### Current State
![文档错误](https://user-images.githubusercontent.com/3587832/185754702-24c43d7a-9f1d-4067-a205-26e29ef6b442.png)

显示输出和实际输出不一致：
### Expected
![文档错误2](https://user-images.githubusercontent.com/3587832/185754717-372cee05-ccdb-465e-b1ed-307a08f7a238.png)

[2022-08-20 18:19] zeel-pathak commented on #1741
Hey @q82419, I would love to work on this issue under LFX mentorship.

And already working on #1751, Would love to be working with WasmEdge and the community.

[2022-08-21 14:59] q82419 commented on #1762
It should be `hello` but not `hello.wasm`.
Do you want to create a PR to contribute this?
Thanks.

[2022-08-21 15:04] #1659 closed

[2022-08-21 15:47] #1626 closed

[2022-08-21 15:47] #1681 closed

[2022-08-22 03:20] alabulei1 opened #1763 "[CI] Add CI tests for httpreq plugin"
## Motivation

CI test is essential for software. So we need to add CI tests for httpreq plugin

## Appendix

example: https://github.com/WasmEdge/WasmEdge/blob/master/.github/workflows/build-extensions.yml

[2022-08-22 15:06] #1762 closed

[2022-08-22 15:25] q82419 opened #1768 "[Plugin] Add the `wasmedge_` prefix of the `httpsreq` functions."
## Description

### Current State

The plugin name in descripter is `https_req`.
The module descriptor is `https_req`.
The module name of module instance is `httpsreq`.

### Expected

Please refer to the `wasmedge_process`.
Rename the plugin name in descripter into `wasmedge_httpsreq`.
Rename the module descriptor into `wasmedge_httpsreq`.
Rename the module name of module instance into `wasmedge_h

[2022-08-22 15:28] q82419 commented on #1768
@2019zhou  Can you help this?

[2022-08-22 15:41] 2019zhou commented on #1768
OK

[2022-08-23 01:16] 2019zhou commented on #1652
I follow the official docs for Dapr. https://docs.dapr.io/getting-started/get-started-api/#step-2-save-state
And The data can be successfully posted in http://localhost:3500/v1.0/state/statestore by the following code.
[code]

[2022-08-23 02:04] chairwa opened #1772 "Need wasmedge c api sample: use image data as parameter to call wasm function"
This is c api:
https://wasmedge.org/book/en/embed/c/ref.html

I didnot see such a c api sample as the following js sample which use image ByteArray as parameter:
https://github.com/second-state/wasm-learning/tree/master/faas/tflite_ssd

or take the following as example:
https://github.com/second-state/wasm-learning/blob/master/android/test.c
In that example, birds_v1.wasm is built from main.rs and

[2022-08-23 05:59] q82419 commented on #1772
Hi,

This is done by the nodejs addon.
For the pure WASM, only scalar types (int32, int64, float32, float64, v128) accepted for function parameters and returns.
The WASM file you mentioned in the example is generated by the wasm-bindgen so that can support the ByteArray passing.
To handle the wasm-bindgen generated WASM, please refer to the [napi](https://github.com/second-state/ssvm-napi).

[2022-08-23 06:04] #1748 closed

[2022-08-23 08:08] wudenggang opened #1774 "docs typo fix"
## Description
typo fix
followign→following
versiong→versioning
WasmEdge/docs/book/en/src/embed/rust.md

[2022-08-23 08:33] #1774 closed

[2022-08-23 08:39] dannypsnl commented on #1536
To ensure our development range, let's fixed the tool and specification version

- Tool that coverts `.wat` to `.wasm`: `wasm-tools` [6c127a](https://github.com/bytecodealliance/wasm-tools/tree/6c127a6b2913c6be410372bd48c6710022f0c1e4)
- Specification [b9be93](https://github.com/WebAssembly/component-model/tree/b9be93e6311873ba8234e073203c9e27f2412c71)

[2022-08-23 11:06] EmisonLu opened #1776 "Pooling instance allocation strategy"
Currently, the instance allocation strategy is that resources related to a module instance are allocated at instantiation time. When the instance is dropped, the resources will be deallocated.

Is it possible to provide an alternative mechanism in which a pool of resources is created in advance and module instantiation reuses resources from the pool? Resources are returned to the pool when the rel

[2022-08-23 13:41] abc767234318 opened #1777 "On Windows, an error occurred when i embedded wasm in my rust app"
## Description

An error occurred when I embedded wasm in my rust application.
<img width="655" alt="Snipaste_2022-08-23_21-41-12" src="https://user-images.githubusercontent.com/51507451/186173526-944fbd1f-49c0-4691-865e-e603875111c8.png">

- Hardware Architecture: x86
- Operating system: windows

[2022-08-23 14:56] wudenggang opened #1779 "wasmedge can't recognize argument in GBK encoding correctly"
## Environment
- Hardware Architecture:  x86\64
- Operating system: window10
- cmd test hello.wasm，with Chinese word argument，but panic。
![hello](https://user-images.githubusercontent.com/3587832/186190645-c7a6d886-21e8-4f38-88b6-cb728574039d.png)

[2022-08-23 15:20] hydai commented on #1777
Hi @apepkuss
Could you help with this issue?

[2022-08-23 21:52] hydai commented on #1677
Ah, it must be a typo.

We will have the following structure:

[code]

The SONAME will be `libwasmedge.so.0`.
The SOVERSION will be `libwasmedge.so.0.0.0`.

PR: #1783

[2022-08-23 23:15] #1622 closed

[2022-08-24 00:44] q82419 commented on #1699
Update:

The bus error occurs in `O1` or above optimization levels in AOT.

Test [WASM](https://github.com/second-state/WasmEdge-unittest/raw/master/core/const/const.178.wasm) :
[code]

Test AOT compiler use the WasmEdge C API:

[code]

Compile: (Install WasmEdge library first)
[code]

Execute AOT compiler:
[code]

Use the wasmedge tool to execute:
[code]

[2022-08-24 02:11] abc767234318 commented on #1777
I'll give it later. I don't have my computer with me right now.

[2022-08-24 05:30] hydai commented on #1763
Hi @2019zhou
I found some issues that I didn't identify in the previous review:

1. All of the pointers should be checked whether it's nullptr or not before use: https://github.com/WasmEdge/WasmEdge/blob/master/plugins/httpsreq/httpsreqfunc.cpp#L32
2. You should return the `error code` in the return value instead of using `exit`. Because the `exit` will terminate the whole program, it will make th

[2022-08-24 05:34] hydai opened #1788 "[Plugin] Refine some implementations in the httpsreq module"
Hi @2019zhou
I found some issues that I didn't identify in the previous review:

1. All of the pointers should be checked whether it's nullptr or not before use: https://github.com/WasmEdge/WasmEdge/blob/master/plugins/httpsreq/httpsreqfunc.cpp#L32
2. You should return the `error code` in the return value instead of using `exit`. Because the `exit` will terminate the whole program, it will make th

[2022-08-24 05:43] 2019zhou commented on #1763
OK

[2022-08-24 08:37] hydai commented on #1677
Checklist:
- [ ] Update the WasmEdge handler in `crun` after the 0.11.0 release.
- [ ] Update the WasmEdge-go
- [ ] Update the WasmEdge-sys, maybe WasmEdge-sdk are also needed to update.
- [ ] Notify the maintainer of the installer to make sure there will be fine if the so name changed.

[2022-08-24 08:41] hydai commented on #1677
Hi @SAtacker
In the release of 0.11.0, we will make a breaking change for the C API library which is mentioned in this issue.
The `libwasmedge_c.so` is now called `libwasmedge.so` and it will be a symlink to `libwasmedge.so.0` which will be handled by the CMake, so you don't need to do symlink in the installer.
The `libwasmedge.so.0` will be a symlink to `libwasmedge.so.0.0.0`, which will also be

[2022-08-24 10:38] paravoid commented on #1677
Ah, perfect. That makes sense! Thank you!

Any thoughts on the second part of my message above? Sorry if I'm being insistent -- #1678 remains in a closed status (and I can't reopen) despite the leaked symbols, so trying to make sure we don't drop the ball here as progress is being made on ABI standardization! Thanks again!

[2022-08-24 10:53] hydai commented on #1677
Ah yes. However, we still need those symbols to make the plugin system work. So we would like to keep them currently until we figure out a new way to handle the plugin system. A new alternative plugin system is on the way. If the development is done and we decide to deprecate the current plugin design, then this will be fixed at that time.

[2022-08-24 10:56] q82419 commented on #1788
Please refine with #1768

[2022-08-24 11:03] hydai opened #1790 "[CI] Reduce the building time of OpenWrt"
## Motivation

The GitHub runners have only 20 slots. However, we found that the workflow of building WasmEdge on the OpenWrt will take almost two hours, which is totally insane. This occupies the most time in our whole workflow. The reason is that the workflow builds not only WasmEdge itself but also the whole OpenWrt. Since the base commit is exactly the same in each build, we should figure out

[2022-08-24 11:05] q82419 commented on #1788
4. For the logging such as https://github.com/WasmEdge/WasmEdge/blob/master/plugins/httpsreq/httpsreqfunc.cpp#L54 , please transfer to use `spdlog::error()`.
5. For the body string https://github.com/WasmEdge/WasmEdge/blob/master/plugins/httpsreq/httpsreqfunc.cpp#L110 , it seems like you never use the `Env.BodyStr`. It's not necessary to copy the buffer into std::string.

[2022-08-24 14:22] 2019zhou commented on #1788
ok

[2022-08-24 14:38] SAtacker commented on #1677
Alright, will let you know in a few minutes, thanks for notifying me.

[2022-08-24 14:50] wudenggang commented on #1779
Windows cmd default use local encoding method，for example GBK like me. But I don't known how to process it automatically.

[2022-08-24 15:22] hydai commented on #1677
FYR, I use the `cp -pv` to make sure the soft link is fully copied by the `cp` command. Hope this may help.

[2022-08-24 15:36] hydai commented on #1779
IIRC, the current implementation supports Unicode(UTF-8), just like the above screenshots. Currently, having no ideas for fixing this, because I am not familiar with GBK encoding.

[2022-08-24 15:41] SAtacker commented on #1677
I am using the new installer, almost ready. Should be alright in a few minutes.

[2022-08-25 04:49] spencergotowork commented on #1742
Thanks for your guidance, I finished it but haven't received a reply to my comments or emails yet. What should I do next? I'm not sure if my mentor has been changed.

[2022-08-25 04:49] spencergotowork commented on #1742
@alabulei1  Thanks for your guidance, I finished it but haven't received a reply to my comments or emails yet. What should I do next? I'm not sure if my mentor has been changed.

[2022-08-25 12:39] abc767234318 commented on #1777
Here is the version I used.
[code]

[2022-08-25 12:44] apepkuss commented on #1777
What about `libwasmedge_c.so` (for Linux) or `libwasmedge_c.dylib` (for MacOS)? The issue you mentioned should be caused by it.

[2022-08-25 17:51] CaptainVincent commented on #1526
Reorganize issue info [here](https://github.com/second-state/filecoin-wasmedge/issues/1).
And move some info as guideline put into [wiki](https://github.com/second-state/filecoin-wasmedge/wiki) page.

[2022-08-29 11:51] hydai opened #1805 "[Rust] Potential memory leak issue"
## Description

Users report this issue.
The reproduced repo: https://github.com/wujunzhuo/wasm-test

Related problematic codes:

[code]

### Current State

The same handler function written in C(via clang + wasi-libc) and Golang(via tinaygo) works without any issue. However, the memory will increase by 16KB every time when calling the handler function several times when using the wasm compiled fr

[2022-08-30 08:33] hydai opened #1811 "Bump OpenSSL from 1.1.1 to 3"
## Motivation

OpenSSL 3 released at 2021-09-07. Since most of the modern operating systems are bumping to the new version, it's time to upgrade our OpenSSL dependencies from 1.1.1 to 3.

According to the announcement from OpenSSL,
Version 3.0 will be supported until 2026-09-07 (LTS).
Version 1.1.1 will be supported until 2023-09-11 (LTS).

It still has some time for us to upgrade until the 1.1.1

[2022-08-30 08:38] hydai commented on #1646
I cannot reproduce this. And I already created several new docker images on `wasmedge/example-wasi` and `wasmedge/example-wasi-http`. So I am closing this. If you have any new updates, please feel free to open them again.

[2022-08-30 08:38] #1646 closed

[2022-08-31 15:16] EmisonLu opened #1813 "[Rust] Deadlocks will occur in some cases"
Under multi-threading, the global variable [`HOST_FUNCS`](https://github.com/WasmEdge/WasmEdge/blob/master/bindings/rust/wasmedge-sys/src/lib.rs#L231) (of type `Arc<RwLock<HashMap<usize, BoxedFn>>`) may deadlock in some cases.

For example, creating a host function in a host function causes a situation where the write operation is performed while there is a read lock held.

But what needs to be co

[2022-09-01 05:40] wujunzhuo commented on #1805
Update more details on 2022.9.1

I simplified my rust code to only one guest function:

*src/lib.rs*
[code]
compile with `cargo build --release --target wasm32-wasi` (cargo 1.63.0)

Then I use the wasmedge-go sdk as runtime to call the `hello` function periodically:

*main.go*
[code]

The following shell script shows that the memory usage keeps increasing:

*show_mem.sh*
[code]

[code]

However, i

[2022-09-01 07:39] #1763 closed

[2022-09-01 07:39] #1768 closed

[2022-09-01 07:39] #1788 closed

[2022-09-01 07:47] hydai commented on #1715
Since the 0.11.0 is out, should we close this?

[2022-09-01 07:57] hydai commented on #1678
Reopen it so we can continue tracking this issue.
The goal of this one is to make sure the `libwasmedge.so` exports the symbols with the `wasmedge_` prefix.

Due to the current design, some of the symbols are still exported for the plugin system. We should revise the related design to improve this one.

[2022-09-01 07:58] hydai commented on #1677
Hi @paravoid
Thanks for your assistance. The 0.11.0 is out, and the SONAME is shipped.
To track the non-WasmEdge symbol exported issue, I reopen that one, so we can have the right place to discuss the further details.

[2022-09-01 14:14] apepkuss commented on #1805
Hi @hydai @wujunzhuo ,

As a reference, I used Rust SDK to try the same test with `WasmEdge 0.11.0` + `wasmedge-sdk 0.4.0` on MacOS + M1Pro. The `hello.wasm` is same, and the main function is defined as below:

[code]

The following two diagrams are rendered based on the 610 records generated by `show_mem.sh` in a test running approx. 30 min. The first one is presenting the memory consumption by p

[2022-09-02 03:42] wujunzhuo commented on #1805
@apepkuss Thanks for your response~ 👏

So what is the conclusion? Shall we see it as a bug of cargo-wasi and report to https://github.com/rust-lang/cargo?

[2022-09-02 03:52] apepkuss commented on #1805
@wujunzhuo I'd like to run the same test code on Ubuntu 20.04 + x86_64 so that we can check if the same test could perform differently in memory consumption. I'll try to do it asap and provide the data here. After that, we could draw a final conclusion. Thanks!

[2022-09-02 07:31] apepkuss commented on #1805
@hydai @wujunzhuo

The following two diagrams show the memory consumption and RSS (in kb) on Ubuntu 20.04 (WSL2) + x86_64 with the exactly same test code as used on MacOS + M1Pro. Compared with the result on MacOS + M1Pro, the memory consumption on Ubuntu 20.04 + x86_64 reached the peak at the early stage, but did not fall down to a lower (and seems more reasonable) level.  It seems that some memo

[2022-09-02 09:32] q82419 opened #1815 "[Tools] Support the compiler optimization level in AOT tool"
## Motivation

By default, the AOT compiler will compile WASM in `O2` optimization level.
Actually, WasmEdge supports `O0` to `Oz` levels.
The AOT compiler tool should support assigning optimization levels.

## Details

Support assigning optimization level in command line argument, and set it into the compiler configuration.

[2022-09-02 09:33] #1715 closed

[2022-09-03 01:07] MediosZ commented on #1680
Hi @q82419, I am trying to add a example of using `wasi-crypto` in rust.
But I fail to import host function like this:
[code]
I build the wasmedge from source with enabling the wasi-crypto plugin.
How can I confirm if wasi-crypto plugin is loaded?

[2022-09-03 13:35] EmisonLu opened #1816 "[Rust] `CallingFrame` in wasmedge-sdk"
When I use the `CallingFrame` in `wasmedge-sdk`, for example with the method `module_instance()`, the return type is `wasmedge_sys::Instance`, rather than `wasmedge_sdk::Instance`. Such inconsistencies will undoubtedly cause problems and be detrimental to the use of the `wasmedge-sdk`.

@apepkuss Please take a look at this question, thank you very much!

[2022-09-03 15:21] EmisonLu opened #1818 "Bugs that may be caused by the AOT compiler"
I write the following two tests using WasmEdge rust sdk, one of which uses the AOT compiler and the other does not, otherwise there is no difference.

Here is the code:
[code]
Dependencies are as follows:
[code]

When I run `cargo test`, `test_without_compiler` passes, but `test_with_compiler` fails. The error message is as follows:
[code]

@hydai @apepkuss Please take a look at it, thank you very

[2022-09-03 17:03] xunfeng1980 opened #1820 "run rust binding demo error"
## Description

### Current State

/Users/lux/.cargo/bin/cargo build --color=always --message-format=json-diagnostic-rendered-ansi --bin wasmedge-demo --manifest-path /Users/lux/src/github.com/xunfeng1980/rust-study/crates/wasmedge-demo/Cargo.toml
   Compiling wasmedge-sys v0.9.0
error[E0425]: cannot find function, tuple struct or tuple variant `WasmEdge_CompilerCompileFromBuffer` in module `ffi`

[2022-09-04 00:35] MediosZ opened #1821 "Unable to build AOT on Ubuntu 20.04"
## Description
I try to build AOT on Ubuntu 20.04, with LLVM and LLD installed using apt.

### Current State
1. Cannot find LLDConfig.cmake, this can be solved by setting `LLD_DIR`
[code]
2. After setting `LLD_DIR`, some symbols of LLVM can not be found.
[code]

### Expected
Build WasmEdge from source without furthur modification.

## Environment

- Hardware Architecture: x86\_64
- Operating syste

[2022-09-04 09:22] apepkuss commented on #1816
@EmisonLu Thanks for the feedback. Yes, you're right, the `module_instance` method returns a module instance of `wasmedge_sys::Instance` type, as the `CallingFrame` instance you're using is `automatically` returned by `runtime` and passed as an argument to host functions in [wraper_fn](https://github.com/WasmEdge/WasmEdge/blob/master/bindings/rust/wasmedge-sys/src/instance/function.rs#L14-L69) fun

[2022-09-04 10:08] apepkuss commented on #1818
Hi @hydai

I reproduced the issue. The error message printed out by `runtime` is `[error] execution failed: out of bounds memory access, Code: 0x88`. According to the investigation, the error should be raised while `runtime` is manipulating the linear memory. Please help with the issue. Thanks!

@EmisonLu Could you please give an explanation on the wasm bytes? Is it intended to grow memory? Thanks

[2022-09-04 13:10] EmisonLu commented on #1816
When using `wasmedge-sdk`, should a high-level `Instance`, `Memory`, etc. be returned when performing operations on the `CallingFrame` in the host function? Is it possible to make a high-level wrapper around `CallingFrame` and its methods in `wasmedge-sdk`? Thanks a lot!

[2022-09-04 13:21] EmisonLu commented on #1818
That's right! It is intended to grow memory. The sense of main part is `assert(memory.grow returns != -1)`.

[2022-09-04 13:57] hydai commented on #1821
Hi @MediosZ
Could you please provide your instructions to install the dependencies?

I cannot reproduce your issue with a clean `ubuntu:20.04 docker image`. The commands are from this guide: https://wasmedge.org/book/en/extend/build.html#install-dependencies-on-ubuntu-2004-manually

Also, the CI is using ubuntu:20.04 as the base image: https://github.com/WasmEdge/WasmEdge/runs/8130009468?check_sui

[2022-09-04 13:59] hydai commented on #1820
Hi @xunfeng1980

According to your error msg `error[E0425]: cannot find function, tuple struct or tuple variant WasmEdge_CompilerCompileFromBuffer in module ffi`, it looks like your wasmedge library version is not updated to the latest one. This API is added in the 0.11.0 release. Please check that you have updated the wasmedge version. Thanks.

[2022-09-04 14:02] hydai commented on #1818
Hi @EmisonLu and @apepkuss
Could you please provide the environment and the instructions you used to build and execute?

[2022-09-04 14:32] xunfeng1980 commented on #1820
thx,it work.

[2022-09-04 14:32] #1820 closed

[2022-09-04 14:33] MediosZ commented on #1821
Yeah, I know that, I just install llvm-12-dev and liblld-12-dev following the doc.
Don't know what happens...

[2022-09-04 14:52] MediosZ commented on #1821
Looks like it's not the common case, I will turn to use docker for development.

[2022-09-04 14:52] #1821 closed

[2022-09-05 03:01] apepkuss commented on #1818
Hi @hydai,

You can find the test code [here](https://github.com/apepkuss/WasmEdge/blob/rust%2Ffix-issue-1818/bindings/rust/wasmedge-sdk/src/compiler.rs#L76-L131). You can use the command `cargo test -p wasmedge-sdk test_compiler -- --nocapture` in the `bindings/rust` directory to run the test code. The version of runtime using in this test is `0.11.0`, while `wasmedge-sdk` and `wasmedge-sys` are

[2022-09-05 15:48] hydai commented on #1818
Hold on, @apepkuss
Do you mean that this test is inside our current rust SDK? If so, does it mean that this test is already executed in the CI workflow?

[2022-09-05 16:25] apepkuss commented on #1818
The test code is not part of WasmEdge master branch. It is only on a branch of my forked repo. Sorry for the confusion.

[2022-09-06 15:30] hydai commented on #1677
Since this feature is shipped in 0.11.0, I am closing this. Thanks!

[2022-09-06 15:30] #1677 closed

[2022-09-07 07:57] dannypsnl opened #1827 "[Internal] New file manager pattern"
## Motivation

Traditionally, the module is the top-level form of WASM. In the component model, it isn't, however. Our previous implementation will try to read all data via an infinite loop, based on the old assumption, so we will need new machinery to tell the loader to stop.

## Details

The ideal way is that a file manager with a range, each manager for certain purpose. This will also remove `l

[2022-09-07 14:11] #1816 closed

[2022-09-08 05:06] EmisonLu opened #1830 "[Rust] Pass a pointer to the host func"
[`WasmEdge_FunctionInstanceCreateBinding`](https://github.com/WasmEdge/WasmEdge/blob/master/include/api/wasmedge/wasmedge.h#L2245-L2249) has a parameter named data, which is the additional object, such as the pointer to a data structure, to set to this host function context. Should this also be supported in the rust sdk?

@apepkuss Please take a look! Many thanks!

[2022-09-08 05:15] apepkuss commented on #1830
@EmisonLu Thanks for the feedback. I'll fix the issue asap. Thanks!

[2022-09-09 00:28] elliott-wen opened #1831 "AOT codegen type mismatch"
Hi,  LLC reports about a type mismatch issue in the following statement.

https://github.com/WasmEdge/WasmEdge/blob/47f534c64a4648c52ea34418a0751975223a8bff/lib/aot/compiler.cpp#L326

[code]
I reckon a more appropriate statement would be

[code]

The intrinsic table has a type of [i8* x N], and the pointer to the table would be [i8* x N]\*. Therefore the globalVariable should have the type of [i8*

[2022-09-09 08:33] AdwitiyaMishra commented on #611
Hi @juntao , is the issue still available. I would like to work on it.

[2022-09-09 17:19] juntao commented on #611
Hi @AdwitiyaMishra

Thank you very much for your interest. We are experimenting with multiple approaches in the Rust SDK and have not settled on one. You can check out them and see how they can be applied on the Go side.

The asyncify approach: https://github.com/second-state/wasmedge_asyncify

The fiber approach: https://github.com/MediosZ/WasmEdge/blob/async_demo/bindings/rust/wasmedge-sdk/examp

[2022-09-09 20:11] Sush-Dew commented on #1790
@hydai Could you assign this issue to me? I am a beginner and this issue seems a good first issue to resolve.

[2022-09-09 20:11] Sush-Dew commented on #1671
@alabulei1 Could you assign this issue to me? I am a beginner and this issue seems a good first issue to resolve.

[2022-09-10 03:41] Puellaquae opened #1834 "LFX Workspace: Node API support for WasmEdge QuickJS"
# Motivation
The [WasmEdge QuickJS runtime](https://wasmedge.org/book/en/dev/js.html) is a secure, fast, and lightweight JavaScript runtime for cloud-native applications. Compared with more established JavaScript runtimes like Nodejs and Deno, the WasmEdge QuickJS runtime provides runtime isolation and security at a very low overhead.

In order for WasmEdge QuickJS to be more widely adopted, it ne

[2022-09-10 04:31] juntao commented on #1834
Great. Thanks. There are few things to note:

1 You can use the Rust crate for `wasi-crypto` to implement the crypto package.

2 Please make sure that all networking APIs (eg `net` and `http`) are non blocking and async.

3 I do not think we have a low level Rust TLS / https library yet. But you can try the [wasmedge_http_req](https://github.com/second-state/wasmedge_http_req) crate to support htt

[2022-09-12 05:43] omkar-mohanty opened #1836 "LFX Workspace: OpenCV SDKs for Wasm"
# Motivation
WasmEdge is a leading WebAssembly runtime for AI inference. It supports AI frameworks such as Tensorflow, OpenVINO and PyTorch. A compelling use case is computer vision applications on the edge.

Computer vision applications need to pre-process images and videos into tensor formats before applying the AI model. They then often need to overlay the tensor results onto the original image

[2022-09-12 10:14] jcuffe commented on #1646
Experiencing this same issue.

Reproduction:
1. Follow all steps, exactly, to install buildah and create image here: https://github.com/second-state/wasmedge-containers-examples/blob/main/http_server_wasi_app.md
2. Modify the `container_http_server.json` file found on this page: https://wasmedge.org/book/en/kubernetes/cri/crio.html#run-a-http-server-app
3. Create a pod and container:
[code]
4. Sta

[2022-09-12 10:19] hydai commented on #1646
Hi @jcuffe
Could you please provide the version of `crictl`, `crun`, and `wasmedge`?
Also, please provide the log from `crtctl info`.

[2022-09-12 10:29] jcuffe commented on #1646
Thanks for the quick response @hydai!

I recently reinstalled wasmedge, so I recompiled crun to see if that could have caused the issue. I have not yet recompiled cri-o

[code]

[2022-09-12 10:39] hydai commented on #1646
Thanks for the information.
I would like to know the steps you used to produce the `localhost/http_server:latest` image.

Since like the version should be fine.
You can check the version details here: https://github.com/second-state/wasmedge-containers-examples/runs/8303277709?check_suite_focus=true#step:7:6

[2022-09-12 10:46] jcuffe commented on #1646
Buildah commands I've tried:
[code]

[2022-09-12 10:52] hydai commented on #1646
Just want to double-check that everything is the same:

[code]

[2022-09-12 11:00] jcuffe commented on #1646
Yes, that is all correct. The only step I have invented myself was to change the `container_http_server.json` contents from the quick start, as the "from-scratch" Dockerfile seems to expect no arguments or commands.

[2022-09-12 11:02] hydai commented on #1646
The `args` part should be kept.
https://github.com/second-state/wasmedge-containers-examples/blob/main/crio/http_server/container_http_server.json#L8-L10

[2022-09-12 11:10] jcuffe commented on #1646
It works! Thank you for your patience! My fault was in assuming that the `args` and `annotations` properties of the JSON file were no longer needed if they were "baked in" to the image.

I have exhausted my curiosity for the day, but I am very excited to move forward and build an image for React streaming SSR.

Thank you again for your time.

[2022-09-12 11:12] hydai commented on #1646
Awesome! Thanks for your update.

[2022-09-12 13:15] juntao commented on #1836
Thank you.

I think you will need to create the JavaScript wrapper API for QuickJS first before you can write the JavaScript examples.

I would also like to know a more detailed task breakdowns for the first item (compiling the rust wrapper). What specifically do you need to fix to compile it to wasm32-wasi? Can we contribute the fixes upstream? Thanks!

[2022-09-12 22:27] #1831 closed

[2022-09-12 22:27] hydai commented on #1831
Hi @elliott-wen
Thanks for reporting this. It should be fixed in #1839

[2022-09-13 21:14] rektide commented on #1430
why is this true?

[2022-09-13 21:54] juntao commented on #1430
@rektide I would love to see Ring get compiled into wASM. But the issue have been under discussion for 3 years. Do you have insights in its latest development? Thanks!

[2022-09-14 04:30] omkar-mohanty commented on #1836
Hi @juntao ,
I fixed the first one, I slightly overlooked the order of tasks.

About the first item I found out that the rust wrapper crate compiles when I set  `--target=wasm32-unknown-emscripten` but `clang` errors occour when I set `--target=wasm32-wasi`.
[code]
I am still researching what exactly went wrong.

[2022-09-14 10:22] spencergotowork opened #1840 "LFX Workspace: Porting OpenVINO on multiple platforms for the WASI-NN proposal in WasmEdge"
## Motivation

The OpenVINO official release supports various platforms. WasmEdge supports the WASI-NN proposal with OpenVINO backend now, but only in Ubuntu 20.04. In this project, we want to porting and integrating the OpenVINO installation for the multiple platforms such as MacOS, Windows, or manylinux with the WasmEdge WASI-NN plugin.

## Schedule

- [x] Survey and test the installation guide

[2022-09-14 18:19] OmkarAcharekar opened #1841 "LFX Workspace: Support serialize and deserialize in WasmEdge"
# Motivation
WasmEdge can load the WASM binary and instantiate it into WASM module instances for execution. In a use case, we need to serialize the loaded WASM data structure back into the encoded WASM binary or deserialize the serialized one into the WASM data structure in WasmEdge. With the serializing mechanism, WasmEdge can control the WASM binary wisely such as caching or snapshotting.

# Mil

[2022-09-15 08:42] hydai opened #1842 "[Installer] Propose the plugin manifest"
## Motivation

In the current design, we already provide several pre-built plugins in the release assets. However, there is not a clear way for users to install them easier. Take `WASI-NN` as an example, users need to download the plugin and copy the file into `$HOME/.wasmedge/plugin` by themselves. To simplify the situation, we should provide a clear way for users to identify the plugins' version

[2022-09-15 08:50] hydai commented on #1841
Please break down the serialized functions to every component, say the Module contains lots of sub-components, it should have a detailed list to ensure everything is on the list. Also, your plan doesn't include any `unit test` or `integration test`, please add them into the milstones.

[2022-09-15 09:08] hydai commented on #1840
Our tier-one target is `manylinux2014` because this is based on CentOS 7. Please prioritize the workload to make sure this platform is 100% supported first.

[2022-09-15 16:19] 2019zhou commented on #1652
With [L-jasmine‘s pull request](https://github.com/second-state/wasmedge_http_req/pull/8) @L-jasmine,  data is now successfully posted.

[2022-09-16 14:55] SAtacker commented on #1842
The current installation script handles this.

That is very structured. Can we have a script that generates this manifest for every release? This will make it easier to write the parser for this. In fact we can have a script under `utils` directory for this purpose. And it will have both output and parsing for itself. FWIW we can have a separate directory to test the individual functions of both t

[2022-09-16 14:57] SAtacker commented on #1842
Since even python 2 supports json import we don't have to write a complicated one. But we still need tests to ensure that there are no mistakes based on Specs that we decide.

[2022-09-17 22:34] jcuffe opened #1844 "KinD quickstart documentation may be out of date"
## Description

When following the steps from the WasmEdge book [here](https://wasmedge.org/book/en/kubernetes/kubernetes/kind.html#quick-start), the container image fails to start with an "Exec format error." Following similar steps from the [Liquid-Reply quickstart](https://github.com/Liquid-Reply/kind-crun-wasm#quickstart) results in success (even while using the older `v1.23.0` image tag)

###

[2022-09-19 01:57] jcuffe opened #1845 ""Exec format error" when using custom KinD image to create pods"
## Description

I would like to run a WasmEdge HTTP server in Kubernetes. After following the quickstart instructions, I encountered the following OS 28 error when creating a pod in KinD: https://github.com/second-state/wasmedge_wasi_socket/issues/66

Previous experience led me to believe this was due to an old version of WasmEdge, so I followed the KinD quickstart instructions to create a custom

[2022-09-19 02:09] juntao commented on #1845
@0xE282B0 Could you look into this when you have a chance? Much appreciated!

[2022-09-19 03:11] hydai commented on #1845
Hi @jcuffe
Since you are using the latest crun with the newest release of WasmEdge, you need to copy the more shared libraries to your new image:

[code]

[2022-09-19 03:34] jcuffe commented on #1845
After following the steps above, I saw this error during the ldconfig step of the image build:
[code]

Examining my local files, the file does appear to be a link:
[code]

@juntao has suggested in the issue linked in my OP that I use the CRI-O or containerd Github workflows to keep up to date, so I will give that another try.

@hydai Do you have any tips for setting up this environment locally in

[2022-09-19 05:45] hydai commented on #1845
I used a container env to do the development. Also, we have used github workflows to make sure the code works. Just like https://github.com/second-state/wasmedge-containers-examples

Since this is in active development, it will need more attention to up to date. Say the SONAME (libwasmedge.so.0.0.0) is for avoiding the out of date configurations, once the version mismatched, the crun will report `

[2022-09-19 06:44] jcuffe commented on #1845
Thank you for the references! It's exciting to see how far this project has come and the work you're doing to integrate with the crun upstream. I will close this issue since I see the creator of the kind image is aware of the need to update.

[2022-09-19 06:44] #1845 closed

[2022-09-19 13:12] #1372 closed

[2022-09-19 16:19] #1830 closed

[2022-09-20 08:21] apepkuss opened #1853 "Validation Error"
Hi @hydai @q82419,

I ran into a validation failure when I was trying to call an async wasm function from a wasm file. The detailed steps are described below. Could you please help check it? Thanks a lot!

## Create and build `test.wasm`

I created a wasm library with the following three functions and used `cargo build --target wasm32-wasi --release` command to generate `test.wasm`:

[code]

The d

[2022-09-20 14:23] q82419 commented on #1853
Before instantiate, please validate the module by validator.

[2022-09-20 15:34] apepkuss commented on #1853
Yes, you're right. The error disappears while doing validation with a validator instance. But a new issue appears, please help with it. I refactored the example code above, and it looks like below now:

[code]

The code failed in the last assertion. The length of the actual returns is 0, but not 1. Does `WasmEdge_VMAsyncExecuteRegistered` interface support async wasm functions? If I was wrong in t

[2022-09-20 16:01] apepkuss commented on #1853
I'll also post the same issue to the Rust toolchain community so that we can hear the voice about the issue from the outside.

[2022-09-21 05:13] ibmibmibm commented on #1811
Fixed in #1824

[2022-09-21 05:13] #1811 closed

[2022-09-21 18:50] Jeffwan opened #1857 "Can not run javascript example on wasmedge successfully"
## Description

I follow guidance here https://wasmedge.org/book/en/dev/js/quickstart.html
1. download `wasmedge_quickjs.wasm`
2. create a js file `hello.js`

However, following command didn't work.

[code]

I tried to build wasmedge-quickjs by myself and it works fine. I feel the folder context is probably the magic here?

### Current State
example doesn't work and build from scratch works

### E

[2022-09-21 19:14] juntao commented on #1857
As we mentioned in the docs, you will need the `modules` folder from the GitHub repo in your current directory. It contains the JS files to support the nodejs API. Thanks.

[2022-09-21 20:48] Jeffwan commented on #1857
@juntao Thanks Michael. It works! Seems docs is a little bit unclear. People may feel copy & paste would work. Looks like we have to download the entire project which includes `modules`

[2022-09-21 20:48] #1857 closed

[2022-09-22 03:46] juntao commented on #1565
Done.

[2022-09-22 03:46] #1565 closed

[2022-09-22 15:05] q82419 opened #1861 "Release process for WasmEdge 0.11.1"
### Features

- [x] WASI-NN PyTorch backend
   - #1654
   - #1770
- [x] Plug-in C API
   - #1795
- [x] Support v128 value output in CLI tools
   - #1704
   - #1791
- [x] Support optimization level assignment in wasmedgec
  - #1819
  - #1815
- [x] Support LLVM 15
   - #1859

### Issues

- [x] #1854

### Documents
- [x] Refactor the WasmEdge Book
   - #1837

### Builds

- [x] Upload the Darwin M1 bu

[2022-09-22 15:26] q82419 opened #1862 "WASI-NN PyTorch Backend supporting in manylinux2014"
## Description

### Current State

In current status, the `ubuntu 20.04` version of WasmEdge WASI-NN pytorch plugin should use `libtorch-cxx11-abi`, or the test would link failed.
But the `manylinux2014` version should use the `libtorch-pre-cxx11-abi`, because the `cxx11-abi` version uses `GLIBCXX`.

### Expected

Link the `libtorch-pre-cxx11-abi` successfully on `ubuntu 20.04`, or compile the `cx

[2022-09-23 07:18] q82419 commented on #1841
For the sections I think you can skip currently:
* AOTSection
For the sections you can skip or just copy the buffer back when serializing:
* CustomSection
Be ware that when serialzing, the section order should not be changed (compare with the original WASM).

[2022-09-23 07:50] alabulei1 opened #1865 "[docs] Add examples for writing WasmEdge App in C++"
## Motivation

We already have examples to demonstrate how to write wasmedge apps in C++ for a long time. We should also add this example to the WasmEdge book.

## Appendix

https://github.com/WasmEdge/WasmEdge/tree/master/examples/embed_cxx

[2022-09-23 10:06] #1704 closed

[2022-09-23 13:17] #1815 closed

[2022-09-25 00:31] paravoid opened #1869 "Shipping binary precompiled WASM files is problematic for downstreams"
## Motivation

I'm a Debian Developer and interested in packaging WasmEdge and including it in Debian. (Also [see Debian bug #1003128](https://bugs.debian.org/1003128)). I already have (mostly) working packages.

Debian has strict rules for what can be included in its "main" archive. Among those, is, to put it simply that that every source package must always include the source for every file it s

[2022-09-25 01:23] juntao commented on #1869
Thank you @paravoid

This is very helpful and we would love to be part of Debian!

It is possible for our CI to generate and publish a special tarball for Debian without these examples?

One of the reasons we included them in the GitHub source tree is to make it easier for beginners. They can just git clone and start running those examples.

[2022-09-25 19:45] paravoid commented on #1869
You're welcome! Right now the real blocker is the symbol situation -- the new SONAME helps a lot, but I have an outstanding question on issue 1678, with regards to a version script :)

I think if you'd like to go that way, I wouldn't ask you to build that kind of infrastructure -- I could repack the tarball on the Debian end instead.

Hoewver with regards to examples for beginners (of which I am o

[2022-09-25 20:57] jaykchen commented on #1857
I made it run by removing all 3 occurrences of "__dirname" in main.js, assuming the files needed have all been saved in current directory.

the original code as shown below:
TensorflowLiteSession(
    __dirname + '/lite-model_aiy_vision_classifier_food_V1_1.tflite');

[2022-09-26 10:14] bxb100 commented on #1779
How about using System properties, let the user set their input encoding

[2022-09-27 02:26] apepkuss opened #1872 "Instantiation failed: unknown import, Code: 0x62"
## Description

We designed a test case for verifying our async API design, in which we created a Rust project that would be built into a wasm file with the command `cargo build --target wasm32-wasi --release`. The following presents the `Cargo.toml` and `lib.rs` files.

[code]

We use the following code to run the export wasm function "hello":
[code]
The actual running result is shown below:

<im

[2022-09-27 02:31] apepkuss commented on #1872
For your convenience, the generated wasm file is attached here: [run_tokio_in_wasm.wasm.zip](https://github.com/WasmEdge/WasmEdge/files/9650958/run_tokio_in_wasm.wasm.zip)

[2022-09-27 04:24] hydai commented on #1872
Since you are using a function in WASI, do you enable WASI in your config?

[2022-09-27 04:45] apepkuss commented on #1872
Thanks for your reminder. I forgot to enable WASI. I'll try again.

[2022-09-27 04:49] #1813 closed

[2022-09-27 09:18] apepkuss commented on #1872
Hi @hydai,

I updated the example code and enabled WASI, but a new error is raised. Could you please help with it? Thanks!
[code]

[code]

[2022-09-27 14:13] Puellaquae commented on #1834
@juntao Support for the fs module has been completed. For the `chown` and `watch` functions, I haven't found the equivalent api in wasi. For the `chmod`, it has equivalent api(https://github.com/WebAssembly/wasi-filesystem/issues/33), but it's unpublished in preview1. So `chown`, `chmod` and `watch` is unsupported. I have used `wasi_ext` feature in rust, which is experimental. So it need nightly r

[2022-09-28 05:22] alabulei1 commented on #1671
@Sush-Dew  Apologies for my delayed response. Yes, this issue is a good starter for you to learn more about WasmEdge. Feel free to reach out me if you have any questions.

[2022-09-28 07:33] dannypsnl opened #1877 "Postpone Component Model implementation"
## Motivation

The status of component model turns out cannot be considered stable enough to follow, the concept is great, but implementors will need a more stable and concrete guide to make it works. Below are some thoughts and considerations about this proposal, we will postpone this proposal implementation for a while.

## Details

The vision of component model is multi-language interaction, so

[2022-09-28 08:57] yanganto opened #1878 "Dependency for rapidjson"
## Description
The current build flow is not using the existing `rapidjson`, and download a new one.  This is an issue when the user already installs `rapidjson` on Archlinux.  This is reported in Arch User Repository.

### Current State
Always download `rapidjson` and not use the existing one in the system.
https://github.com/WasmEdge/WasmEdge/blob/7d6eb6870fc73cd43bb76e6169806973b95a9574/test/sp

[2022-09-28 16:00] omkar-mohanty commented on #1836
After tinkering around the rust wrapper crate I successfully compiled to `wasm32-unknown-emscripten` but when compiling it to `wasm32-wasi` the clang compiler fails to do so and is not very clear where it went wrong.

[2022-09-28 16:49] juntao commented on #1836
Have you followed the examples of WasmEdge QuickJS? It was the same approach.

[2022-09-28 20:22] juntao commented on #1869
Thank you @paravoid

One of the reasons to ship pre-built Wasm files is for beginners to immediately start playing with WasmEdge w/o having to install a compiler first. It is to add "education value" to the GitHub repo. I think they are not necessary in a tarball release intended for a Linux distro. So, we can safely remove them in the tarball. Thanks!

For the longer term, we do plan to split the

[2022-09-29 05:04] abhinandanudupa commented on #1477
Hi @LFsWang !
There seems to be an issue in loading plugins on Windows and for this I need to set up a debug environment. I have tried to use MS Visual Studio code's debugger but I ran into issues. Can you please tell me how you set your debug environment and what tools do you use on windows to debug WasmEdge?

[2022-09-29 07:11] dm4 opened #1880 "Interaction of Modules: Module Linking"
## Motivation

As #1877 metioned, for better reuse wasm modules, we'd like to enhance WasmEdge to support more interactoins of modules. This issue brings some early ideas with some wasm examples with pseudo code, and some implementation details to support proposals like module linking or component model.

## Details

For example, here we have two wasm files: `add.wat` and `main.wat`:

[code]

[cod

[2022-09-29 16:15] omkar-mohanty commented on #1836
I tried compiling it the way it was in QuickJS but it didn't work as I mentioned above. After looking at the docs for [wasm32-wasi target](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_target/spec/wasm32_wasi/index.html), I figured that I need to compile with `-C target-feature=-crt-static`  and also provide the `-C linker` to clang binary in [wasi-sdk](https://github.com/WebAssembly/wasi-

[2022-09-29 16:16] juntao commented on #1836
What are the error messages? Can you write down how to re-produce your work so far? Thanks.

[2022-09-29 17:40] juntao commented on #1836
Can you provide the complete steps for re-producing the error? Start from how you get OpenCV source code and list your build environments (OS, CPU, Rust version etc). Thanks.

[2022-09-30 04:52] omkar-mohanty commented on #1836
## Specifications
OS : Kubuntu 22.04.1 LTS x86_64
CPU : Intel i7-1065G7 (8) @ 3.900GHz
Rust : 1.66.0-nightly
RAM : 16 GB
GPU : Nvdia MX 330 with Intel iris integrated
## Steps to reproduce the error
### 1. OpenCV
[code]
### 2. For verifying OpenCV
[code]
### 3. Wasi-sdk Installation
Needed for sysroot
[code]
### 4. Rust wrapper crate
[code]

[2022-09-30 05:18] juntao commented on #1836
@omkar-mohanty thank you.

As you can see from the commit below, the QuickJS project required a few changes to add `wasi` as a conditional platform for the compiler. I think that you need to do the same for this project. Thanks.

https://github.com/second-state/quickjs-wasi/commit/baecae488a972604f232cb68111ff0df80734ac0

[2022-09-30 06:58] dannypsnl commented on #1880
The potential of module instances is they are well-limited units, and hence a good context switching unit, to show this power the VM will need async call ability.

[2022-10-01 15:47] omkar-mohanty commented on #1836
I looked at the commit and did some further research and found that our compilation is related to this issue https://github.com/rust-lang/rust/issues/76679. I did some tinkering around the `wasm-ld` and did away from the aforementioned errors but now there are some linking errors from `wasm-ld`

[code]
The build is same as before.

[2022-10-02 13:29] morn-0 opened #1889 "android armv7 is supported or not"
## Description

### Current State
I would like to know if it is currently possible to compile and run on android armv7

### Expected

## Environment

- Hardware Architecture: armv7
- Operating system: Android

The following information is optional. Please provide them only if you have built from source.
- C++ Compiler version:
- CMake version:
- CMake flags: -DCMAKE_BUILD_TYPE=Release -DWASMEDGE_B

[2022-10-02 15:05] Tails commented on #1872
I was having the same issue, but it turns out println!() doesn't do anything by default, so there is no debugging output. Additionally, because of that, when a function is called that is unsupported, or something erroneously is unwrapped, the ```unreachable, Code: 0x89``` is issued, instead of printing a trace.

Try commenting out all code from the hello() on (step by step) to pinpoint where the e

[2022-10-02 16:48] juntao commented on #1889
Try this:

https://wasmedge.org/book/en/contribute/build_from_src/android.html

Thanks.

[2022-10-02 17:14] morn-0 commented on #1889
![image](https://user-images.githubusercontent.com/90960002/193467077-fc7d8e24-8928-455e-a876-9c4a9cd30f33.png)

![image](https://user-images.githubusercontent.com/90960002/193467035-8ca7d845-b048-41ce-b346-e5f73aa35acc.png)

[2022-10-02 17:20] juntao commented on #1889
Can you build it in Ubuntu with boost installed? I have not tried arch Linux and there might be dependency issues.

[2022-10-02 17:28] morn-0 commented on #1889
Ok I will try, so is it currently supported to compile to armv7-a android?

[2022-10-03 06:57] Tails commented on #563
@hydai Does the Rust SDK support BIndgen? The documentation seems to have only Go examples, and the Rust SDK has no structs mentioning 'bindgen'.

[2022-10-03 07:43] hydai commented on #563
Hi @apepkuss
Do we have any plan to support wasm-bindgen or wasmedge-bindgen in our rust SDK?

[2022-10-03 09:19] apepkuss commented on #563
@hydai In the aspect of Rust bindings, we don't have any plan for supporting `wasm-bindgen`. Our original idea was to support complex or custom types in Rust SDK after the WebAssembly Interface Types proposal was supported in runtime. But now I think we have to wait until the WebAssembly Component Model proposal is supported, right?

[2022-10-03 09:34] Tails commented on #563
So then our remaining options for now are:

1. write data to Memory and read from WASM (https://wasmedge.github.io/WasmEdge/src/wasmedge_sdk/externals/memory.rs.html#174)
2. write to disk and read from WASM using Wasi/```std::fs::read_to_string()```

Does the Rust SDK support configuring WASI to read from a context directory like the Go SDK does here?

[code]

[2022-10-03 09:42] dm4 opened #1892 "Component Model Use Cases Survey"
## Table of Contents

- Motivation
- How to Run Component File
    - Use wasmtime-cli
    - Use wasmtime crate
    - Conclusion
-   How Does fermyon/spin Use Component Model
    - spin component
    - Validate spin component by WasmEdge
    - Conclusion

## Motivation

As #1877 mentioned, we could simply use core wasm with some code to replace module linking expression. If we focus on core wasm ty

[2022-10-03 10:34] hydai commented on #1678
Hi @paravoid
Thanks for rechecking this. We found that the leaked symbols are generated using GCC with the open LTO option. That's why I don't figure it out when using Clang. And @ibmibmibm is opening a PR to fix it now.

[2022-10-03 10:36] apepkuss commented on #563
@Tails Sure! We have an example that uses the low-level APIs defined in `wasmedge-sys`. For your convenience, I created a new one that uses the APIs in `wasmedge-sdk`. I'll launch a PR for merging it into WasmEdge master branch. In case that you wanna use it asap, I copy/paste the example code below:

[code]

[2022-10-03 17:07] hydai commented on #1889
Hi @morn-0

Short answer: Nope. We don't guarantee that WasmEdge can be fully supported on armv7-a android.

We provide a CI workflow to build and test on the armv8 android only. It has been a long time since we tried to support the armv7-a android platform. Due to the lack of user numbers, we don't focus on this platform currently.

However, according to your log, looks like the boost is not inst

[2022-10-03 18:56] #1861 closed

[2022-10-03 19:11] q82419 opened #1896 "Release Process for WasmEdge 0.11.2"
**Planned alpha date: 2022/10/24**

**Planned release date: 2022/11/04**

### Features

- [x] WASI-NN TensorFlow-Lite backend
   - #1846
   - #1994
- [x] Force interpreter mode
   - #1631
   - #1905
- [x] Add the API to turn-off the logging
   - #1966
- [x] Add hint message when instantiation failed on imports
   - #1992

### Issues

- [x] Relative plug-in load path
   - #1917
   - #2031
- [x] #19

[2022-10-04 05:45] hydai commented on #1889
Hi @morn-0
Just for the following up:
If you are interested, we have an external contributor to submit the OHOS support, which should use the `armv7-a` arch.

https://github.com/WasmEdge/WasmEdge/blob/master/utils/ohos/build_for_ohos.sh

You may check this for more detailed.

[2022-10-04 05:52] alabulei1 commented on #953
@ilsubyeega Thanks for your report! Could you raise a new issue for tracking this issue? Thanks.

[2022-10-04 07:34] Tails commented on #1872
Turned out for me that I was doing a filesystem call that errored out because the Wasi module was not initialized. Had to initialize it like so:

[code]

[2022-10-04 08:26] ilsubyeega opened #1898 "wasmedge CLI - AOT Compiler does not work itself on pure windows, terminal."
## Description
Compiling
### Current State

As from `Steps to Reproduce`, i could not use aot compiler from wasmedge cli with pure terminal (launching via `start cmd`)
However, It was possible to use AOT compiler with `x64 Native Tools Command Prompt for VS 2022`. See https://github.com/WasmEdge/WasmEdge/issues/953#issuecomment-1049387972.
### Expected
It should be not throws the error, and builds

[2022-10-04 12:34] hydai commented on #1898
Hi @ilsubyeega
Thanks for raising this issue.
Seems like the VS Prompt added more LIBPATH. I would like to know what is the development environment on the Windows platform. For example, the PowerShell, the CMD, or the Command Prompt for VS? Because I am not a native user on such a platform, it will be helpful if you can give me a hint.

To test this issue, I think the CI workflow will also need to

[2022-10-04 14:25] morn-0 commented on #1889
[code]

[armv7-patch.txt](https://github.com/WasmEdge/WasmEdge/files/9707763/armv7-patch.txt)

This patch allowed me to compile armv7 correctly.
Well, I don't know much about c++, would you consider merging it into the main line if it doesn't affect it?

[2022-10-05 07:26] dm4 commented on #1892
## Add WasmEdge support to spin

The wasm file generated by [spin] is valid and executable by WasmEdge, but the runtime ([wasmtime]) code is generated by [wit-bindgen]. If we want to make the WasmEdge be a runtime option to spin, we may need to do the following things:

- Add WasmEdge support into wit-bindgen
	- In spin, the host runtime imports the handler function exported from wasm. We need to

[2022-10-05 09:40] hydai commented on #1889
We can have this in a PR, however, there is something that needs to be modified such as changing the `build_for_android.sh` should be compatible with both armv8 and armv7-a.

[2022-10-05 10:12] hydai commented on #1842
Since we are going to have a standalone plugin repository for recording the plugin packages, we would like to have a more structure schema to handle the situation.

In this proposal, we can make the installer can lookup the target platform manifest via a top-level manifest. And the detailed install script can be handled inside the manifest inside the plugin tarball.

Here is the new architecture o

[2022-10-05 11:25] morn-0 opened #1903 "How does host read the memory address of wasm"
## Description

### Current State

### Expected

## Environment

- Hardware Architecture: x86\_64
- Operating system: ArchLinux

## Steps to Reproduce
How does host read the memory address of wasm

I have processed the image data in wasm and at this moment I want to forward this data to host in order to finish the subsequent work

[2022-10-06 10:26] apepkuss commented on #1872
@hydai As @Tails mentioned above, could runtime support initializing the wasi module when the option `wasi` is enabled in the vm config? Thanks!

[2022-10-06 12:21] hydai commented on #1872
Hi @apepkuss and @Tails

These codes are needed:
[code]

The reason is that the wasi module will need users to explicitly grant the `args`, `envs`, and `preopens`. If we do anything for users, it may violate the rule of WASI. All of the permissions should be specified and granted by users.

When you set the `vm.config.wasi = true`, the wasi component is loaded and ready to execute. However, becaus

[2022-10-06 12:24] apepkuss commented on #1872
Thanks for the explanation. I'll put the relevant part into the doc comments that would be helpful for future users. Thanks again!

[2022-10-06 13:08] harry900831 opened #1909 "Test failed on Apple M1"
## Description
The test failed on Apple M1.

### Current State
The ctest failed on the following tests:
[code]
They should pass on [macOS 12(x86_64)](https://github.com/WasmEdge/WasmEdge/actions/runs/3191861325/jobs/5208678873#step:6:56) except for the `wasiSocketTests` which is already a known issue.

The first three failed at `TestUnit/CoreTest.TestSuites/80, where GetParam() = “core simd_f64x2_

[2022-10-06 14:31] omkar-mohanty commented on #1836
@juntao I've successfully compiled OpenCV to wasm32-wasi. Now to use OpenCV in wasmedge i need to generate wrappers for rust one way is to use bindgen tool but it doesn't fully support c++, second option is to try to use the rust wrapper crate's binding generator which wraps all c++ into C API.

[2022-10-06 16:39] juntao commented on #1836
Great. Can you provide the detailed instructions on how to compile OpenCV to WASI so that we can re-produce on our end?

For the Rust wrapper for C++, does this help? https://docs.rs/cxx/latest/cxx/

[2022-10-07 01:08] #1532 closed

[2022-10-07 01:11] MediosZ commented on #1402
For anyone who are interested, check out these two crates:
[mysql_wasi](https://crates.io/crates/mysql_wasi)
[mysql_async_wasi](https://crates.io/crates/mysql_async_wasi)

[2022-10-07 05:00] omkar-mohanty commented on #1836
@juntao I made a [shell script](https://github.com/omkar-mohanty/opencv-wasm/tree/main) which should compile OpenCV to WASI.

[2022-10-07 05:33] juntao commented on #1836
Ok. Thanks!

So you do not need to make any changes to the opencv source code for it to compile for wasi?

[2022-10-07 06:07] omkar-mohanty commented on #1836
Not really the errors I was getting from above messages were from compiling the rust wrapper crate. I wasted a lot of time trying to compile the wrapper crate to WASI only to discover that it does not support Wasm target https://github.com/twistedfall/opencv-rust/issues/124

[2022-10-07 07:26] #1678 closed

[2022-10-07 10:53] paravoid commented on #1896
I'd be thrilled if #1896 was also a part of 0.11.2 -- thanks for considering it!

[2022-10-07 12:29] TheZal commented on #1865
Can u please show me which file should i edit with the example? Even a link to an example should be ok! Then I can do it! :)

[2022-10-07 14:28] hydai commented on #1865
Hi @TheZal
We don't provide a public C++ header and library currently, however, you can embed WasmEdge C SDK into the C++ project.

Here is a reference document: https://wasmedge.org/book/en/sdk/c.html

However, if you want to build from source, you can refer to this example, which uses cmake to include and find self-built WasmEdge library: https://github.com/WasmEdge/WasmEdge/blob/master/examples

[2022-10-07 14:34] TheZal commented on #1865
Sorry but I didn't understand: for the update of the documentation I shoud add an md file in https://github.com/WasmEdge/WasmEdge/tree/master/docs/book/en/src/sdk/c with the example inside https://github.com/WasmEdge/WasmEdge/tree/master/examples/embed_cxx?

[2022-10-07 15:47] hydai commented on #1865
The new document for the C++ example should be put inside this folder: https://github.com/WasmEdge/WasmEdge/tree/master/docs/book/en/src/sdk

You can find that we have the following schema:
[code]

[2022-10-07 15:50] TheZal commented on #1865
Perfect, gonna work on that asap! Can u assign it to me?

[2022-10-07 15:58] Tails commented on #1872
And what about adjusting the .wasi(true) config method to accept the parameters of wasi_module.initialize(..) instead? Would that not be like explicit permission? It's no problem that the module has to be initialized separately; just curious.

[2022-10-09 19:36] Tails opened #1911 "Compile Rust WASM extern function to call host function"
I'm trying to call the Rust SDK host from my Rust WASM code. There is a nice [example](https://github.com/WasmEdge/WasmEdge/blob/master/bindings/rust/wasmedge-sdk/examples/hello_world.rs) on how to define a host function, but the examples use pure WASM code instead of compiling Rust to WASM.

How should ```extern "C" { ... }``` (and 'wasmedge_bindgen'?) be used to have Rust WASM compile an extern

[2022-10-09 23:21] apepkuss commented on #1911
@DarumaDocker Could you please help with the issue from @Tails ? It seems to be related to `wasmedge-bindgen`. Thanks!

[2022-10-09 23:59] apepkuss opened #1912 "[wasi-nn] host function failed, Code: 0x8d"
## Description

### Current State

I'm trying to `load` host func of `wasi-nn` via Rust SDK. The API calling chain is `load_from_file` ---> `load_from_bytes` ---> `"load" host func`, in which the first two APIs are defined in `wasmedge-sdk::wasi`. The code snippet between line 19 and 25 in the example code below shows the call to the `load_from_file` API.

![image](https://user-images.githubuserco

[2022-10-10 01:15] apepkuss opened #1913 "[wasi-nn] Failed to register a wasi-nn module into vm"
## Description

I use the following test code to register a wasi-nn module into vm. The wasm file was generated from the [pytorch-mobilenet-image](https://github.com/second-state/WasmEdge-WASINN-examples/tree/master/pytorch-mobilenet-image/rust) project.

[code]

The error message below was raised while the test code was running to the call to `register_module`:

[code]

## Environment

- Hardware

[2022-10-10 03:18] apepkuss commented on #1872
**"... adjusting the .wasi(true) config method to accept the parameters of wasi_module.initialize(..) instead ..."**

Unfortunately, it is infeasible for Rust SDK to support this idea. Have to provide support at the level of runtime. For now, it would be better to add additional doc comments in Rust SDK for the usage. In case, other users run into the same issue.

[2022-10-10 07:51] Tails commented on #1911
I see it's related to this: https://github.com/second-state/wasmedge-bindgen/issues/4

[2022-10-10 13:32] TheZal commented on #1865
Not sure is enough for the PR, if I have to do more just tell me :)

[2022-10-11 03:56] DarumaDocker commented on #1911
@Tails `wasmedge-bindgen` is designed to pass complex data types such as String to wasm exported functions when called by the host, but not the other wasy around.

[2022-10-11 04:27] apepkuss commented on #1911
@Tails Please refer to [the reply](https://github.com/second-state/wasmedge-bindgen/issues/4#issuecomment-1274068687). Thanks!

[2022-10-11 08:10] sunnywa commented on #1078
您的邮件我已收到。——王琦

[2022-10-11 13:25] apepkuss commented on #1872
Closed by [the fix](https://github.com/second-state/wasmedge-bindgen/issues/4#issuecomment-1274638828).

[2022-10-12 01:11] yeongjukang commented on #1598
@hydai can you assign this to me?

[2022-10-12 04:47] q82419 commented on #1913
This is WASI.
Please add the WASI into the VM configure...

[2022-10-12 04:53] q82419 commented on #1912
Why do you want to call the host function directly?
The host function is for the WASM use.
When a WASM module invoke the host function, the calling frame will be set in, and therefore the host function can get the memory instance of the WASM module.
You invoke the host function from the module instance directly, obviously the host function cannot get the calling frame.

[2022-10-12 05:09] q82419 opened #1917 "Plug-in default load path"
## Description

### Current State

The plug-in default load path is fixed at `/usr/local/lib64` for the `manylinux2014` build.
https://github.com/WasmEdge/WasmEdge/blob/master/include/common/version.h.in#L27-L30
https://github.com/WasmEdge/WasmEdge/blob/master/lib/plugin/plugin.cpp#L252
If users install the WasmEdge on Ubuntu to the `/usr` or `/usr/local` path but not the default `$HOME/.wasmedge`

[2022-10-12 06:02] hydai commented on #1869
Hi @paravoid

Thanks for reporting this. After checking for a while, we would like to keep all of the `Handcrafted WAT, shipped alongside WASM` part because some of them are not generated from WAT, almost hand-written. We will add more cases like these test wasm files because we are going to add more invalid test cases in the near future which can only be handcrafted and there is no tool to compil

[2022-10-12 08:33] Tails commented on #1911
Solution is posted in the referred issue.

[2022-10-12 08:33] #1911 closed

[2022-10-12 10:03] abhinandanudupa opened #1918 "[Windows] Review the `WASI` Host API"
## Goal

Review and fix bugs/issues with the WASI Host API for the Windows Platform.

### Description

The Windows Platform, unfortunately, is not POSIX compliant. Hence the functionality that is described by the [WASI standard](https://github.com/WebAssembly/wasi-filesystem) may not be completely fulfilled. The [issues section](https://github.com/WebAssembly/wasi-filesystem/issues) will be a good

[2022-10-12 10:37] abhinandanudupa opened #1919 "[Windows] WASI Host function - `open`"

[2022-10-12 10:38] abhinandanudupa opened #1920 "[Windows] WASI Host function - `fdAdvise`"

[2022-10-12 10:38] abhinandanudupa opened #1921 "[Windows] WASI Host function - `fdAllocate`"

[2022-10-12 10:39] abhinandanudupa opened #1922 "[Windows] WASI Host function - `fdDatasync`"

[2022-10-12 10:40] abhinandanudupa opened #1923 "[Windows] WASI Host function - `fdFdstatGet`"

[2022-10-12 10:41] abhinandanudupa opened #1924 "[Windows] WASI Host function - `fdFdstatSetFlags`"

[2022-10-12 10:42] abhinandanudupa opened #1925 "[Windows] WASI Host function - `fdFilestatSetSize`"

[2022-10-12 10:42] abhinandanudupa opened #1926 "[Windows] WASI Host function - `fdFilestatSetTimes`"

[2022-10-12 10:43] abhinandanudupa opened #1927 "[Windows] WASI Host function - `fdPread`"

[2022-10-12 10:43] abhinandanudupa opened #1928 "[Windows] WASI Host function - `fdPwrite`"
## Description

### Current State

### Expected

## Environment

- Hardware Architecture: (e.g. x86\_64 or aarch64)
- Operating system: (e.g. Ubuntu 20.04 or CentOS 7.6)

The following information is optional. Please provide them only if you have built from source.
- C++ Compiler version:
- CMake version:
- CMake flags: (e.g. `-DCMAKE_BUILD_TYPE=Release -DWASMEDGE_BUILD_AOT_RUNTIME=ON`)
- Boost ve

[2022-10-12 10:44] abhinandanudupa opened #1929 "[Windows] WASI Host function - `fdRead`"

[2022-10-12 10:44] abhinandanudupa opened #1930 "[Windows] WASI Host function - `fdWrite`"

[2022-10-12 10:44] abhinandanudupa opened #1931 "[Windows] WASI Host function - `Readdir`"

[2022-10-12 10:45] abhinandanudupa opened #1932 "[Windows] WASI Host function - `fdSeek`"

[2022-10-12 10:45] abhinandanudupa opened #1933 "[Windows] WASI Host function - `fdSync`"

[2022-10-12 10:46] abhinandanudupa opened #1934 "[Windows] WASI Host function - `fdTell`"

[2022-10-12 10:46] abhinandanudupa opened #1935 "[Windows] WASI Host function - `getNativeHandler`"

[2022-10-12 10:47] abhinandanudupa opened #1936 "[Windows] WASI Host function - `pathCreateDirectory`"

[2022-10-12 10:47] abhinandanudupa opened #1937 "[Windows] WASI Host function - `pathFilestatGet`"

[2022-10-12 10:48] abhinandanudupa opened #1938 "[Windows] WASI Host function - `pathFilestatSetTimes`"

[2022-10-12 10:48] abhinandanudupa opened #1939 "[Windows] WASI Host function - `pathLink`"

[2022-10-12 10:49] abhinandanudupa opened #1940 "[Windows] WASI Host function - `pathOpen`"

[2022-10-12 10:49] abhinandanudupa opened #1941 "[Windows] WASI Host function - `pathReadlink`"

[2022-10-12 10:50] abhinandanudupa opened #1942 "[Windows] WASI Host function - `pathRemoveDirectory`"

[2022-10-12 10:50] abhinandanudupa opened #1943 "[Windows] WASI Host function - `pathRename`"

[2022-10-12 10:50] abhinandanudupa opened #1944 "[Windows] WASI Host function - `socketGetPeerAddr`"

[2022-10-12 10:51] abhinandanudupa opened #1945 "[Windows] WASI Host function - `unsafeFiletype`"

[2022-10-12 10:51] abhinandanudupa opened #1946 "[Windows] WASI Host function - `filetype`"

[2022-10-12 10:52] abhinandanudupa opened #1947 "[Windows] WASI Host function - `isDirectory`"

[2022-10-12 10:52] abhinandanudupa opened #1948 "[Windows] WASI Host function - `isSymlink`"

[2022-10-12 10:52] abhinandanudupa opened #1949 "[Windows] WASI Host function - `filesize`"

[2022-10-12 10:53] abhinandanudupa opened #1950 "[Windows] WASI Host function - `canBrowse`"

[2022-10-12 10:53] abhinandanudupa opened #1951 "[Windows] WASI Host function - `Poller::pollOneoff`"

[2022-10-12 10:53] abhinandanudupa opened #1952 "[Windows] WASI Host function - `Poller::clock`"

[2022-10-12 10:54] abhinandanudupa opened #1953 "[Windows] WASI Host function - `Poller::read`"

[2022-10-12 10:54] abhinandanudupa opened #1954 "[Windows] WASI Host function - `Poller::write`"

[2022-10-12 10:54] abhinandanudupa opened #1955 "[Windows] WASI Host function - `Poller::wait`"

[2022-10-12 11:04] abhinandanudupa opened #1956 "[Windows] WASI Host function - `pathSymLink`"

[2022-10-12 11:08] abhinandanudupa opened #1957 "[Windows] WASI Host function `pathUnlinkFile`"

[2022-10-12 11:18] abhinandanudupa opened #1958 "Increase the code coverage of inode-win.cpp"
## Motivation

More coverage -> better quality.

## Appendix

[[Windows] Implement host functions on the Windows platform #1826](https://github.com/WasmEdge/WasmEdge/pull/1826)

[2022-10-12 13:55] RahulSurwade08 commented on #1790
Hey, I would love to work on this issue. How can i get started?

[2022-10-13 04:30] hydai commented on #1790
Hi @RahulSurwade08,
You can refer to this workflow: https://github.com/WasmEdge/WasmEdge/blob/master/.github/workflows/build_for_openwrt.yml
And then try to figure out which part can be done inside a docker image, so we can use that image instead of building the whole openwrt again and again to reduce the building time.

[2022-10-13 04:31] hydai commented on #1790
Hi @Sush-Dew
Are you still on this? If not, I would like to transfer the assignee to @RahulSurwade08

[2022-10-13 06:52] Sush-Dew commented on #1790
Hi! @hydai I am working on this issue. please let me do it.

[2022-10-13 09:48] q82419 opened #1962 "[CI] Codecov failed"
## Description

The codecov failed in CI. Should update it.

[2022-10-14 07:47] apepkuss commented on #1913
It works. Thanks!

[2022-10-14 07:47] #1913 closed

[2022-10-14 08:04] hydai commented on #1962
Fixed.

[2022-10-14 08:04] #1962 closed

[2022-10-14 09:43] apepkuss commented on #1912
@q82419 Thanks for the explanation!

One more question: Does the function [WasmEdge_ModuleInstanceCreateWasiNN](https://github.com/WasmEdge/WasmEdge/blob/master/include/api/wasmedge/wasmedge.h#L1791-L1802) serve to create an import module? I didn't find any example or test code covering the usage of the c api, so could you please provide some code to demonstrate it? Thanks a lot!

[2022-10-14 18:45] q82419 commented on #1841
# Sample of serializing a section

You can refer to the [binary format of WASM](https://webassembly.github.io/spec/core/binary/modules.html) for details.
For every [sections](https://webassembly.github.io/spec/core/binary/modules.html#sections), the binary format is encoded as following:

[code]

In the data structure of loaded module in WasmEdge, the [`Section` class](https://github.com/WasmEdge/

[2022-10-14 20:42] batunpc commented on #1669
I'm investigating this

[2022-10-15 18:09] q82419 commented on #1841
For the remain time, I suggest that you should finish the following.

1. Design an code architecture to serialize the `WasmEdge::AST`, like the `WasmEdge::Loader` did to load and construct the data structure recursively.
2. The `TypeSection`, `FunctionSection`, `TableSection`, `MemorySection`, `ImportSection`, `ExportSection`, and `DatacountSection` are easier to serialize.
3. For the finished sec

[2022-10-15 20:42] alabulei1 commented on #1669
Great! Would you like to take it? I could assign it to you. Much appreciated.

[2022-10-16 05:37] batunpc commented on #1669
@alabulei1 I am using m1 chip OSX and still trying to adapt to the project. Currently I am able to build the project but I believe the file mentioned `inode-linux.cpp` is specifically written for Linux (i.e. WASMEDGE_OS_LINUX). Do I need linux environment for writing tests ?

[2022-10-16 16:12] munjalpatel commented on #1679
@apepkuss @hydai we are also looking for this as discussed here:
https://github.com/tessi/wasmex/issues/358

[2022-10-17 02:22] alabulei1 commented on #1669
@hydai  Could help answer this question?

[2022-10-17 03:54] MediosZ opened #1974 "WASI: Make poll_oneoff edge triggered."
## Motivation
`poll_oneoff` is using level-triggered mode with epoll in linux. However, applications like tokio assume that ~poll~ works in edge-triggered mode, making them constantly running under WasmEdge.
So using edge-triggered mode is necessary for tokio-based async applications.
Though this is a design problem of WASI, I suppose we use edge-triggered mode by default, and add a option to turn

[2022-10-17 03:57] MediosZ commented on #1974
Implementation details can be found in #1975

[2022-10-17 04:00] juntao commented on #1974
Can you describe / document the flag needed for the old level-triggered behavior? Thanks.

[2022-10-17 04:51] MediosZ commented on #1974
We can add an option like `--trigger_mode [ level / edge ]`

[2022-10-17 05:56] hydai commented on #1974
Since this feature will change the spec of `poll_oneoff`, which means it may break the expected behavior of the `poll_oneoff` function. What's the intention of using the same function name here?
And is it possible to have both `level-trigger` and `edge-trigger` functions in the same wasm application?

[2022-10-17 06:07] hydai commented on #1669
Yes, you should have a Linux environment to test it. Because some of the system functions between Linux and OSX are not the same. So I suggest that you should have a container to run the Linux env and do the stuff inside the env.

[2022-10-17 06:40] MediosZ commented on #1974
`wasmedge_wasi_socket` and other dependent crates use `poll_oneoff`, so I just change the behavior of the existed function.
I think we can have two functions, like `poll_oneoff` and `poll_oneoff_et` to provide new behavior without breaking the current one.
But `poll_oneoff_et` is not part of the wasi spec, is that ok?

I think it is possible

[2022-10-17 06:51] hydai commented on #1974
Because both the `level-trigger` and `edge-trigger` functions are available in the same wasm application, it's not really good to use the config/option to change the behavior.

I would like to have `poll_oneoff_e` or `epoll_oneoff` here. Since our WASI-Socket extension is also not part of the WASI spec, it should be fine.

[2022-10-17 07:03] MediosZ commented on #1974
yeah,I agree with the idea of having both functions, and it would easy to add one option in wasmedge_wasi_socket

[2022-10-17 07:56] hydai opened #1976 "[CAPI] Provide runtime-only library"
## Motivation

Some embedded devices don't need the ahead-of-time compilation because of hardware limitations. Providing a tiny library version may help.

## Details

Since we already have slim/slim-runtime docker images, just need to upload them on the release pages and add the related workflow jobs.

[2022-10-17 08:47] hydai commented on #1840
Hi @spencergotowork
Just want to know if the OpenVINO on manylinux is finished or not. If not, we should focus on the manylinux first.
The macOS and Windows will be the second tier, doesn't block this issue by these two platforms.

[2022-10-17 13:09] TaurusM opened #1977 "When I run a wasm program in container, it can not get environment variables."
Dockerfile like this:
![image](https://user-images.githubusercontent.com/28164162/196183365-1da87793-c69f-48fe-99e9-e8dca0a8b4cc.png)

and some code about get environment variables:
![image](https://user-images.githubusercontent.com/28164162/196183575-8245db4a-7918-4681-b184-4c1633b3719d.png)

and environment variables truely exists:
![微信截图_20221017210512](https://user-images.githubusercontent.com

[2022-10-17 14:42] #1631 closed

[2022-10-18 02:10] dm4 opened #1981 "Module Linking - add wasm to wasm support to wasmedge-bindgen"
## Motivation

In #1877 mentioned we'd like to use some serialize/deserialize protocol to replace interface type. Here we want to use wasmedge-bindgen to achieve this.

## Details

Current wasmedge-bindgen could only work when using rust to call export function from wasm. We'd like to add wasm to wasm support to wasmedge-bindgen.

We might need:
- [ ] Handle extern blocks in rust to generate impor

[2022-10-18 02:33] hydai commented on #1977
Hi @TaurusM
Could you provide reproduce steps?
For example, how do you execute the wasm file?

[2022-10-18 02:59] hydai opened #1983 "[Installer] The installer puts the library into a wrong path"
## Description

Ubuntu will put library files under `/usr/local/lib`. However, the python installer will create a new folder called `lib64` and put files there. Which is totally wrong.

Since this is a breaking behavior and will break all of our downstream, I am going to revert the python installer first. And we must have a more robust test environment to cover the full behavior between the old in

[2022-10-18 03:43] TaurusM commented on #1977
@hydai
Thanks for your reply.
In a container, execute directly by: "/panilake-user.wasm", which defined in the Dockerfile:
![image](https://user-images.githubusercontent.com/28164162/196330309-3d16b064-bcc4-42b7-b233-43d73b741159.png)